﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Agilix</title>
    <!-- STYLESHEETS -->
    <link href="~/Content/shared/index-login.css?V=1.3" rel="stylesheet" />
</head>
<body>
    @if (!Request.IsAuthenticated)
    {
        <!-- If the user is not authenticated, display the sign-in button -->
        <div class="box-redir-office">

            <div class="box-text-redir">
                <p class="text-redir">Debes ingresar con tus credenciales de Office 365</p>
                <p class="text-redir">Da click en el botón de abajo, ingresa tus credenciales</p>
                <p class="text-redir">y serás redirigido a la aplicación automáticamente:</p>
            </div>

            <a href="@Url.Action("SignIn", "Home")" style="text-decoration: none;">
                <svg xmlns="http://www.w3.org/2000/svg" xml:space="preserve" width="300px" height="50px" viewBox="0 0 3278 522" class="SignInButton">
                <style type="text/css">

                    .fil0:hover {
                        fill: #4B4B4B;
                    }

                    .fnt0 {
                        font-size: 260px;
                        font-family: 'Segoe UI Semibold', 'Segoe UI';
                        text-decoration: none;
                    }
</style>
                <rect class="fil0" x="2" y="2" width="3174" height="517" fill="black" />



                <rect x="150" y="129" width="122" height="122" fill="#F35325" />



                <rect x="284" y="129" width="122" height="122" fill="#81BC06" />



                <rect x="150" y="263" width="122" height="122" fill="#05A6F0" />



                <rect x="284" y="263" width="122" height="122" fill="#FFBA08" />



                <text x="470" y="357" fill="white" class="fnt0">Ingresar en Microsoft</text>
            </svg>
            </a>
        </div>
    }
    else
    {
        var userClaims = User.Identity as System.Security.Claims.ClaimsIdentity;
        String EMail = userClaims?.FindFirst("preferred_username")?.Value;
        <span><br />Hola @System.Security.Claims.ClaimsPrincipal.Current.FindFirst("name").Value</span>
        <span><br />@EMail</span>
        <br /><br />
        <div class="box-text-noaccount">
            <div class="box-text-danger">
                <h1 class="text-redir">Si No tienes usuario asignado</h1>
                <p class="text-redir">Comunicate con el área de RH o Sistemas para solucionarlo.</p>
                <span><i class="icon s-10 icon-alert-circle-outline" style="color: red;"></i></span>
            </div>

            <div class="box-sign-out">
                @Html.ActionLink("Portal RH", "Index", "Home")
            </div>
            <div class="box-sign-out">
                @Html.ActionLink("Sign out", "SignOut", "Home")
            </div>
        </div>
    }
    @if (!string.IsNullOrWhiteSpace(Request.QueryString["errormessage"]))
    {
        <div class="box-error-message">
            <span style="margin-top: 2%; margin-bottom: 2%"><i class="icon s-14 icon-alert-circle-outline" style="color: red;"></i></span>
            <div class="box-text-error-message">
                <div class="box-txt">
                    <p class="text-error" style="color: red; font-size: 2rem;">Error:</p>
                    <p class="text-error">@Request.QueryString["errormessage"]</p>
                </div>
            </div>
        </div>
    }
</body>
</html>
