﻿@{
    ViewBag.Title = "AdminSolicitudes";
}


<!-- STYLESHEETS -->

<div class="tittle">
    <div class="title-text">
        Administrador de Vaca
    </div>
    <div class="admin-header">
        <header class="crz-header">Solicitudes</header>
        <header class="crz-header">Comentarios</header>
    </div>
</div>


<!-- CONTENT -->
<div class="not-view" style="flex-direction:column;">
    <div style="display: flex; width: 100%; height: 9vh; justify-content: center; align-items: center;">
        <div style="display: flex; width: 100%; height: 90%; justify-content: space-around; align-items: center; background-color: #ECECEE; border-bottom: 1px solid #00464e;     padding: 5px;">
            <div class="search-bar" style="        display: flex;
        width: 40%;
        border: 1px solid #00464E;
        border-radius: 5px;
        padding: 5px;
        height: 100%;">

                <div class="input-group">

                    <input type="text" style="height: 100%;" class="search-input form-control" placeholder="Buscar por No. de Empleado" aria-label="Search.." />

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-icon">
                            <i class="icon icon-magnify"></i>
                        </button>
                    </span>
                </div>
            </div>

            <div class="search-bar" style=" display: flex; width: 40%; border: 1px solid #00464E; border-radius: 5px; padding: 5px; height: 100%; ">

                <div class="input-group">

                    <input type="text" style="height: 100%;" class="search-input form-control" placeholder="Buscar por Año" aria-label="Search.." />

                    <span class="input-group-btn">
                        <button type="button" class="btn btn-icon">
                            <i class="icon icon-magnify"></i>
                        </button>
                    </span>
                </div>
            </div>

        </div>

    </div>

    <div style="display:flex;">
        <scroll-container class="notifications-list" style="border-right: 1px solid #00464E; border-radius:0">
            <div class="background-list">

                <scroll-page class="request">

                    <div class="data-rqst">
                        <p>Solicitud 04932094 </p>
                        <p>Permiso de Paternidad</p>
                    </div>
                    <div class="date-rqst">
                        <p>Fecha de Solicitud</p>
                        <p>11 Dic 2019</p>
                    </div>

                </scroll-page>
                <hr>
                <scroll-page class="request">

                    <div class="data-rqst">
                        <p>Solicitud 04932094 </p>
                        <p>Permiso de Paternidad</p>
                    </div>
                    <div class="date-rqst">
                        <p>Fecha de Solicitud</p>
                        <p>11 Dic 2019</p>
                    </div>

                </scroll-page>
                <hr>
                <scroll-page class="request">

                    <div class="data-rqst">
                        <p>Solicitud 04932094 </p>
                        <p>Permiso de Paternidad</p>
                    </div>
                    <div class="date-rqst">
                        <p>Fecha de Solicitud</p>
                        <p>11 Dic 2019</p>
                    </div>

                </scroll-page>
                <hr>
                <scroll-page class="request">

                    <div class="data-rqst">
                        <p>Solicitud 04932094 </p>
                        <p>Permiso de Paternidad</p>
                    </div>
                    <div class="date-rqst">
                        <p>Fecha de Solicitud</p>
                        <p>11 Dic 2019</p>
                    </div>

                </scroll-page>
                <hr>
                <scroll-page class="request">

                    <div class="data-rqst">
                        <p>Solicitud 04932094 </p>
                        <p>Permiso de Paternidad</p>
                    </div>
                    <div class="date-rqst">
                        <p>Fecha de Solicitud</p>
                        <p>11 Dic 2019</p>
                    </div>

                </scroll-page>
                <hr>
                <scroll-page class="request">

                    <div class="data-rqst">
                        <p>Solicitud 04932094 </p>
                        <p>Permiso de Paternidad</p>
                    </div>
                    <div class="date-rqst">
                        <p>Fecha de Solicitud</p>
                        <p>11 Dic 2019</p>
                    </div>

                </scroll-page>
                <hr>
                <scroll-page class="request">

                    <div class="data-rqst">
                        <p>Solicitud 04932094 </p>
                        <p>Permiso de Paternidad</p>
                    </div>
                    <div class="date-rqst">
                        <p>Fecha de Solicitud</p>
                        <p>11 Dic 2019</p>
                    </div>

                </scroll-page>
                <hr>
                <scroll-page class="request">

                    <div class="data-rqst">
                        <p>Solicitud 04932094 </p>
                        <p>Permiso de Paternidad</p>
                    </div>
                    <div class="date-rqst">
                        <p>Fecha de Solicitud</p>
                        <p>11 Dic 2019</p>
                    </div>

                </scroll-page>
                <hr>

            </div>
        </scroll-container>

        <scroll-container class="view-notification">

            <scroll-page class="background-list">
                <!--<p class="text-no-view">Da clic en alguna notificación para vizualizarla aquí</p>-->
                @Html.Partial("_solicitudPermiso")

            </scroll-page>

        </scroll-container>
    </div>


</div>

<!-- CONTENT -->
