﻿
@{
    ViewBag.Title = "CalendarioEmp";
}

<!-- CONTENT -->
    <div>
        <div class="content container">
            <div id="calendar" class="page-layout simple full-width">

                <!-- HEADER -->
                <div class="page-header bg-primary text-auto p-6">

                    <!-- HEADER CONTENT-->
                    <div class="header-content d-flex flex-column justify-content-between">

                        <!-- HEADER TOP -->
                        <div class="header-top d-flex flex-column flex-sm-row align-items-center  justify-content-center justify-content-sm-between">

                            <div class="logo row align-items-center no-gutters mb-4 mb-sm-0">
                                <i class="logo-icon icon-calendar-today mr-4"></i>
                                <span class="logo-text h4">Calendario</span>
                            </div>

                            <!-- TOOLBAR -->
                            <div class="toolbar row no-gutters align-items-center">

                                <button type="button" class="btn btn-icon" aria-label="Search">
                                    <i class="icon icon-magnify"></i>
                                </button>

                                <button id="calendar-today-button" type="button" class="btn btn-icon" aria-label="Today">
                                    <i class="icon icon-calendar-today"></i>
                                </button>

                                <button type="button" class="btn btn-icon change-view" data-view="agendaDay" aria-label="Day">
                                    <i class="icon icon-view-day"></i>
                                </button>

                                <button type="button" class="btn btn-icon change-view" data-view="agendaWeek" aria-label="Week">
                                    <i class="icon icon-view-week"></i>
                                </button>

                                <button type="button" class="btn btn-icon change-view" data-view="month" aria-label="Month">
                                    <i class="icon icon-view-module"></i>
                                </button>
                            </div>
                            <!-- / TOOLBAR -->
                        </div>
                        <!-- / HEADER TOP -->
                        <!-- HEADER BOTTOM -->
                        <div class="header-bottom row align-items-center justify-content-center">

                            <button id="calendar-previous-button" type="button" class="btn btn-icon" aria-label="Previous">
                                <i class="icon icon-chevron-left"></i>
                            </button>

                            <div id="calendar-view-title" class="h5">
                            </div>

                            <button id="calendar-next-button" type="button" class="btn btn-icon" aria-label="Next">
                                <i class="icon icon-chevron-right"></i>
                            </button>
                        </div>
                        <!-- / HEADER BOTTOM -->
                    </div>
                    <!-- / HEADER CONTENT -->

                </div>
                <!-- / HEADER -->
                <!-- CONTENT -->
                <div class="page-content p-6">
                    <div id="calendar-view"></div>
                </div>
                <!-- / CONTENT -->
            </div>

            <link type="text/css" rel="stylesheet" href="../assets/node_modules/fullcalendar/dist/fullcalendar.min.css" />
            <link type="text/css" rel="stylesheet" href="../assets/node_modules/fullcalendar/dist/fullcalendar.print.min.css" media="print" />

            <script type="text/javascript" src="../assets/node_modules/moment/min/moment.min.js"></script>
            <script type="text/javascript" src="../assets/node_modules/fullcalendar/dist/fullcalendar.min.js"></script>
            <script type="text/javascript" src="../assets/js/apps/calendar/calendar.js"></script>

        </div>
        <div class="quick-panel-sidebar custom-scrollbar" fuse-cloak data-fuse-bar="quick-panel-sidebar" data-fuse-bar-position="right">
            <div class="list-group" class="date">

                <div class="list-group-item subheader">TODAY</div>

                <div class="list-group-item two-line">

                    <div class="text-muted">

                        <div class="h1"> Friday</div>

                        <div class="h2 row no-gutters align-items-start">
                            <span> 5</span>
                            <span class="h6">th</span>
                            <span> May</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="divider"></div>

            <div class="list-group">

                <div class="list-group-item subheader">Events</div>

                <div class="list-group-item two-line">

                    <div class="list-item-content">
                        <h3>Group Meeting</h3>
                        <p>In 32 Minutes, Room 1B</p>
                    </div>
                </div>

                <div class="list-group-item two-line">

                    <div class="list-item-content">
                        <h3>Public Beta Release</h3>
                        <p>11:00 PM</p>
                    </div>
                </div>

                <div class="list-group-item two-line">

                    <div class="list-item-content">
                        <h3>Dinner with David</h3>
                        <p>17:30 PM</p>
                    </div>
                </div>

                <div class="list-group-item two-line">

                    <div class="list-item-content">
                        <h3>Q&amp;A Session</h3>
                        <p>20:30 PM</p>
                    </div>
                </div>

            </div>

            <div class="divider"></div>

            <div class="list-group">

                <div class="list-group-item subheader">Notes</div>

                <div class="list-group-item two-line">

                    <div class="list-item-content">
                        <h3>Best songs to listen while working</h3>
                        <p>Last edit: May 8th, 2015</p>
                    </div>
                </div>

                <div class="list-group-item two-line">

                    <div class="list-item-content">
                        <h3>Useful subreddits</h3>
                        <p>Last edit: January 12th, 2015</p>
                    </div>
                </div>

            </div>

            <div class="divider"></div>

            <div class="list-group">

                <div class="list-group-item subheader">Quick Settings</div>

                <div class="list-group-item">

                    <div class="list-item-content">
                        <h3>Notifications</h3>
                    </div>

                    <div class="secondary-container">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" />
                            <span class="custom-control-indicator"></span>
                        </label>
                    </div>

                </div>

                <div class="list-group-item">

                    <div class="list-item-content">
                        <h3>Cloud Sync</h3>
                    </div>

                    <div class="secondary-container">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" />
                            <span class="custom-control-indicator"></span>
                        </label>
                    </div>

                </div>

                <div class="list-group-item">

                    <div class="list-item-content">
                        <h3>Retro Thrusters</h3>
                    </div>

                    <div class="secondary-container">

                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input" />
                            <span class="custom-control-indicator"></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- CONTENT -->
