﻿


    
    
    
    
    
    
    <link rel="stylesheet" href="~/calendarAplics/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="~/calendarAplics/css/styles.css">
    <link rel='stylesheet' type='text/css' href='~/calendarAplics/css/fullcalendar.css' />
    <script type='text/javascript' src='~/calendarAplics/js/moment.min.js'></script>
    <script type='text/javascript' src='~/calendarAplics/js/fullcalendar.min.js'></script>
    <script type='text/javascript' src='~/calendarAplics/js/locale/es.js'></script>
    <script>

        function getData() {
            var data;
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '@Url.Action("CalendarioListaEventos","Permisos")',
                dataType: 'json',
                success: function (response) {
                    data = response;
                }
            });
            //console.log('hola mundo1');
            //console.log(data);
            return data;
        }

        function addZero(i) {
            if (i < 10) {
                i = '0' + i;
            }
            return i;
        }

        var hoy = new Date();
        var dd = hoy.getDate();
        if (dd < 10) {
            dd = '0' + dd;
        }

        if (mm < 10) {
            mm = '0' + mm;
        }

        var mm = hoy.getMonth() + 1;
        var yyyy = hoy.getFullYear();

        dd = addZero(dd);
        mm = addZero(mm);

        $(document).ready(function () {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultDate: yyyy + '-' + mm + '-' + dd,
                buttonIcons: true, // show the prev/next text
                weekNumbers: false,
                editable: true,
                eventLimit: true, // allow "more" link when too many events
                events: getData(),
                dayClick: function (date, jsEvent, view) {
                    alert('Has hecho click en: ' + date.format());
                },
                eventClick: function (calEvent, jsEvent, view) {
                    $('#event-title').text(calEvent.title);
                    $('#event-description').html(calEvent.description);
                    $('#modal-event').modal();
                },
            });
        });

    </script>


        <div class="row">
            <div id="content" class="col-lg-12">
                <div id="calendar"></div>
                <div class="modal fade" id="modal-event" tabindex="-1" role="dialog" aria-labelledby="modal-eventLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="event-title"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div id="event-description"></div>
                            </div>
                            @*<div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Save changes</button>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>



