﻿@using Aplics.Servicios.Modelos.Solicitudes
@model Dashboard
@*@model DashboardxEjercicio*@

@{
    ViewBag.Title = "HistoricoDescansos";
    List<Aplics.Servicios.Modelos.Solicitudes.ItemSolicitiud> ListaConceptos = new List<Aplics.Servicios.Modelos.Solicitudes.ItemSolicitiud>();
}
<!-- STYLESHEETS -->
<link href="~/Content/permisos/historicodescansos.css?version=1.3" rel="stylesheet" />

<script src="~/Scripts/Permisos/SolicitudesPermisos.js" asp-append-version="true"></script>

<script>
    $(document).ready(function () {
        $("#toggle-btn").click(function () {
            $("#toggle-example").collapse('toggle'); // toggle collapse
        });
    });
</script>

<!-- CONTENT -->
<div class="tittle">
    Histórico de Descansos
</div>

<div class="not-views">
    <div class="header-historico">
        <div class="user-data">
            <p id="userName">@this.Session["NombreEmpleado"].ToString()</p>
            <p id="userNumber">No. de Empleado: @this.Session["NoEmp"].ToString()</p>
            <p id="yearMember">Miembro desde: @this.Session["AnioIngreso"].ToString()</p>
        </div>

        <div class="box-button">
            <button id="btnNuevaSolicitud" type="button" form="form1" value="Submit" class="btn float-right" style=" text-transform: capitalize;background-color:#3949ab; border-color: #3949ab; height: 4vw; width: 14vw; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw; " data-toggle="modal" data-target="#modalNewRequest"> Nueva Solicitud </button>

        </div>
    </div>
    <div class="year-view">
        @foreach (DashboardSolicitud da in Model.Solicitudes)
        {
            @*@foreach (DashboardxEjercicio.DescansosAnual da in Model.TableroDescanso)*@


            using (Html.BeginForm("ListaDescansosAnual", "Permisos", FormMethod.Post, new { @id = "form_" + da.Id, @class = "mt-8" }))
            {
                @*<div class="card" style="border-radius: 10px;" onclick='$("#submit-input").click();'>*@
                @*<div class="card" style="border-radius: 10px; cursor:pointer;" onclick='$("#submit-input@(da.Id)").click();'>*@
                <div class="card" style="border-radius: 10px; cursor:pointer;">
                    <div class="card-tittle" style="        background-color: #5599EF;">
                        @da.Id
                    </div>
                    <div class="card-content">
                        <p class="balances">Te corresponden: @System.Math.Round(da.DiasCorrespondientes, 1) días</p>
                        <p class="balances">Tienes disponibles: @System.Math.Round(da.DiasDisponibles, 1) días</p>
                        <p class="balances">Has disfrutado: @System.Math.Round(da.DiasDisfrutados, 1) días</p>
                        <p class="balances">Por aprobar: @System.Math.Round(da.DiasPorAprobar, 1) días</p>
                    </div>
                    <div class="box-buttons-hist-perm">
                        <input type="submit" onclick="form_@(da.Id).flagVacaciones.value = '1';" value="Vacaciones" name="btnVacaciones" id="submit-vacaciones@(da.Id)" class="btn-vacaciones" />
                        <input type="submit" onclick="form_@(da.Id).flagPermisos.value = '1';" value="Permisos" name="btnPermisos" id="submit-permisos@(da.Id)" class="btn-permiso" />
                    </div>
                </div>
                <input id="submit-input@(da.Id)" type="submit" form="form_@(da.Id)" style="display:none" />
                <input name="anio" type="hidden" value="@da.Id" id="anio" />
                <input name="test" type="hidden" value="hola" id="test" />
                <input type="hidden" value="0" id="flagVacaciones" Name="flagVacaciones" />
                <input type="hidden" value="0" id="flagPermisos" Name="flagPermisos" />

            }
        }
    </div>


    <div style="width:100%;
        justify-content: center;
            display: flex;
                flex-direction: column;
                align-items: center;">
        <!-- Toogle Buttons -->

        <div class="box-button-help" style="text-align:center; width:15%;" id="toggle-btn"
             data-toggle="collapse" data-target="#toggle-example">
            <button class="expand-button" type="button" style="width: 100%;">
                ¿Tienes Dudas?
            </button>
            <i class="icon s-12 icon-arrow-down-drop float-center" style="color: #00464E;"></i>
        </div>


        @*<div id="toggle-example" class="collapse in">
                <p>
                    If you don't like something, <b>change it</b>.
                    If you can't change it, change your <b>attitude</b>.
                </p>
            </div>*@

        <div class="collapse in" id="toggle-example" role="tabpanel" style="width: 100%; padding:1%; justify-content: center; align-items: center; color: #00464E; font-size: 2rem; text-align: justify;">
            <div class="step-1">
                <p>En este apartado puedes encontrar los días que te corresponden por año laborado en la empresa.</p>
                <img src="../assets/images/user-help/card-2019.png" alt="imagen tarjeta por año">
            </div>
            <div class="step-2">
                <p>
                    Al hacer click sobre alguna tarjeta, se desplegará el historial de descansos que solicitaste ese año.
                    Puedes filtrar para ver solo los aprobados, los rechazados o los pendientes.
                </p>
                <img src="../assets/images/user-help/2019-lista.png" alt="imagen histórico de año">
            </div>
            <div class="step-3">
                <div class="box-text-step3">
                    <p>Para acceder al formulario y solicitar vacaciones y otros permisos pulsa el botón: </p>
                    <img class="img-button-nr" src="../assets/images/user-help/boton-nueva-solicitud.png" alt="imagen botón nueva solicitud de ejemplo">
                </div>
                <img class="img-new-rqst" src="../assets/images/user-help/form-nueva-sol.png" alt="imagen cómo solicitar un permiso">
            </div>
            <div class="step-4">
                <p>Serás notificado cuando tu superior y/o RH aprueben tu solicitud.</p>
                <img src="../assets/images/user-help/notificacion.png" alt="imagen ejemplo de notificación">
            </div>

            <div class="footer">
                <p>¡Así de fácil!</p>
                <p>¡Solicita tus vacaciones de forma ágil!</p>
            </div>
        </div>

    </div>

    @*<div class="user-help">

            <div class="box-button-help" data-toggle="collapse" data-parent="#userHelpAccordion" href="#userHelpAccordion" aria-expanded="false" aria-controls="userHelpAccordion">
                <button class="expand-button">¿Tienes Dudas?</button>
                <i class="icon s-9 icon-arrow-down-drop float-center" style="color: #00464E;"></i>
            </div>

            <div class="instructions collapse" id="userHelpAccordion" role="tabpanel">
                <div class="step-1">
                    <p>En este apartado puedes encontrar los días que te corresponden por año laborado en la empresa.</p>
                    <img src="../assets/images/user-help/card-2019.png" alt="imagen tarjeta por año">
                </div>
                <div class="step-2">
                    <p>
                        Al hacer click sobre alguna tarjeta, se desplegará el historial de descansos que solicitaste ese año.
                        Puedes filtrar para ver solo los aprobados, los rechazados o los pendientes.
                    </p>
                    <img src="../assets/images/user-help/2019-lista.png" alt="imagen histórico de año">
                </div>
                <div class="step-3">
                    <div class="box-text-step3">
                        <p>Para acceder al formulario y solicitar vacaciones y otros permisos pulsa el botón: </p>
                        <img class="img-button-nr" src="../assets/images/user-help/boton-nueva-solicitud.png" alt="imagen botón nueva solicitud de ejemplo">
                    </div>
                    <img class="img-new-rqst" src="../assets/images/user-help/form-nueva-sol.png" alt="imagen cómo solicitar un permiso">
                </div>
                <div class="step-4">
                    <p>Serás notificado cuando tu superior y/o RH aprueben tu solicitud.</p>
                    <img src="../assets/images/user-help/notificacion.png" alt="imagen ejemplo de notificación">
                </div>

                <div class="footer">
                    <p>¡Así de fácil!</p>
                    <p>¡Solicita tus vacaciones de forma ágil!</p>
                </div>
            </div>


        </div>*@

</div>


@Html.Partial("_modalPermiso", ListaConceptos)

<script type="text/javascript">
    function test() {
        alert('asdfasdf');
    }
</script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnNuevaSolicitud").click(function () {
            //alert("Handler for .click() called.");
            //fillCombo("tipo", "2020-03-29");

            console.log("hola mundo 1");

            //var arrayList = [
            //    { "Id": 100, "Name": "Abc" },
            //    { "Id": 200, "Name": "XYZ" }
            //];

            console.log("@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()");
            console.log("@Url.Action("LlenaComboTipo","Permisos",null,Request.Url.Scheme)");

            $("#tipoLoading").fadeTo(100, 1);
            $("#solicitar").prop("disabled", true);
            $("#fechaIni").prop("disabled", true);
            $("#fechaFin").prop("disabled", true);
            $("#file").prop("disabled", true);
            $("#iconfileSub").prop("disabled", true);

            //$.getJSON("/Permisos/LlenaComboTipo", function (data) {
            $.getJSON("@Url.Action("LlenaComboTipo","Permisos",null,Request.Url.Scheme)", function (data) {
                //console.log("hola mundo 2");
                for (var i = 0; i <= data.length - 1; i++) {
                    if (data[i].Politica == true) {
                        $('#tipo').append('<option value="' + data[i].Id + '" data-tope="' + data[i].Tope + '">' + data[i].Descripcion + '</option>');
                    }
                }

                console.log("hola mundo 2");

                $("#tipoLoading").fadeTo(100, 0);
                $("#solicitar").prop("disabled", false);
                $("#fechaIni").prop("disabled", false);
                $("#fechaFin").prop("disabled", false);
                $("#file").prop("disabled", false);
                $("#iconfileSub").prop("disabled", false);

            });

        });
    });

</script>