﻿@model Aplics.Servicios.Modelos.Solicitudes.Dashboard
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<Aplics.Servicios.Modelos.Solicitudes.ItemSolicitiud> ListaConceptos = new List<Aplics.Servicios.Modelos.Solicitudes.ItemSolicitiud>();
    String descripcionUMED = "dias";
}

<!-- STYLESHEETS -->
<link href="~/Content/permisos/listapermisos.css?version=2.7" rel="stylesheet" />

<!-- CONTENT -->



<div class="tittle">
    Mis Solicitudes
</div>
<div class="page-content">
    <div class="content" style="margin: 0;">
        @if (Model !=null && Model.Solicitudes != null && Model.Solicitudes.Count() > 0)
        {
            <div class="box-button">
                <button type="button" id="btnNuevaSolicitud" form="form1" value="Submit" class="btn float-right" style=" text-transform: capitalize;background-color:#3949ab; border-color: #3949ab; height: 4vw; width: 14vw; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw; " data-toggle="modal" data-target="#modalNewRequest"> Nueva Solicitud </button>
                <button type="button" id="btnSolicitudOK" form="form1" value="Submit" class="btn float-right" style=" text-transform: capitalize;background-color:#3949ab; border-color: #3949ab; height: 4vw; width: 14vw; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw; visibility:hidden; " data-toggle="modal" data-target="#modal-confirm-aprob">SOLICITUD OK</button>
            </div>

            <div class="content-r row" style="cursor:pointer;">

                @foreach (var item in Model.Solicitudes)
                {
                    //using (Html.BeginForm("MisPermisos", "Permisos", FormMethod.Post, new { @id = "form " + item.Id, @class = "mt-8" }))
                    if (item.UMED.Trim().ToLower().Equals("dia"))
                    {
                        descripcionUMED = " días.";
                    } else if (item.UMED.Trim().ToLower().Equals("mdi"))
                    {
                        descripcionUMED = " medios días.";
                    } else if (item.UMED.Trim().ToLower().Equals("hrs"))
                    {
                        descripcionUMED = " horas.";
                    } else
                    {
                        descripcionUMED = " unidades.";

                    }

                    using (Html.BeginForm("MisPermisos", "Permisos", new { modulo = "ListaPermisos" }, FormMethod.Post, new { @id = "form " + item.Id, @class = "mt-8" }))
                    {

                        <input type="text" id="color" style="display:none" name="color" value="@item.ColordeFondo">
                        <input type="text" id="id" style="display:none" name="id" value="@item.Id">
                        <input type="text" id="name" style="display:none" name="name" value="@item.Descripcion">


                        <div class="card" onclick="document.forms['form @item.Id'].submit();" style="border-radius: 10px;">
                            <div class="card-tittle" style="background-color: @item.ColordeFondo;">
                                @item.Descripcion

                            </div>
                            <div class="card-content">

                                @if ((item.Descripcion.Equals("Horas de Enfermedad") == true) ||
                                     (item.Descripcion.Equals("Días de Enfermedad") == true) ||
                                     (item.Descripcion.Equals("Permiso sin goce de sueldo") == true) ||
                                     (item.Descripcion.Equals("Incapacidad por enfermedad") == true) ||
                                     (item.Descripcion.Equals("Incapacidad por maternidad") == true) ||
                                     (item.Descripcion.Equals("Incapacidad riesgo de trabajo") == true) ||
                                     (item.Descripcion.Equals("Permisos Especiales") == true)
                                     )
                                {
                                <div class="card-content-ex">
                                    <p class="balances">Has disfrutado:  @System.Math.Round(item.DiasDisfrutados, 0) @descripcionUMED</p>
                                    <p class="balances">Por aprobar:  @System.Math.Round(item.DiasPorAprobar, 0) @descripcionUMED</p>
                                    <p class="balances">Por procesar (Nominix):  @System.Math.Round(item.DiasPorProcesarNominix, 0) @descripcionUMED</p>
                                </div>
                                }
                                else
                                {
                                    <p class="balances">Te corresponden: @System.Math.Round(item.DiasCorrespondientes, 0) @descripcionUMED</p>
                                    <p class="balances">Tienes disponibles:  @System.Math.Round(item.DiasDisponibles, 0) @descripcionUMED</p>
                                    <p class="balances">Has disfrutado:  @System.Math.Round(item.DiasDisfrutados, 0) @descripcionUMED</p>
                                    <p class="balances">Por aprobar:  @System.Math.Round(item.DiasPorAprobar, 0) @descripcionUMED</p>
                                    <p class="balances">Por procesar:  @System.Math.Round(item.DiasPorProcesarNominix, 0) @descripcionUMED</p>
                                }

                            </div>
                        </div>

                    }

                }

            </div>
        } else {
            <div class="err-conf">
                <p class="user-conf">Tu usuario no está correctamente configurado,</p>
                <p class="user-conf">Por favor notifica a sistemas.</p>
            </div>
        }

    </div>
</div>

@Html.Partial("_modalPermiso", ListaConceptos)

@Html.Partial("_modalConfirmSolicitud")


@if (Session["idSolicitud"] != null)
{

    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSolicitudOK").trigger("click");
        })
    </script>

    Session["idSolicitud"] = null;

}

<script src="~/Scripts/Permisos/SolicitudesPermisos.js" asp-append-version="true"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#btnNuevaSolicitud").click(function () {
            //alert("Handler for .click() called.");
            //fillCombo("tipo", "2020-03-29");

            console.log("hola mundo 1");

            //var arrayList = [
            //    { "Id": 100, "Name": "Abc" },
            //    { "Id": 200, "Name": "XYZ" }
            //];

            console.log("@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()");
            console.log("@Url.Action("LlenaComboTipo","Permisos",null,Request.Url.Scheme)");

            $("#tipoLoading").fadeTo(100, 1);
            $("#solicitar").prop("disabled", true);
            $("#fechaIni").prop("disabled", true);
            $("#fechaFin").prop("disabled", true);
            $("#file").prop("disabled", true);
            $("#iconfileSub").prop("disabled", true);
            
            $.getJSON("@Url.Action("LlenaComboTipo","Permisos",null,Request.Url.Scheme)", function (data) {

                console.log(data);

                for (var i = 0; i <= data.length - 1; i++) {
                    if (data[i].Politica == true) {
                        $('#tipo').append('<option value="' + data[i].Id + '" data-tope="' + data[i].Tope + '">' + data[i].Descripcion + '</option>');
                    }
                }
                console.log("hola mundo 2");

                $("#tipoLoading").fadeTo(100, 0);
                $("#solicitar").prop("disabled", false);
                $("#fechaIni").prop("disabled", false);
                $("#fechaFin").prop("disabled", false);
                $("#file").prop("disabled", false);
                $("#iconfileSub").prop("disabled", false);

            });
            

            @*$.getJSON("/@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()/LlenaComboTipo", function (data) {
                console.log("hola mundo 2");
                for (var i = 0; i <= data.length - 1; i++) {
                    if (data[i].Politica == true) {
                        $('#tipo').append('<option value="' + data[i].Id + '">' + data[i].Descripcion + '</option>');
                    }
                }
            });*@

            //$.getJSON("../Permisos/LlenaComboTipo", function (data) {
            //    console.log("hola mundo 2");
            //    for (var i = 0; i <= data.length - 1; i++) {
            //        if (data[i].Politica == true) {
            //            $('#tipo').append('<option value="' + data[i].Id + '">' + data[i].Descripcion + '</option>');
            //        }
            //    }
            //});

        });
    });

</script>




