﻿@using Aplics.Servicios.Modelos.Nominix;
@model List<Documento>
@{
    ViewBag.Title = "Index";
    int index = 0;

    if (ViewBag.Titulo == null) { ViewBag.Titulo = String.Empty; }
    String Titulo = ViewBag.Titulo;
}

<!-- STYLESHEETS -->
<link href="~/Content/shared/documentos.css?V=1.1" rel="stylesheet" />

<div class="tittle">
    <div class="title-text">
        @Titulo
    </div>
</div>

<div class="">
    <div class="content container">
        <div class="row">
            <!-- CONTENT -->
            <!-- LIST VIEW -->
            <table id="table_mis-documentos" class="table compact stripe hover row-border order-column" data-page-length='5' style="width: 100%;">
                <thead style="background-color: #5599EF; color: #00464E; font-family: 'Raleway';font-weight: bold;">

                    <tr>

                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title"></span>
                            </div>
                        </th>

                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Nombre</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Tipo</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Propietario</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha</span>
                            </div>
                        </th>

                    </tr>

                </thead>
                <tbody style="text-align: center; color: #00464E; font-family: 'Raleway';font-weight: 400;">
                    @foreach (Documento d in Model)
                    {
                        index += 1;

                        <tr>
                            <td>
                                @if (d.Tipo.ToLower().Equals("carpeta"))
                                {
                                    <i class="icon s-4 icon-folder" style="cursor:pointer;" onclick='$("#form_@index").submit();'></i>
                                }
                                else
                                {
                                    <a href="@d.URL" target="_blank"><i class="fa fa-file"></i></a>
                                }
                            </td>
                            <td style="cursor:pointer;">
                                @if (d.Tipo.ToLower().Equals("carpeta"))
                                {
                                    <span onclick='$("#form_@index").submit();' style="color: blue;">@d.Nombre</span>
                                    using (Html.BeginForm("ContenidoCarpeta", "Documentos", FormMethod.Post, new { @id = "form_" + index, @class = "mt-8", @style = "display: none;" }))
                                    {
                                        <input type="hidden" value="@d.Raiz" id="Ruta" name="Ruta" />
                                    }
                                }
                                else
                                {
                                    <a href="@d.URL" target="_blank" style="color: blue;">@d.Nombre</a>;
                                }
                            </td>
                            <td>@d.Tipo</td>
                            <td>@d.Propietario</td>
                            <td>@d.Fecha.ToString("dd/MM/yyyy HH:mm:ss")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- / LIST VIEW -->
            <!-- / CONTENT -->
        </div>
        <div class="row">
            <div class="crz-form-wrapper">
                Haz clic en algún documento para visualizarlo aqui.
                <i class="icon s-12 icon-arrow-up-bold-box-outline" style="color: #00464E;"></i>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('#table_mis-documentos').DataTable({
        responsive: true,
        dom: 'rt<"dataTables_footer"ip>'
    });
</script>

