﻿@model List<Aplics.Servicios.Modelos.Solicitudes.DatosSolicitud>
@{
    ViewBag.Title = "MisPermisos";
    List<Aplics.Servicios.Modelos.Solicitudes.ItemSolicitiud> ListaConceptos = new List<Aplics.Servicios.Modelos.Solicitudes.ItemSolicitiud>();

    List<SelectListItem> listItems = new List<SelectListItem>();
    listItems.Add(new SelectListItem
    {
        Text = "Selecione",
        Value = "N"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Aprobado",
        Value = "A",
    });
    listItems.Add(new SelectListItem
    {
        Text = "Rechazado",
        Value = "R"
    });
    listItems.Add(new SelectListItem
    {
        Text = "Pendiente",
        Value = "P"
    });

    String descripcionUMED = "dias";

}



<!-- STYLESHEETS -->
<link href="~/Content/permisos/mispermisos.css?version=2.2" rel="stylesheet" />

<div class="tittle">
    @ViewData["concep"]
</div>

<!-- CONTENT -->
<div>
    <div class="content-incidencia">
        
        <div class="actions-container">
            @using (Html.BeginForm("MisPermisos", "Permisos", new { rConcep = ViewData["concep"], rId = ViewData["id"], modulo = ViewData["Modulo"], valor1 = ViewData["Valor1"], conceptos = ViewData["conceptos"] }, FormMethod.Post, new { @class = "actions-container" }))
            {
                <div class="filter-box">
                    <div class="content-select">
                        <label class="label-select" for="inlineFormCustomSelect">Estatus Superior</label>
                        @Html.DropDownList("ddStatusSup", new SelectList(listItems, "Value", "Text"), new { @class = "select-1", @for = "inlineFormCustomSelect" })
                    </div>
                    <div class="content-select">
                        <label class="label-select" for="inlineFormCustomSelect">Estatus RH</label>
                        @Html.DropDownList("ddStatusRH", new SelectList(listItems, "Value", "Text"), new { @class = "select-1", @for = "inlineFormCustomSelect" })
                    </div>
                    <div class="content-search">
                        <button type="submit" value="Search"><i class="icon s-6 icon-magnify"></i></button>
                    </div>
                </div>
            }

            <div class="button-box">
                <button id="btnNuevaSolicitud" class="btn float-right" style=" text-transform: capitalize;background-color:#00897B; border-color: #00897B; height: 3vw; width: 14vw; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw;" data-toggle="modal" data-target="#modalNewRequest"> Nueva Solicitud </button>
            </div>
        </div>

        <div class="cont-table-dev">
            <!-- CONTENT -->
            <!-- LIST VIEW -->
            <table id="table_id" class="table compact stripe hover row-border order-column">
                <thead style="background-color: #B2DFDB; color: #00464E; font-family: 'Raleway';font-weight: bold;">
                    <tr>

                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Id</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Concepto</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha de Solicitud</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Días Solicitados</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha Inicial</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Fecha Final</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Estatus Superior</span>
                            </div>
                        </th>
                        <th class="secondary-text">
                            <div class="table-header">
                                <span class="column-title">Estatus RH</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody style="text-align: center; color: #00464E; font-family: 'Raleway';font-weight: 400;">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="name">@item.Id</td>
                            <td class="type d-none d-md-table-cell">@item.Descripcion</td>
                            <td class="owner d-none d-sm-table-cell">@item.FechaSolicitud</td>

                                @if (item.UMed.Trim().ToLower().Equals("dia"))
                                {
                                    descripcionUMED = " días.";
                                } else if (item.UMed.Trim().ToLower().Equals("mdi"))
                                {
                                    descripcionUMED = " medios días.";
                                } else if (item.UMed.Trim().ToLower().Equals("hrs"))
                                {
                                    descripcionUMED = " horas.";
                                } else {
                                    descripcionUMED = " unidades.";
                                }

                        <td class="size d-none d-sm-table-cell">@System.Math.Round(item.Dias, 0) @descripcionUMED </td>
                            <td class="last-modified d-none d-lg-table-cell">@item.FechaInicial</td>
                            <td class="last-modified d-none d-lg-table-cell">@item.FechaFinal</td>
                            <td class="last-modified d-none d-lg-table-cell">@item.StatusSup</td>
                            <td class="last-modified d-none d-lg-table-cell">@item.StatusRH</td>
                        </tr>
                    }
                </tbody>
            </table>
            <!-- / LIST VIEW -->
            <!-- / CONTENT -->
        </div>
    </div>
</div>
<!-- CONTENT -->
<script src="~/Scripts/Permisos/SolicitudesPermisos.js" asp-append-version="true"></script>
@Html.Partial("_modalPermiso", ListaConceptos)



<script type="text/javascript">
    $('#table_id').DataTable({
        responsive: true,
        dom: 'rt<"dataTables_footer"ip>',
        className: 'dt-body-center',
        order: [[0, "desc"]]
    });
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $("#btnNuevaSolicitud").click(function () {
            //alert("Handler for .click() called.");
            //fillCombo("tipo", "2020-03-29");

            console.log("hola mundo 1");

            //var arrayList = [
            //    { "Id": 100, "Name": "Abc" },
            //    { "Id": 200, "Name": "XYZ" }
            //];

            console.log("@HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString()");
            console.log("@Url.Action("LlenaComboTipo","Permisos",null,Request.Url.Scheme)");

            $("#tipoLoading").fadeTo(100, 1);
            $("#solicitar").prop("disabled", true);
            $("#fechaIni").prop("disabled", true);
            $("#fechaFin").prop("disabled", true);
            $("#file").prop("disabled", true);
            $("#iconfileSub").prop("disabled", true);

            //$.getJSON("/Permisos/LlenaComboTipo", function (data) {
            $.getJSON("@Url.Action("LlenaComboTipo","Permisos",null,Request.Url.Scheme)", function (data) {
                //console.log("hola mundo 2");
                //console.log(data);
                for (var i = 0; i <= data.length - 1; i++) {
                    if (data[i].Politica == true) {
                        $('#tipo').append('<option value="' + data[i].Id + '" data-tope="' + data[i].Tope + '">' + data[i].Descripcion + '</option>');
                    }
                }

                console.log("hola mundo 2");

                $("#tipoLoading").fadeTo(100, 0);
                $("#solicitar").prop("disabled", false);
                $("#fechaIni").prop("disabled", false);
                $("#fechaFin").prop("disabled", false);
                $("#file").prop("disabled", false);
                $("#iconfileSub").prop("disabled", false);

            });

        });
    });

    function mask(Dias) {
        var ent = Math.floor(Dias);
        var dec = (Dias) - ent;
        if (dec > 0) {
            return Dias;
        } else {
            return ent;
        }
    }
</script>

