﻿@using Aplics.Servicios.Modelos.Nominix;
@using Aplics.Servicios.Modelos.Solicitudes;
@model DatosSolicitud
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ResumenSolicitud> ListaSolicitudes = ViewBag.ListaSolicitudes;
    String RolEmpleado = "4";
    String RolEstudiante = "3";

    String Rol = this.Session["TypeRol"].ToString();
}
<!-- STYLESHEETS -->
<link href="~/Content/permisos/adminsolpermisos.css?version=1.6" rel="stylesheet" />

@Html.Partial("~/Views/Shared/_TituloSolicitudes.cshtml")

<div class="not-view">
    @if (!Rol.Equals(RolEmpleado) && !Rol.Equals(RolEstudiante))
    {
        @Html.Partial("~/Views/Shared/_FiltroSolicitudes.cshtml")
    }
    <div style="display:flex; width: 100%; cursor: all-scroll;">
        <div class="notifications-list">

            @if (ListaSolicitudes != null && ListaSolicitudes.Count > 0)
            {
                @Html.Partial("~/Views/Shared/_ListaResumenSolicitud.cshtml", ListaSolicitudes);
            } else
            {
                <scroll-container class="view-notification">
                    <scroll-page class="request" style="display: flex; flex-direction: column; width: 90%; justify-content: center; align-items:center;">
                        <p class="text-no-view">¡No hay nada en el buzón!</p>
                    </scroll-page>
                </scroll-container>
            }
        </div>

        <div class="view-notification">
            @if (Model != null && Model.Id > 0)
            {
                <div class="background-list" id="DetalleSolicitudPermiso">
                    @Html.Partial("_solicitudPermiso", Model);
                </div>
            }
            else
            {
                <div class="background-list" id="DetalleSolicitudPermiso">
                    <div style="display: flex; flex-direction: column; width: 90%; justify-content: center; align-items:center;">
                        <p class="text-no-view">¡Selecciona alguna solicitud!</p>
                    </div>
                </div>
                    
            }
        </div>
    </div>
</div>
<script src="~/Scripts/Permisos/SolicitudesPermisos.js" asp-append-version="true"></script>

