﻿<link href="~/Content/horarios/constancia.css?V=1.2" rel="stylesheet" />
<div class="constancia visor-misdocs" id="divsol-constancia">
    @if (TempData["Embed"] != null)
    {
        @Html.Raw(TempData["Embed"])
    }
</div>