﻿@using Aplics.Servicios.Entidades.DAO.Nominix
@model Empleados
@{ 
    String EdoCivil = Model.Equals("C") ? "Casado" : "Soltero";

    int edad = 0;
    if (Model.U_Fnac!=null)
    {
        DateTime D2 = (DateTime)Model.U_Fnac;
        edad=DateTime.Today.AddTicks(-D2.Ticks).Year - 1; ;
    }
    if (String.IsNullOrEmpty(Model.U_Pais))
    {
        Model.U_Pais = "México";
    }
}
<!-- STYLESHEETS -->
<link href="~/Content/shared/_datospersonales.css?version=2.3" rel="stylesheet" />

<!-- CONTENT -->
<div class="column-one">
    <div class="card card-infogen">

        <div class="card-tittle infogen-tittle">
            <p id="p-tittle" style="display: flex; width: 90%; margin: 0; justify-content: center; letter-spacing: 2px;">Información General</p>
            <span id="saveMode" onclick="editarInfoGen();" class="showSave"><i style="color: whitesmoke;" class="icon s-6 icon-pencil "></i></span>
            <span id="editMode" class="hide"> 
                <i onclick="backInfoGen();" style="color: whitesmoke;" class="icon s-6 icon-arrow-left "></i>
                <i onclick="saveInfoGen();" style="color: whitesmoke;" class="icon s-6 icon-content-save "></i>
            </span>
        </div>
        <div class="card-content cont-infogen">
            <form class="form-infogen">

                <div id="boxPMsg" class="form-row cont-p-message">
                    <p id="saveGenP"  style="color: #4CAF50 !important;font-family: 'Raleway'; font-size: 1.4rem; font-weight: 600;"></p>
                </div>

                <div class="form-group text" style="margin-top: 3rem;">
                    <p  class="col-form-label" style="color: #00464e;">Nombre</p>
                    <input readonly type="text" class="form-control " style="color: #00464e;" id="nombre" placeholder="Nombre(s)" value="@Model.U_Nomp" @* <<--aqui va la data del modelo, este va siempre en readonly*@>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">Apellido Paterno</p>
                        <input readonly type="text" class="form-control" style="color: #00464e;" id="apPaterno" placeholder="Apellido Paterno" value="@Model.U_Apepat" @* <<--aqui va la data del modelo, este va siempre en readonly*@>
                    </div>
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">Apellido Materno</p>
                        <input readonly type="text" class="form-control" style="color: #00464e;" id="apMaterno" placeholder="Apellido Materno" value="@Model.U_Apemat" @* <<--aqui va la data del modelo, este va siempre en readonly*@>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">Edad</p>
                        <input readonly type="text" class="form-control" style="color: #00464e;" id="edad" placeholder="Ej: 29" value="@edad" @* <<--aqui va la data del modelo, este va siempre en readonly*@>
                    </div>
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">Estado Civil</p>
                        <input readonly type="text" class="form-control"style="color: #00464e;" id="edoCivil" placeholder="Ej: Casado" value="@EdoCivil" @* <<--aqui va la data del modelo, este se puede editar*@>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">Celular Personal</p>
                        <input readonly type="text" class="form-control" style="color: #00464e;" id="celPersonal" placeholder="55 5555 5555" value="@Model.U_Telrec" @* <<--aqui va la data del modelo, este se puede editar*@>
                    </div>
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">Télefono Fijo</p>
                        <input readonly type="text" class="form-control" style="color: #00464e;" id="fijoPersonal" placeholder="55 5555 5555" value="@Model.U_Teldom" @* <<--aqui va la data del modelo, este se puede editar*@>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">Celular Trabajo</p>
                        <input readonly type="text" class="form-control" style="color: #00464e;" id="celLaboral" placeholder="55 5555 5555" value="@Model.U_Telcel" @* <<--aqui va la data del modelo, este se puede editar*@>
                    </div>
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">Tel. Fijo Trabajo</p>
                        <input readonly type="text" class="form-control" style="color: #00464e;" id="fijoLaboral" placeholder="55 5555 5555" value="@Model.U_Telofi" @* <<--aqui va la data del modelo, este se puede editar*@>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">Correo Personal</p>
                        <input readonly type="email" class="form-control" style="color: #00464e;" id="mailPersonal" placeholder='@Html.Raw("ejemplo@ejemplo.com")' value="@Model.U_Email" @* <<--aqui va la data del modelo, este se puede editar*@>
                    </div>
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">Correo Laboral</p>
                        <input readonly type="email" class="form-control" style="color: #00464e;" id="mailLaboral" placeholder='@Html.Raw("ejemplo@chevez.com.mx")' value="@Model.U_Email" @* <<--aqui va la data del modelo, este va siempre en readonly*@>
                    </div>
                </div>

            </form>
        </div>
    </div>

    <div class="card card-domicilio" style="border-radius: 10px; cursor:pointer;">
        <div class="card-tittle domicilio-tittle">
            <p id="p-tittledom" style="display: flex; width: 90%; margin: 0; justify-content: center; letter-spacing: 2px;">Domicilio</p>
            <span id="saveModeDom" onclick="editarInfoDom();" class="showSave"><i style="color: whitesmoke;" class="icon s-6 icon-pencil "></i></span>
            <span id="editModeDom" class="hide">
                <i onclick="backInfoDom();" style="color: whitesmoke;" class="icon s-6 icon-arrow-left "></i>
                <i onclick="saveInfoDom();" style="color: whitesmoke;" class="icon s-6 icon-content-save "></i>
            </span>
        </div>
        <div class="card-content cont-domicilio">

            <form class="form-domicilio">

                <div id="boxPMsg2" class="form-row cont-p-message" style="margin-top: 1.8rem; margin-bottom: 1.8rem;">
                    <p id="saveDomP" style="font-family: 'Raleway'; font-size: 1.4rem; font-weight: 600;"></p>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6 text" style="margin-top: 3rem;">
                        <p class="col-form-label" style="color: #00464e;">País</p>
                        <input readonly type="text" class="form-control" style="color: #00464e;" id="pais" placeholder="Ej: México" value="@Model.U_Pais" @* <<--aqui va la data del modelo, este se puede editar*@>
                    </div>
                    <div class="form-group col-md-6 text" style="margin-top: 3rem;">
                        <p class="col-form-label" style="color: #00464e;">Ciudad</p>
                        <input readonly type="text" class="form-control" style="color: #00464e;" id="ciudad" placeholder="Ej: Ciudad de México" value="@Model.U_Edo" @* <<--aqui va la data del modelo, este se puede editar*@>
                    </div>
                </div>
                <div class="form-group text">
                    <p class="col-form-label" style="color: #00464e;">Calle</p>
                    <input readonly type="text" class="form-control" style="color: #00464e;" id="calle" placeholder="Ej: Hamburgo" value="@Model.U_Dom" @* <<--aqui va la data del modelo, este se puede editar*@>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">No. Exterior</p>
                        <input readonly type="text" class="form-control" style="color: #00464e;" id="noExt" placeholder="Ej: 2950" value="@Model.U_Numext" @* <<--aqui va la data del modelo, este se puede editar*@>
                    </div>
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">No. Interior</p>
                        <input readonly type="text" class="form-control" style="color: #00464e;" id="noInt" placeholder="Ej: 101" value="@Model.U_Numint" @* <<--aqui va la data del modelo, este se puede editar*@>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">Colonia</p>
                        <input readonly type="text" class="form-control" style="color: #00464e;" id="colonia" placeholder="Juárez" value="@Model.U_Col" @* <<--aqui va la data del modelo, este se puede editar*@>
                    </div>
                    <div class="form-group col-md-6 text">
                        <p class="col-form-label" style="color: #00464e;">Código Postal</p>
                        <input readonly type="text" class="form-control" style="color: #00464e;" id="codPostal" placeholder="Ej: 06600" value="@Model.U_Codp" @* <<--aqui va la data del modelo, este se puede editar*@>
                    </div>
                </div>
                <div class="form-group text">
                    <p class="col-form-label" style="color: #00464e;">Alcaldia</p>
                    <input readonly type="text" class="form-control" style="color: #00464e;" id="alcaldia" placeholder="Cuauhtémoc" value="@Model.U_Del" @* <<--aqui va la data del modelo, este se puede editar*@>
                </div>

            </form>

        </div>
    </div>
</div>

