﻿@using Aplics.Servicios.Entidades.DAO.Nominix
@using Aplics.Servicios.Modelos.Horarios
@using Aplics.Servicios.Modelos.Generales
@model Empleados
@{
    List<Empleado> listaEmpleados = new List<Empleado>();
    if (ViewBag.listaEmpleados != null)
    {
        listaEmpleados = ViewBag.listaEmpleados;
    }

    List<CatalogoGeneral> listaDepartamento = new List<CatalogoGeneral>();
    if (ViewBag.listaDepartamento != null)
    {
        listaDepartamento = ViewBag.listaDepartamento;
    }

    List<CatalogoGeneral> listaPuesto = new List<CatalogoGeneral>();
    if (ViewBag.listaPuesto != null)
    {
        listaPuesto = ViewBag.listaPuesto;
    }

    List<CatalogoGeneral> listaCategoria = new List<CatalogoGeneral>();
    if (ViewBag.listaCategoria != null)
    {
        listaCategoria = ViewBag.listaCategoria;
    }

    List<CatalogoGeneral> listaEmpSup = new List<CatalogoGeneral>();
    if (ViewBag.listaEmpSup != null)
    {
        listaEmpSup = ViewBag.listaEmpSup;
    }
}
<!-- STYLESHEETS -->
<link href="~/Content/shared/_datosempleado.css?version=1.4" rel="stylesheet" />


<!-- CONTENT -->
<div class="column-two">
    <div class="card card-data-emp" style="border-radius: 10px; cursor:pointer;">
        <div class="card-tittle data-emp-tittle">
            <p style="display: flex; width: 90%; margin: 0; justify-content: center; letter-spacing: 2px;">Datos Empleado</p>
        </div>
        <div class="card-content cont-data-emp">

            <form class="form-data-emp">

                <div class="form-group text" style="margin-top: 3rem; color: #00464e">
                    <p class="col-form-label" style="color: #00464e">No. Empleado</p>
                    <input readonly type="text" class="form-control" style="color: #00464e" id="noEmp" value="@Model.Code" @* <<--aqui va la data del modelo*@>
                </div>
                <div class="form-group text" style="color: #00464e">
                    <p class="col-form-label" style="color: #00464e">Categoria</p>
                    @foreach(CatalogoGeneral categoria in listaCategoria)
                    {
                        <input readonly type="text" class="form-control" style="color: #00464e" id="categoria" value="@categoria.Descripcion" @* <<--aqui va la data del modelo*@>
                    }
                    @if(listaCategoria.Count() <= 0)
                    {
                        <p style="color: #00464e; font-size: 1.4rem;">Sin datos para mostrar.</p>
                    }

                </div>
                <div class="form-group text" style="color: #00464e">
                    <p class="col-form-label" style="color: #00464e">Departamento</p>
                    @foreach (CatalogoGeneral depto in listaDepartamento)
                    {
                        <input readonly type="text" class="form-control" style="color: #00464e" id="departamento" value="@depto.Descripcion" @* <<--aqui va la data del modelo*@>
                    }
                    @if (listaDepartamento.Count() <= 0)
                    {
                        <p style="color: #00464e; font-size: 1.4rem;">Sin datos para mostrar.</p>
                    }
                </div>
                <div class="form-group text" style="color: #00464e">
                    <p class="col-form-label" style="color: #00464e">Puesto</p>
                    @foreach (CatalogoGeneral puesto in listaPuesto)
                    {
                        <input readonly type="text" class="form-control" style="color: #00464e" id="puesto" value="@puesto.Descripcion" @* <<--aqui va la data del modelo*@>
                    }
                    @if (listaPuesto.Count() <= 0)
                    {
                        <p style="color: #00464e; font-size: 1.4rem;">Sin datos para mostrar.</p>
                    }

                </div>
                <div class="form-group text" style="color: #00464e;">
                    <p class="col-form-label" style="color: #00464e">Superior</p>
                    @foreach (CatalogoGeneral empSup in listaEmpSup)
                    {
                        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; width: 20%; margin-right: 3%; text-align: center;">
                            <img style="width: 3vw; border-radius: 100%; margin-bottom: 1%;" src="~/EmpFiles/Fotografias/F@(empSup.Id).jpg" />
                            <p style="color: #00464e;font-size: 1.4rem;" id="superior">@empSup.Descripcion</p> @* <<--aqui va la data del modelo*@
                        </div>
                    }
                    @if (listaEmpSup.Count() <= 0)
                    {
                        <p style="color: #00464e; font-size: 1.4rem;">Sin datos para mostrar.</p>
                    }

                </div>

            </form>

        </div>
    </div>

    <div class="card card-data-emp" style="border-radius: 10px; cursor:pointer;">
        <div class="card-tittle data-emp-tittle">
            <p style="display: flex; width: 90%; margin: 0; justify-content: center; letter-spacing: 2px;">Equipo</p>
        </div>
        <div class="card-content cont-equipo">

            <div class="cont-equipo-img">
                @*Aquí tenemos que iterar las imagenes del equipo*@
                @foreach (Empleado emp in listaEmpleados)
                {
                    <div class="box-emp">
                        <img src="~/assets/images/user-help/user.png" title="@emp.nombre" />
                        <p>@emp.codigo</p>
                    </div>
                }
                @if (listaEmpleados.Count() <= 0)
                {
                    <div style="display: flex; justify-content: center; align-items: center; width: 95%; height: 30vh;">
                        <p style="color: #00464e; font-family: 'Raleway'; font-size: 1.4rem;">Sin imágenes para mostrar.</p>
                    </div>
                }
            </div>
        </div>
    </div>
</div>