﻿@using Aplics.Servicios.Modelos.Nominix;
@using Aplics.Servicios.Modelos.Horarios;
@model EmpleadoEstudiante
@{
    String Perfil = "EMP";
    String modo = "readonly";
    String Titulo = "Notificaciones";
    List<ResumenSolicitud> ListaSolicitudes = ViewBag.ListaSolicitudes;
    String filtroEmp = this.Session["NoEmp"].ToString();

    if (ViewBag.Perfil != null)
    {
        Perfil = ViewBag.Perfil;
        if (Perfil != "EMP")
        {
            modo = String.Empty;
            filtroEmp = String.Empty;
            Titulo = "Administrador de Horarios";
        }
    }
    List<VMHorarioLista> horarioLista = ViewBag.HorariosEmpleado;
    String[] ADias = { "Lunes", "Martes", "Miércoles", "Jueves", "Viernes" };
    Byte tipoEscolar = 1;
    Byte tipoLaboral = 2;
    Byte tipoComida = 3;
    int indexH = 0;
}

<link href="~/Content/horarios/detallehorarios.css" rel="stylesheet" />

<div class="tittle">
    @Titulo
</div>

<div class="filter-box">
    @using (Html.BeginForm("FiltroSolicitudes", "Horarios", FormMethod.Post, new { @id = "formFiltro", @class = "mt-8" }))
    {
        <div class="search-bar" style="display: flex; width: 40%; border: 1px solid #00464E; border-radius: 5px; padding: 5px; height: 100%;">
            <select id="filtroStatus" name="filtroStatus">
                <option value="P" selected>Pendientes</option>
                <option value="A">Aprobadas</option>
                <option value="R">Rechazadas</option>
                <option value="T">Todas</option>
            </select>
            <div class="input-group">
                <input id="filtroEmpleado" name="filtroEmpleado" class="search-input form-control" style="height: 100%;" aria-label="Search.." type="text" placeholder="Buscar por No. de Empleado" @modo value="@filtroEmp">
                <span class="input-group-btn">
                    <button class="btn btn-icon" type="submit" form="formFiltro">
                        <i class="icon icon-magnify"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="search-bar" style="display: flex; width: 40%; border: 1px solid #00464E; border-radius: 5px; padding: 5px; height: 100%;">
            <div class="input-group">
                <input id="filtroAnio" name="filtroAnio" class="search-input form-control" style="height: 100%;" aria-label="Search.." type="number" placeholder="Buscar por Año" value="0">
                <span class="input-group-btn">
                    <button class="btn btn-icon" type="submit" form="formFiltro">
                        <i class="icon icon-magnify"></i>
                    </button>
                </span>
            </div>
        </div>
        <input type="hidden" value="@Perfil" id="filtroPerfil" name="filtroPerfil" />
    }
</div>

<div class="box-not-view">
    @Html.Partial("~/Views/Shared/_ListaResumenSolicitud.cshtml", ListaSolicitudes)
</div>
<div class="view-notification">
    <header class="crz-header">Comentarios</header>
    <div class="background-list">
        <div class="cont-view">
            <div class="info-rqst">
                <p class="tittle-rqst">Datos de Solicitud</p>
                @if (Model.Id > 0)
                {
                    <div class="card-rqst">
                        <div class="header-card-rqst" data-target="#modal-hist-periodos" data-toggle="modal">
                            <img alt="imagen de usuario" src="~/assets/images/user-help/user.png" />
                            <div class="info-empleado">
                                <p>Nombre: @Model.nombre</p>
                                <p>No. Empleado: @Model.U_EMP</p>
                            </div>
                        </div>

                        <p style="margin-top: 1rem;">Solicitud @Model.Id</p>

                        <div id="accordion" role="tablist" style="width: 100%;">

                            <div class="card card-datos" style="display: flex; width: 100%;">
                                <div class="card-header" id="headingOne" role="tab" style="background-color: #00897B; color: white; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 600; text-align: center; height: 5vh; padding: 3px;">
                                    <h5 class="mb-0">
                                        <a aria-expanded="false" aria-controls="collapseOne" style="color: #FFFFFF; text-decoration: none; display: flex;" href="#collapseData" data-toggle="collapse">
                                            <div class="tittle-accordion">
                                                <p>Datos</p>
                                                <i class="icon s-6 icon-account-card-details" style="color:#FFFFFF;"></i>
                                            </div>
                                            <div class="arrow">
                                                <i class=" icon s-6 icon-chevron-down" style="color: #FFFFFF;"></i>
                                            </div>
                                        </a>
                                    </h5>
                                </div>

                                <div class="collapse" id="collapseData" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-block">
                                        <div class="form-row">
                                            <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                                <label style="color: #00464E; font-size: 1rem;">No. de Empleado</label>
                                                <input disabled="" class="form-control" style="color:#00464E; font-size: 1rem;" type="text" placeholder="@Model.U_EMP">
                                            </div>
                                            <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                                <label style="color: #00464E; font-size: 1rem;">Fecha Solicitud</label>
                                                <input disabled="" class="form-control" style="color:#00464E; font-size: 1rem;" type="text" placeholder='@Model.FechaSolicitud.ToString("dd MMM yyyy")'>
                                            </div>
                                        </div>
                                        <div class="form-group" style="padding-top: 0rem;     margin-bottom: 2rem;">
                                            <label style="color: #00464E; font-size: 1rem;">Nombre completo</label>
                                            <input disabled="" class="form-control" style="color:#00464E; font-size: 1rem;" type="text" placeholder="@Model.nombre">
                                        </div>
                                        <div class="form-row">
                                            <label style="color: #00464E; font-size: 1rem;">Universidad</label>
                                            <input disabled="" class="form-control" style="color:#00464E; font-size: 1rem;" type="text" placeholder="@Model.Universidad">
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                                <label style="color: #00464E;font-size: 1rem;">Periodo</label>
                                                <input disabled="" class="form-control" style="color:#00464E; font-size: 1rem;" type="text" placeholder="@Model.U_PER">
                                            </div>
                                            <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                                <label style="color: #00464E;font-size: 1rem;">Duración</label>
                                                <input disabled="" class="form-control" style="color:#00464E; font-size: 1rem;" type="text" placeholder="@Model.Duracion">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                                <label style="color: #00464E; font-size: 1rem;">Fecha incio</label>
                                                <input disabled="" class="form-control" style="color:#00464E; font-size: 1rem;" type="text" placeholder='@Model.U_FINI.ToString("dd MMM yyyy")'>
                                            </div>
                                            <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                                <label style="color: #00464E; font-size: 1rem;">Fecha Final</label>
                                                <input disabled="" class="form-control" style="color:#00464E; font-size: 1rem;" type="text" placeholder='@Model.U_FFIN.ToString("dd MMM yyyy")'>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                                <label style="color: #00464E; font-size: 1rem;"> Año </label>
                                                <input disabled="" class="form-control" style="color:#00464E; font-size: 1rem;" type="text" placeholder="@Model.U_ANIO">
                                            </div>
                                            <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                                <label style="color: #00464E; font-size: 1rem;">Motivo de Rechazo</label>
                                                <input disabled="" class="form-control" style="color:#00464E; font-size: 1rem;" type="text" placeholder="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-datos" style="display: flex; width: 100%;">
                                <div class="card-header" id="headingTwo" role="tab" style="background-color: #00897B; color: white; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 600; text-align: center; height: 5vh; padding: 3px;">
                                    <h5 class="mb-0">
                                        <a class="collapsed" aria-expanded="false" aria-controls="collapseTwo" style="color: #FFFFFF; text-decoration: none; display: flex;" href="#collapseDocto" data-toggle="collapse">
                                            <div class="tittle-accordion">
                                                <p>Constancia</p>
                                                <i class="icon s-6 icon-file-pdf" style="color:#FFFFFF;"></i>
                                            </div>
                                            <div class="arrow">
                                                <i class=" icon s-6 icon-chevron-down" style="color: #FFFFFF;"></i>
                                            </div>

                                        </a>
                                    </h5>
                                </div>
                                <div class="collapse" id="collapseDocto" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                                    <div class="card-block" style="border-radius: 10px; display: flex; justify-content: center;">
                                        @Html.Partial("~/Views/Shared/_Constancia.cshtml")
                                    </div>
                                </div>
                            </div>
                            <div class="card card-datos" style="display: flex; width: 100%;">
                                <div class="card-header" id="headingThree" role="tab" style="background-color: #00897B; color: white; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 600; text-align: center; height: 5vh; padding: 3px;">
                                    <h5 class="mb-0">
                                        <a class="collapsed" aria-expanded="true" aria-controls="collapseThree" style="color: #FFFFFF; text-decoration: none; display: flex;" href="#collapseHorarios" data-toggle="collapse">
                                            <div class="tittle-accordion">
                                                <p>Horarios</p>
                                                <i class="icon s-6  icon-clock" style="color:#FFFFFF;"></i>
                                            </div>
                                            <div class="arrow">
                                                <i class=" icon s-6 icon-chevron-down" style="color: #FFFFFF;"></i>
                                            </div>
                                        </a>
                                    </h5>
                                </div>
                                <div class="collapse show" id="collapseHorarios" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                                    <div class="cont-accordion" style="border-radius: 15px; font-size: 1.2vw; vertical-align: middle; margin-top: 10px; width: 100%;">
                                        <div id="accordion-2" role="tablist" style="display: flex; flex-direction: column;">
                                            @for (int dia = 1; dia <= 5; dia++)
                                            {
                                                <div class="card">
                                                    <div class="card-header" id="headingFour" role="tab">
                                                        <h5 class="mb-0" style="width: 100%; margin: 0;">
                                                            <a class="collapsed" aria-expanded="true" aria-controls="collapseFour" style="display: flex; align-items: center; justify-content: space-between; font-family: 'Raleway'; font-size: 1.4rem; font-weight: 600; color: #00464E; appearance: none; text-decoration: none;" href="#collapseMon" data-toggle="collapse">
                                                                @ADias[dia - 1]
                                                                <i class=" icon s-6 icon-chevron-down" style="color: #00464E;"></i>
                                                            </a>
                                                        </h5>
                                                    </div>
                                                    <div class="collapse show" id="collapseMon" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion-2">
                                                        <div class="card-block">
                                                            <div class="escolar">
                                                                <p>Escolar</p>
                                                                @foreach (VMHorarioLista hl in horarioLista)
                                                                {
                                                                    foreach (Horario h in hl.Horarios)
                                                                    {
                                                                        if (h.dia == dia && hl.Tipo == tipoEscolar)
                                                                        {
                                                                            <div class="Hor-Esc">
                                                                                <div class="Esc-De">
                                                                                    <p>De:</p>
                                                                                    <p>@h.HoraInicial</p>
                                                                                </div>
                                                                                <div class="Esc-A">
                                                                                    <p>A:</p>
                                                                                    <p>@h.HoraFinal</p>
                                                                                </div>
                                                                            </div>
                                                                            indexH += 1;
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                            <div class="laboral">
                                                                <p>Laboral</p>
                                                                @foreach (VMHorarioLista hl in horarioLista)
                                                                {
                                                                    foreach (Horario h in hl.Horarios)
                                                                    {
                                                                        if (h.dia == dia && hl.Tipo == tipoLaboral)
                                                                        {
                                                                            <div class="Hor-Lab">
                                                                                <div class=" de-hor-box input-group-prepend">
                                                                                    <span class="input-group-text" style="font-family: 'Raleway'; font-size: 1.2rem; color: #00464E;">De:</span>
                                                                                    <input class="form-control" @modo style="font-family: 'Raleway'; font-size: 1.2rem; color: #00464E;" aria-label="Default" type="text" placeholder=" Ej: 14:00" id="HorarioTipo[@indexH].HoraInicial" Name="HorarioTipo[@indexH].HoraInicial">
                                                                                </div>
                                                                                <div class="a-hor-box input-group-prepend">
                                                                                    <span class="input-group-text" style="font-family: 'Raleway'; font-size: 1.2rem; color: #00464E;">A:</span>
                                                                                    <input class="form-control" @modo style="font-family: 'Raleway'; font-size: 1.2rem; color: #00464E;" aria-label="Default" type="text" placeholder=" Ej: 14:00" id="HorarioTipo[@indexH].HoraFinal" Name="HorarioTipo[@indexH].HoraFinal">
                                                                                </div>
                                                                                <div class="add-day-box">
                                                                                    <i class="icon s-8 icon-plus-circle float-right" style="float: right; color:#00897B;"></i>
                                                                                </div>
                                                                                <input type="hidden" id="HorarioTipo[@indexH].TipoHorario" Name="HorarioTipo[@indexH].TipoHorario" value="@tipoLaboral" />
                                                                                <input type="hidden" id="HorarioTipo[@indexH].dia" Name="HorarioTipo[@indexH].dia" value="@dia" />
                                                                            </div>
                                                                            indexH += 1;
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                            <div class="horas-laboradas">
                                                                <p>Horas Laborales por Día</p>
                                                                <div class="box-time-lab">
                                                                    <p id="HorasLaborables_@dia">4 horas</p>
                                                                    <p id="MinutosLaborables_@dia">30 mins</p>
                                                                </div>
                                                            </div>
                                                            <div class="comida">
                                                                <p>Comida</p>
                                                                <div class="Hor-Com">
                                                                    <select @modo class="select-comida" id="select_comida_@dia" onchange="HorarioComida(this,@indexH);">
                                                                        <option selected="">Selecciona Tiempo de Comida</option>
                                                                        <option value="">No tiene horario de comida</option>
                                                                        <option value="01:00-01:30">media hora</option>
                                                                        <option value="01:00-02:00">1 hora</option>
                                                                        <option value="01:00-02:30">1 hora y media</option>
                                                                        <option value="01:00-03:00">2 horas</option>
                                                                    </select>
                                                                </div>
                                                                @foreach (VMHorarioLista hl in horarioLista)
                                                                {
                                                                    foreach (Horario h in hl.Horarios)
                                                                    {
                                                                        if (h.dia == dia && hl.Tipo == tipoComida)
                                                                        {
                                                                            <input type="hidden" id="HorarioTipo[@indexH].HoraInicial" Name="HorarioTipo[@indexH].HoraInicial" />
                                                                            <input type="hidden" id="HorarioTipo[@indexH].HoraFinal" Name="HorarioTipo[@indexH].HoraFinal" />
                                                                            <input type="hidden" id="HorarioTipo[@indexH].TipoHorario" Name="HorarioTipo[@indexH].TipoHorario" value="@tipoLaboral" />
                                                                            <input type="hidden" id="HorarioTipo[@indexH].dia" Name="HorarioTipo[@indexH].dia" value="@dia" />
                                                                            indexH += 1;
                                                                        }
                                                                    }
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="list-coments">

                <div class="header-user-help">
                    <span data-target="#modal-admin-hor-help" data-toggle="modal">
                        Da click para ver el tutorial
                        <i class="icon s-6 icon-help-circle-outline" style="color: #00464E;"></i>
                    </span>

                </div>
                <div class="card" style="border-radius: 10px; width: 100%; display: flex; margin-bottom: 10%;">
                    <div class="card-header" style="border-radius: 10px 0px 0px 0px; color: #00464E; font-family: 'Raleway'; font-size: 2rem; font-weight: 600;">
                        Comentarios
                    </div>
                    <div class="card-body" style="border-radius: 10px;">
                        <blockquote class="blockquote mb-0" style="color: #00464E;&#10;                                                        font-family: 'Raleway';&#10;                                                        font-size: 1.2rem;&#10;                                                        font-weight: 500;">
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" style="color: #00464E;" rows="3" onchange='$("#SolComentariosAp").val($(this).val());$("#SolComentariosRec").val($(this).val());' @modo></textarea>
                                <label for="exampleFormControlTextarea1">Agregar Comentarios</label>
                            </div>
                            <footer class="blockquote-footer" style="color: #00464E;&#10;                                                            font-family: 'Raleway';&#10;                                                            font-size: 1.2rem;&#10;                                                            font-weight: 600;">Nombre de quien responde <cite title="Source Title">Cargo</cite></footer>
                        </blockquote>
                    </div>
                </div>

                <div class="card" style="border-radius: 10px; width: 100%; display: flex; margin-bottom: 10%;">
                    <div class="card-header" style="border-radius: 10px 0px 0px 0px; color: #00464E; font-family: 'Raleway'; font-size: 2rem; font-weight: 600;">
                        Total de Horas Laborales por Semana
                    </div>
                    <div class="card-body" style="border-radius: 10px;">
                        <div class="total-horas-lab">
                            <p>Total Horas Laborales</p>
                            <div class="box-tot-lab">
                                <p id="totalhoraslab">32 horas</p>
                                <p id="totalminutoslab">30 mins</p>
                            </div>
                        </div>
                        <div class="total-horas-com">
                            <p>Total Horas Comida</p>
                            <div class="box-tot-com">
                                <p id="totalhorascomsemana">2 horas</p>
                                <p id="totalminutoscomsemana">30 mins</p>
                            </div>
                        </div>
                        <div class="total-horas-sem">
                            <p>Total Horas Laborales por Semana</p>
                            <div class="box-tot-sem">
                                <p id="totalhoraslabsemana">32 horas</p>
                                <p id="totalminutoslabsemana">30 mins</p>
                            </div>
                        </div>
                        <p class="msg-int">**Revisa que cubra el mínimo de horas requeridas por semana, para aprobar la solicitud.</p>
                    </div>
                </div>
                @if (Perfil != "EMP")
                {
                    <div class="buttons-box">
                        <button type="submit" form="formAprobar" class="btn float-right" style=" text-transform: capitalize;background-color:#43A047; border-color: #43A047; height: 3vw; width: 14vw; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw;" data-target="#modal-approve-hor" data-toggle="modal">Aprobar</button>
                        <button type="submit" form="formRechazar" class="btn float-right" style=" text-transform: capitalize;background-color:#B71C1C; border-color: #B71C1C; height: 3vw; width: 14vw; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw;" data-target="#modal-reject-hor" data-toggle="modal">Rechazar</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="modal-approve-hor" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="modal-approve-horLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body data-request">
                <p class="no-rqst">No. Solicitud: @Model.Id</p>
                <span class="i-text"><i class="icon s-20 icon-alert-circle-outline" style="color: #C6FF00;"></i></span>
                <p class="success-rqst">¡Estás por Aprobar la Solicitud!</p>
            </div>
            <div class="modal-footer box-buttons-modal">
                <button data-dismiss="modal" class="btn float-right" style=" text-transform: capitalize; background-color:#ECECEE; border-color: #ECECEE; height: 3vw; width: 14vw; border-radius: 5px; color:#00897B; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw; margin-right: 1%;">Cancelar</button>
                @using (Html.BeginForm("AprobarHorario", "Horarios", FormMethod.Post, new { @id = "formAprobar", @class = "mt-8" }))
                {
                    <button type="submit" form="formAprobar" class="btn float-right" style=" text-transform: capitalize; background-color:#00897B; border-color: #00897B; height: 3vw; width: 14vw; border-radius: 5px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw;">Enviar</button>
                    <input type="hidden" value="@Model.Id" id="id" name="id" />
                    <input type="hidden" value="@Model.Observaciones" id="SolComentariosAp" name="SolComentariosAp" />
                }
            </div>
        </div>
    </div>
</div>
<div id="modal-reject-hor" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="modal-reject-horLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body data-request">
                <p class="no-rqst">No. Solicitud: @Model.Id</p>
                <span class="i-text"><i class="icon s-20 icon-alert-circle-outline" style="color: #B71C1C;"></i></span>
                <p class="success-rqst">¡Estás por Rechazar la Solicitud!</p>
            </div>
            <div class="modal-footer box-buttons-modal">
                <button data-dismiss="modal" class="btn float-right" style=" text-transform: capitalize; background-color:#ECECEE; border-color: #ECECEE; height: 3vw; width: 14vw; border-radius: 5px; color:#00897B; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw; margin-right: 1%;">Cancelar</button>
                <button class="btn float-right" style=" text-transform: capitalize; background-color:#00897B; border-color: #00897B; height: 3vw; width: 14vw; border-radius: 5px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw;">Enviar</button>
            </div>
        </div>
    </div>
</div>
<div id="modal-reject-mot-hor" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="modal-reject-mot-horLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("RechazarHorario", "Horarios", FormMethod.Post, new { @id = "formRechazar", @class = "mt-8" }))
            {
                <div class="modal-body data-request">
                    <input type="text" value="" id="motivoRechazo" name="motivoRechazo" placeholder="Motivo de Rechazo" />
                </div>
                <div class="modal-footer box-buttons-modal">
                    <button data-dismiss="modal" class="btn float-right" style=" text-transform: capitalize; background-color:#ECECEE; border-color: #ECECEE; height: 3vw; width: 14vw; border-radius: 5px; color:#00897B; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw; margin-right: 1%;">Cancelar</button>
                    <button type="submit" form="formRechazar" class="btn float-right" style=" text-transform: capitalize; background-color:#00897B; border-color: #00897B; height: 3vw; width: 14vw; border-radius: 5px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw;">Enviar</button>
                </div>
                <input type="hidden" value="@Model.Id" id="id" name="id" />
                <input type="hidden" value="@Model.Observaciones" id="SolComentariosRec" name="SolComentariosRec" />
            }
        </div>
    </div>
</div>

