﻿@using Aplics.Servicios.Modelos.Generales;
@model Aplics.Servicios.Modelos.Horarios.EmpleadoEstudiante
@{
    ViewBag.Title = "ControHorarios";
    String perfil = ViewBag.Perfil;
    String selectper = "";
    string periodoStatus = "";
    string rechazoStatus = "";
    String styleColor = "#00464E";
    if (perfil.Equals("EMP"))
    {
        selectper = "selected";
        periodoStatus = "disabled";
        rechazoStatus = "disabled";
        styleColor = "#ccc";
    }

    String soloLectura = String.Empty;
    Boolean Consulta = false;
    if (ViewBag.Consulta != null)
    {
        Consulta = ViewBag.Consulta;
        if (Consulta)
        {
            soloLectura = "readonly";
            periodoStatus = "disabled";
            rechazoStatus = "disabled";
        }
    }

    List<CatalogoGeneral> catalogoUniversidades = ViewBag.CatalogoUniversidades;
    List<CatalogoGeneral> Periodos = ViewBag.Periodos;
    List<CatalogoGeneral> Duraciones = new List<CatalogoGeneral>();
    Duraciones.Add(new CatalogoGeneral() { Id = "", Descripcion = "Seleccione Duración" });
    Duraciones.Add(new CatalogoGeneral() { Id = "6", Descripcion = "Semestre" });
    Duraciones.Add(new CatalogoGeneral() { Id = "4", Descripcion = "Cuatrimestre" });
    Duraciones.Add(new CatalogoGeneral() { Id = "3", Descripcion = "Trimestre" });
    Duraciones.Add(new CatalogoGeneral() { Id = "2", Descripcion = "Bimestre" });
    Duraciones.Add(new CatalogoGeneral() { Id = "1", Descripcion = "Mes" });

    String fechaInicio = String.Empty;
    String fechaFin = String.Empty;
    if (Model.Id > 0)
    {
        fechaInicio = Model.U_FINI.ToString("yyyy-MM-dd");
        fechaFin = Model.U_FINI.ToString("yyyy-MM-dd");
    }
}

<!-- STYLESHEETS -->
<link href="~/Content/horarios/datossolhorario.css?V=1.5" rel="stylesheet" />

<!-- SCRIPTS -->
<script src="~/Scripts/moment/moment.js"></script>
<script src="~/Scripts/ControldeHorarios/Empleado.js"></script>
@if (!Consulta)
{
    using (Html.BeginForm("EliminarSolHorario", "Horarios", FormMethod.Post, new { @id = "form2", @class = "form-elim-hor" }))
    {
        <button type="submit" id="btnRechazarSolHorario" class="btn float-left" style=" text-transform: capitalize;background-color:#B71C1C; border-color: #00897B; height: 4vw; width: 14vw; border-radius: 15px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 900; font-size:1.5vw;"> Eliminar</button>
        <input type="hidden" id="IdSol" name="IdSol" value="@Model.Id" />
    }
}
@using (Html.BeginForm("Documento", "Horarios", FormMethod.Post, new { @id = "form1", @class = "mt-8" }))
{

    <div class="crz-form-wrapper">
        <div class="form-row">
            <div class="form-group col-md-5">
                <label style="color: #183963;">No. de Empleado</label>
                <input readonly type="text" name="noEmp" id="noEmp" class="form-control" style="color:#183963;" value="@Model.U_EMP">
            </div>
            <div class="form-group col-md-5">
                <label style="color: #183963;">Fecha Solicitud</label>
                <input type="date" readonly class="form-control" style="color:#183963;" value="@Model.FechaSolicitud.ToString("yyyy-MM-dd")">
            </div>
            <div class="form-group col-md-2">
                <label style="color: #183963;">No. Sol</label>
                <p class="form-control" style="color:#183963;">@Model.Id</p>
            </div>
        </div>
        <div class="form-group">
            <label style="color: #183963;">Nombre completo</label>
            <input type="text" readonly name="nombre" id="nombre" class="form-control" value="@Model.nombre" style="color:#183963;">
        </div>
        <div class="form-row">
            @if (Consulta)
            {
                @Html.DropDownListFor(m => m.U_CVEUNI, catalogoUniversidades.Select(i => new SelectListItem() { Text = i.Descripcion, Value = i.Id }), new { @class = "select-univ1", @Name = "univer", @id = "univer", style = "color:#00464E;", @disabled = "disabled" })
            }
            else
            {
                @Html.DropDownListFor(m => m.U_CVEUNI, catalogoUniversidades.Select(i => new SelectListItem() { Text = i.Descripcion, Value = i.Id }), new { @class = "select-univ1", @Name = "univer", @id = "univer", style = "color:#00464E;", required = "required" })
            }
            <p id="parrafo-univ" style="color:red;"></p>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label style="color: @styleColor;">Periodo</label>
                @if (Consulta)
                {
                    @Html.DropDownListFor(m => m.U_PER, Periodos.Select(i => new SelectListItem() { Text = i.Descripcion, Value = i.Id }), new { @class = "select-univ", @Name = "per", @id = "per", style = "color:#00464E;", @disabled = "disabled" })
                }
                else
                {
                    @Html.DropDownListFor(m => m.U_PER, Periodos.Select(i => new SelectListItem() { Text = i.Descripcion, Value = i.Id }), new { @class = "select-univ", @Name = "per", @id = "per", style = "color:#00464E;", required = "required" })
                }
            </div>
            <div class="form-group col-md-6">
                <label style="color: #183963;">Duración</label>
                @if (Consulta)
                {
                    @Html.DropDownListFor(m => m.U_DUR, Duraciones.Select(i => new SelectListItem() { Text = i.Descripcion, Value = i.Id }), new { @class = "select-univ", @Name = "dur", @id = "dur", style = "color:#00464E;", @disabled = "disabled" })
                }
                else
                {
                    @Html.DropDownListFor(m => m.U_DUR, Duraciones.Select(i => new SelectListItem() { Text = i.Descripcion, Value = i.Id }), new { @class = "select-univ", @Name = "dur", @id = "dur", style = "color:#00464E;", required = "required" })
                }
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label style="color: #183963;">Fecha Inicio</label>
                <input @soloLectura type="date" name="fini" id="fini" class="form-control" style="color:#183963;" value="@fechaInicio" required>
            </div>
            <div class="form-group col-md-6">
                <label style="color: #183963;">Fecha Final</label>
                <input @soloLectura style="color: #183963" name="ffin" id="ffin" type="date" class="form-control" placeholder="11 Dic 2019" value="@fechaFin" required>
            </div>
        </div>
        <p class="validateErrorHor" id="parrafoHor"></p>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label style="color: #183963;"> Año </label>
                <input @soloLectura type="text" name="anio" id="anio" class="form-control" style="color:#183963;" value="@Model.U_ANIO" required>
            </div>
            <div class="form-group col-md-6">
                <label style="color: @styleColor;"> Motivo de Rechazo </label>
                <input type="text" name="mot" id="mot" class="form-control" style="color:#183963;" @rechazoStatus value="@Model.motivoRechazo">
            </div>
        </div>
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
    </div>
    if (!Consulta)
    {
        <input type="hidden" id="Observaciones" name="Observaciones" value="@Model.Observaciones" />
        <button type="submit" onclick="return validaFechaHor();" form="form1" class="btn btn-primary float-right" style="text-transform: capitalize;background-color:#183963; border-color: #183963; margin-top: 3rem; height: 4vw; width: 14vw; border-radius: 15px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 900; font-size:1.5vw;">Siguiente</button>
    }
}
