﻿@using Aplics.Servicios.Entidades.DAO.Nominix
@using Aplics.Servicios.Modelos.Generales

@model Empleados

@{ 
    if (String.IsNullOrEmpty(Model.U_Nivesc))
    {
        Model.U_Nivesc = String.Empty;
    }
    List<CatalogoGeneral> catalogoNivelEsc = new List<CatalogoGeneral>();
    if(ViewBag.NivelEscolar != null)
    {
        catalogoNivelEsc = ViewBag.NivelEscolar;
    }


    if (String.IsNullOrEmpty(Model.U_SITESC))
    {
        Model.U_SITESC = String.Empty;
    }
    List<CatalogoGeneral> catalogoSituacionEsc = new List<CatalogoGeneral>();
    if (ViewBag.SituacionEsc != null)
    {
        catalogoSituacionEsc = ViewBag.SituacionEsc;
    }


    if (String.IsNullOrEmpty(Model.U_GRAESC))
    {
        Model.U_GRAESC = String.Empty;
    }
    List<CatalogoGeneral> catalogoGradoEsc = new List<CatalogoGeneral>();
    if (ViewBag.GradoEsc != null)
    {
        catalogoGradoEsc = ViewBag.GradoEsc;
    }


    if (String.IsNullOrEmpty(Model.U_PERESC))
    {
        Model.U_PERESC = String.Empty;
    }
    List<CatalogoGeneral> catalogoPeriodoEsc = new List<CatalogoGeneral>();
    if (ViewBag.PeriodoEsc != null)
    {
        catalogoPeriodoEsc = ViewBag.PeriodoEsc;
    }


    if (String.IsNullOrEmpty(Model.U_Prof))
    {
        Model.U_Prof = String.Empty;
    }
    List<CatalogoGeneral> catalogoProfesiones = new List<CatalogoGeneral>();
    if (ViewBag.Profesiones != null)
    {
        catalogoProfesiones = ViewBag.Profesiones;
    }


    if (String.IsNullOrEmpty(Model.U_UNIV))
    {
        Model.U_UNIV = String.Empty;
    }
    List<CatalogoGeneral> catalogoUniversidades = new List<CatalogoGeneral>();
    if (ViewBag.Universidades != null)
    {
        catalogoUniversidades = ViewBag.Universidades;
    }
}


<!-- STYLESHEETS -->
<link href="~/Content/shared/_datosacademicos.css?version=2.5" rel="stylesheet" />
<!-- CONTENT -->
<div class="column-one">
    <div class="card card-escolaridad" style="border-radius: 10px; cursor:pointer;">
        <div class="card-tittle datos-academ-tittle">
            <p style="display: flex; width: 90%; margin: 0; justify-content: center; letter-spacing: 2px;">Escolaridad</p>
            <span id="saveModeEsco" onclick="editarInfoEsco();" class="showSave"><i style="color: whitesmoke;" class="icon s-6 icon-pencil "></i></span>
            <span id="editModeEsco" class="hide">
                <i onclick="backInfoEsco();" style="color: whitesmoke;" class="icon s-6 icon-arrow-left "></i>
                <i onclick="saveInfoEsco();" style="color: whitesmoke;" class="icon s-6 icon-content-save "></i>
            </span>
        </div>
        <div class="card-content cont-escolaridad">
            <form class="form-escolaridad">
                <div id="boxPMsg3" class="form-row cont-p-message" style="margin-top: 1.8rem; margin-bottom: 1.8rem;">
                    <p id="saveAcadP" style="font-family: 'Raleway'; font-size: 1.4rem; font-weight: 600;"></p>
                </div>
                <div class="form-group" style="color: #00464e">
                    <label for="nivelEscolar" style="color: #00464e">Nivel Escolar:</label>
                    @Html.DropDownListFor(m => m.U_Nivesc, catalogoNivelEsc.Select(i => new SelectListItem() { Text = i.Descripcion, Value = i.Id }), new { @class = "form-control text", @Name = "nivelEscolar", @id = "nivelEscolar", style = "color:#00464E;", @disabled = "disabled" })
                </div>

                <div class="form-group" style="color: #00464e">
                    <label for="situacionEscolar" style="color: #00464e">Situación Académica:</label>
                    @Html.DropDownListFor(m => m.U_SITESC, catalogoSituacionEsc.Select(i => new SelectListItem() { Text = i.Descripcion, Value = i.Id }), new { @class = "form-control text", @Name = "situacionEscolar", @id = "situacionEscolar", style = "color:#00464E;", @disabled = "disabled" })
                </div>

                <div class="form-row" style="color: #00464e">
                    <div class="form-group col-md-6" style="color: #00464e">
                        <label for="gradoEscolar" style="color: #00464e">Grado:</label>
                        @Html.DropDownListFor(m => m.U_GRAESC, catalogoGradoEsc.Select(i => new SelectListItem() { Text = i.Descripcion, Value = i.Id }), new { @class = "form-control text", @Name = "gradoEscolar", @id = "gradoEscolar", style = "color:#00464E;", @disabled = "disabled" })
                    </div>

                    <div class="form-group col-md-6" style="color: #00464e">
                        <label for="periodoEscolar" style="color: #00464e">Periodo:</label>
                        @Html.DropDownListFor(m => m.U_PERESC, catalogoPeriodoEsc.Select(i => new SelectListItem() { Text = i.Descripcion, Value = i.Id }), new { @class = "form-control text", @Name = "periodoEscolar", @id = "periodoEscolar", style = "color:#00464E;", @disabled = "disabled" })
                    </div>
                </div>

                <div class="form-group" style="color: #00464e">
                    <label for="Carrera" style="color: #00464e">Carrera:</label>
                    @Html.DropDownListFor(m => m.U_Prof, catalogoProfesiones.Select(i => new SelectListItem() { Text = i.Descripcion, Value = i.Id }), new { @class = "form-control text", @Name = "Carrera", @id = "Carrera", style = "color:#00464E;", @disabled = "disabled" })
                </div>


                <div class="form-group" style="color: #00464e">
                    <label for="universidad" style="color: #00464e">Universidad:</label>
                    @Html.DropDownListFor(m => m.U_UNIV, catalogoUniversidades.Select(i => new SelectListItem() { Text = i.Descripcion, Value = i.Id }), new { @class = "form-control text", @Name = "universidad", @id = "universidad", style = "color:#00464E;", @disabled = "disabled" })

                </div>
            </form>
        </div>
    </div>
</div>
