﻿    @using Aplics.Servicios.Modelos.Horarios;
@model List<Horario>
@{
    ViewBag.Title = "Horarios";
    int veces = 5;
    int dia = 1;
    String[] ADias = { "Lunes", "Martes", "Miércoles", "Jueves", "Viernes" };
    String selected = String.Empty;

    int Id = ViewBag.DocEntry;
    Byte TipoHorario = ViewBag.TipoHorario;
    Boolean ModoConsulta = false;
    if (ViewBag.ModoConsulta != null)
    {
        ModoConsulta = ViewBag.ModoConsulta;
    }
    String readInputs = "";
    String disabledInputs = "";
    if (ViewBag.Consulta != null)
    {
        readInputs = "readonly";
        disabledInputs = "disabled";
        ModoConsulta = ViewBag.Consulta;
    }

    String horariosGeneral = Newtonsoft.Json.JsonConvert.SerializeObject(Model);

}

<!-- STYLESHEETS -->
<link href="~/Content/horarios/detallehorarios.css?version=2.3  " rel="stylesheet" />
<!-- CONTENT detallehorarios-->

@using (Html.BeginForm("VerificaEmpleado", "Horarios", FormMethod.Post, new { @id = "form1", @class = "box-inputs" }))
{
    <div id="dias">
        @for (int vez = 1; vez <= Model.Count(); vez++)
        {
            dia = Model[vez - 1].dia;
            <div class="day">
                <div class="day-box">
                    <select class="select-2 SelectHorario" id="Horarios[@(vez - 1)].dia" Name="Horarios[@(vez - 1)].dia" @disabledInputs>
                        @for (int ndia = 1; ndia < 6; ndia++)
                        {
                            selected = ndia == dia ? "selected" : String.Empty;
                            <option @selected value="@dia">@ADias[ndia - 1]</option>
                        }
                    </select>
                </div>
                <div class="de-hor-box">
                    <div class="input-group-prepend" style="display: flex; flex-direction: column; width: 100%; height: 6vh;">
                        <div class="inp-a">
                            <span class="input-group-text">De:</span>
                            <input class="InputHorario" type="text" pattern="\d{1,2}:\d{2}([ap]m)?" onchange="cambiarHorarioEstudiante(this);" id="Horarios[@(vez - 1)].HoraInicial" valor-dia="@dia" valor-tipo="1" valor-index="@(vez - 1)" Name="Horarios[@(vez - 1)].HoraInicial" aria-label="Default" placeholder=" Ejemplo: 10:00" value="@Model[vez - 1].HoraInicial" style="background-color: #ececee; font-size: 1.4rem; border-bottom: 1px solid #183963; height: 6vh; padding: 0;" @readInputs>
                        </div>
                    </div>
                </div>
                <div class="a-hor-box">
                    <div class="input-group-prepend" style="display: flex; flex-direction: column; width: 100%; height: 6vh;">
                        <div class="inp-a">
                            <span class="input-group-text">A:</span>
                            <input class="InputHorario" type="text" pattern="\d{1,2}:\d{2}([ap]m)?" onchange="cambiarHorarioEstudiante(this);" id="Horarios[@(vez - 1)].HoraFinal" valor-dia="@dia" valor-tipo="1" valor-index="@(vez - 1)" Name="Horarios[@(vez - 1)].HoraFinal" aria-label="Default" placeholder=" Ejemplo: 14:00" value="@Model[vez - 1].HoraFinal" style="background-color: #ececee; font-size: 1.4rem; border-bottom: 1px solid #183963; height: 6vh; padding: 0;" @readInputs>
                        </div>
                    </div>
                </div>
                <p class="msg-err" id="Error_@(vez - 1)"></p>
                @if (!ModoConsulta)
                {
                    <div class="add-day-box addHorario" onclick="addDiaHorario(this)" data-index="@vez" data-name="Horarios" data-class="day" title="agregar @ADias[dia - 1]">
                        <i class="icon s-8 icon-plus-circle float-right" style="float: right; color:#183963;"></i>
                    </div>
                    <div class="delete-day-box deleteHorario" onclick="deleteDiaHorario(this)" data-index="@vez" data-name="Horarios" title="limpiar @ADias[dia - 1]" style="display:none;">
                        <i class="icon s-8 icon-minus-circle float-right" style="float: right; color:#183963;"></i>
                    </div>
                }
            </div>
        }
    </div>
    <div class="form-group" style="color: #183963; margin-top:1%;">
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="color: #183963" @disabledInputs></textarea>
        <label for="exampleFormControlTextarea1" style="color: #183963;">Comentarios</label>
    </div>
    <input type="hidden" id="Id" name="Id" value="@Id" />
    <input type="hidden" id="TipoHorario" name="TipoHorario" value="@TipoHorario" />
    if (!ModoConsulta)
    {
        <div class="box-button-hor">
            <div class="box-but-reg">
                <button onclick="back();" class="btn" style="text-transform: capitalize;background-color:#CADEF6; border-color: #CADEF6; margin-top: 1.5rem; margin-bottom: 1.5rem; height: 4vw; width: 14vw; border-radius: 10px; color:#183963; font-family: 'Raleway'; font-weight: 900; font-size:1.5vw;">Regresar</button>
            </div>
            <div class="box-but-sig">
                <button type="submit" class="btn" style="text-transform: capitalize;background-color:#183963; border-color: #183963; margin-top: 1.5rem; margin-bottom: 1.5rem; height: 4vw; width: 14vw; border-radius: 15px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 900; font-size:1.5vw;">Siguiente</button>
            </div>
        </div>
    }
}
<script src="~/Scripts/ControldeHorarios/Empleado.js" asp-append-version="true"></script>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        numHorariosEmpleado(@(Model.Count() - 1));
        horariosGenerales = [{"Id": @Id,"Tipo":1, "Horarios": @Html.Raw(horariosGeneral)}];
    });
</script>