﻿
@using Aplics.Servicios.Modelos.Nominix;
@using Aplics.Servicios.Modelos.Solicitudes;
@model DatosSolicitud
@{
    ViewBag.Title = "_fileSolPermisoEmp";
    Model.StatusRH = String.IsNullOrEmpty(Model.StatusRH) ? String.Empty : Model.StatusRH;
    Model.StatusSup = String.IsNullOrEmpty(Model.StatusSup) ? String.Empty : Model.StatusSup;


   
}
<!-- STYLESHEETS -->
<link href="~/Content/permisos/filesolicitudpermiso.css" rel="stylesheet" />
<!-- CONTENT -->
<div class="cont-view">
    <div class="request-admin">
        <div class="info-rqst">

            <p class="tittle-rqst">Datos de Solicitud</p>

            <div class="card-rqst">
                <div class="header-card-rqst">
                    <img src="~/assets/images/user-help/user.png" alt="imagen de usuario" />
                    <div class="info-empleado">
                        <p>Nombre: @Model.NombreEmpleado</p>
                        <p>No. Empleado: @Model.NumEmpleado</p>
                        <p>Puesto: @Model.Puesto</p>
                        <p>Superior: @Model.Superior</p>
                    </div>
                </div>

                <p>Solicitud @Model.Id</p>
                <div class="cont-card-rqst">
                    <div class="tipo">
                        <p>Tipo de Solicitud</p>
                        <p>Fecha Inicial</p>
                        <p>Fecha Final</p>
                        <p>Comprobante</p>
                    </div>

                    <div class="pet-usuario">
                        <p>@Model.Descripcion</p>
                        <p>@Model.FechaInicial.ToString("dd MMM yyyy")</p>
                        <p>@Model.FechaFinal.ToString("dd MMM yyyy")</p>
                        <p>No Aplica</p>
                    </div>

                </div>

            </div>

        </div>

        <div class="list-coments">

            <div class="card" style="border-radius: 10px; width: 100%; display: flex;">
                <div class="card-header" style="border-radius: 10px 0px 0px 0px; color: #00464E; font-family: 'Raleway'; font-size: 2rem; font-weight: 600;">
                    Comentarios
                </div>
                <div class="card-body" style="border-radius: 10px;">
                    <blockquote class="blockquote mb-0"
                                style="color: #00464E;
                                                    font-family: 'Raleway';
                                                    font-size: 1.2rem;
                                                    font-weight: 500;">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam consectetur hic impedit id officiis eligendi possimus! Sapiente nihil tenetur adipisci voluptatibus velit omnis ad deleniti, at laudantium qui alias esse.</p>
                        <footer class="blockquote-footer"
                                style="color: #00464E;
                                                        font-family: 'Raleway';
                                                        font-size: 1.2rem;
                                                        font-weight: 600;">
                            @this.Session["NombreEmpleado"].ToString() <cite title="Source Title">Cargo</cite>
                        </footer>
                    </blockquote>

                </div>
            </div>

        </div>
    </div>

</div>
<!-- CONTENT -->