﻿@{
    ViewBag.Title = "_fileSolHorarioEmp";
}

<!-- STYLESHEETS -->
<link href="~/Content/horarios/filesolicitudhorario.css" rel="stylesheet" />
<!-- CONTENT -->
<div class="cont-view" style="flex-direction:row" ;>
    <div class="info-rqst">

        <p class="tittle-rqst">Datos de Solicitud</p>

        <div class="card-rqst">
            <div class="header-card-rqst">
                <img src="~/assets/images/user-help/user.png" alt="imagen de usuario"/>
                <div class="info-empleado">
                    <p>Nombre: César Pérez Rodríguez</p>
                    <p>No. Empleado: 0174</p>
                </div>
            </div>

            <p style="margin-top: 1rem;">Solicitud 198895</p>

            <div id="accordion" role="tablist" style="width: 100%;">

                <div class="card card-datos" style="display: flex; width: 100%;">
                    <div class="card-header" role="tab" id="headingOne" style="background-color: #00897B; color: white; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 600; text-align: center; height: 5vh; padding: 3px;">
                        <div class="mb-0">
                            <a data-toggle="collapse" href="#collapseData" aria-expanded="false"
                               aria-controls="collapseOne" style="color: #FFFFFF; text-decoration: none; display: flex;">
                                <div class="tittle-accordion">
                                    <p>Datos</p>
                                    <i class="icon s-6 icon-account-card-details" style="color:#FFFFFF;"></i>
                                </div>
                                <div class="arrow">
                                    <i class=" icon s-6 icon-chevron-down" style="color: #FFFFFF;"></i>
                                </div>

                            </a>
                        </div>
                    </div>

                    <div id="collapseData" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                         data-parent="#accordion">
                        <div class="card-block">
                            <div class="form-row">
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #00464E; font-size: 1rem;">No. de Empleado</label>
                                    <input disabled type="text" class="form-control" style="color:#00464E; font-size: 1rem;" placeholder="0174">
                                </div>
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #00464E; font-size: 1rem;">Fecha Solicitud</label>
                                    <input disabled type="text" class="form-control" style="color:#00464E; font-size: 1rem;" placeholder="11 Dic 2019">
                                </div>
                            </div>
                            <div class="form-group" style="padding-top: 0rem;     margin-bottom: 2rem;">
                                <label style="color: #00464E; font-size: 1rem;">Nombre completo</label>
                                <input disabled type="text" class="form-control" style="color:#00464E; font-size: 1rem;" placeholder="César Pérez Rodriguez">
                            </div>
                            <div class="form-row">
                                <select disabled id="select-universidad" class="select-university">
                                    <option>Selecciona tu universidad</option>
                                    <option selected value="1">Universidad 1</option>
                                    <option value="2">Universidad 2</option>
                                    <option value="3">Universidad 3</option>
                                </select>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #00464E;font-size: 1rem;">Periodo</label>
                                    <input disabled type="text" class="form-control" style="color:#00464E; font-size: 1rem;" placeholder="1">
                                </div>
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #00464E;font-size: 1rem;">Duración</label>
                                    <input disabled type="text" class="form-control" style="color:#00464E; font-size: 1rem;" placeholder="Semestre">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #00464E; font-size: 1rem;">Fecha incio</label>
                                    <input disabled type="text" class="form-control" style="color:#00464E; font-size: 1rem;" placeholder="11 Dic 2019">
                                </div>
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #00464E; font-size: 1rem;">Fecha Final</label>
                                    <input disabled type="text" class="form-control" style="color:#00464E; font-size: 1rem;" placeholder="12 Jun 2020">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #00464E; font-size: 1rem;"> Año </label>
                                    <input disabled type="text" class="form-control" style="color:#00464E; font-size: 1rem;" placeholder="2019">
                                </div>
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #00464E; font-size: 1rem;"> Motivo </label>
                                    <input disabled type="text" class="form-control" style="color:#00464E; font-size: 1rem;" placeholder="Prácticas">
                                </div>
                            </div>
                        </div>



                    </div>
                </div>

                <div class="card card-datos" style="display: flex; width: 100%;">
                    <div class="card-header" role="tab" id="headingTwo" style="background-color: #00897B; color: white; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 600; text-align: center; height: 5vh; padding: 3px;">
                        <div class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapseDocto" aria-expanded="false"
                               aria-controls="collapseTwo" style="color: #FFFFFF; text-decoration: none; display: flex;">
                                <div class="tittle-accordion">
                                    <p>Constancia</p>
                                    <i class="icon s-6 icon-file-pdf" style="color:#FFFFFF;"></i>
                                </div>
                                <div class="arrow">
                                    <i class=" icon s-6 icon-chevron-down" style="color: #FFFFFF;"></i>
                                </div>

                            </a>
                        </div>
                    </div>
                    <div id="collapseDocto" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                         data-parent="#accordion">
                        <div class="card-block" style="border-radius: 10px; display: flex; justify-content: center;">
                            <a href="~/assets/images/constancia.png" target="_blank">
                                <img class="img-fluid" src="~/assets/images/constancia.png" style="padding: .5em; height: 50vh;">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="card card-datos" style="display: flex; width: 100%;">
                    <div class="card-header" role="tab" id="headingThree" style="background-color: #00897B; color: white; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 600; text-align: center; height: 5vh; padding: 3px;">
                        <div class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapseHorarios" aria-expanded="true"
                               aria-controls="collapseThree" style="color: #FFFFFF; text-decoration: none; display: flex;">
                                <div class="tittle-accordion">
                                    <p>Horarios</p>
                                    <i class="icon s-6  icon-clock" style="color:#FFFFFF;"></i>
                                </div>
                                <div class="arrow">
                                    <i class=" icon s-6 icon-chevron-down" style="color: #FFFFFF;"></i>
                                </div>

                            </a>
                        </div>
                    </div>
                    <div id="collapseHorarios" class="collapse show" role="tabpanel" aria-labelledby="headingThree"
                         data-parent="#accordion">
                        <div class="cont-accordion" style="border-radius: 15px; font-size: 1.2vw; vertical-align: middle; margin-top: 10px; width: 100%;">
                            <div id="accordion-2" role="tablist" style="display: flex; flex-direction: column;">
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingFour">
                                        <h5 class="mb-0" style="width: 100%; margin: 0;">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseMon" aria-expanded="true"
                                               aria-controls="collapseFour" style="display: flex; align-items: center; justify-content: space-between; font-family: 'Raleway'; font-size: 1.4rem; font-weight: 600; color: #00464E; appearance: none; text-decoration: none;">
                                                Lunes
                                                <i class=" icon s-6 icon-chevron-down" style="color: #00464E;"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseMon" class="collapse show" role="tabpanel" aria-labelledby="headingFour"
                                         data-parent="#accordion-2">
                                        <div class="card-block">
                                            <div class="escolar">
                                                <p>Escolar</p>
                                                <div class="Hor-Esc">
                                                    <div class="Esc-De">
                                                        <p>De:</p>
                                                        <p>07:00</p>
                                                    </div>
                                                    <div class="Esc-A">
                                                        <p>A:</p>
                                                        <p>12:00</p>
                                                    </div>
                                                </div>
                                                <div class="Hor-Esc">
                                                    <div class="Esc-De">
                                                        <p>De:</p>
                                                        <p>19:00</p>
                                                    </div>
                                                    <div class="Esc-A">
                                                        <p>A:</p>
                                                        <p>22:00</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="laboral">
                                                <p>Laboral</p>
                                                <div class="Hor-Lab">
                                                    <div class="Lab-De">
                                                        <p>De:</p>
                                                        <p>13:00</p>
                                                    </div>
                                                    <div class="Lab-A">
                                                        <p>A:</p>
                                                        <p>18:00</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="comida">
                                                <p>Comida</p>
                                                <div class="Hor-Com">
                                                    <div class="Com-De">
                                                        <p>1</p>
                                                        <p>Hora(s)</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingFive">
                                        <h5 class="mb-0" style="width: 100%; margin: 0;">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseTue" aria-expanded="false"
                                               aria-controls="collapseFive" style="display: flex; align-items: center; justify-content: space-between; font-family: 'Raleway'; font-size: 1.4rem; font-weight: 600; color: #00464E; appearance: none; text-decoration: none;">
                                                Martes
                                                <i class=" icon s-6 icon-chevron-down" style="color: #00464E;"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseTue" class="collapse" role="tabpanel" aria-labelledby="headingFive"
                                         data-parent="#accordion-2">
                                        <div class="card-block">
                                            <div class="escolar">
                                                <p>Escolar</p>
                                                <div class="Hor-Esc">
                                                    <div class="Esc-De">
                                                        <p>De:</p>
                                                        <p>07:00</p>
                                                    </div>
                                                    <div class="Esc-A">
                                                        <p>A:</p>
                                                        <p>08:00</p>
                                                    </div>
                                                </div>
                                                <div class="Hor-Esc">
                                                    <div class="Esc-De">
                                                        <p>De:</p>
                                                        <p>14:00</p>
                                                    </div>
                                                    <div class="Esc-A">
                                                        <p>A:</p>
                                                        <p>15:00</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="laboral">
                                                <p>Laboral</p>
                                                <div class="Hor-Lab">
                                                    <div class="Lab-De">
                                                        <p>De:</p>
                                                        <p>09:00</p>
                                                    </div>
                                                    <div class="Lab-A">
                                                        <p>A:</p>
                                                        <p>13:00</p>
                                                    </div>
                                                </div>
                                                <div class="Hor-Lab">
                                                    <div class="Lab-De">
                                                        <p>De:</p>
                                                        <p>14:00</p>
                                                    </div>
                                                    <div class="Lab-A">
                                                        <p>A:</p>
                                                        <p>20:00</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comida">
                                                <p>Comida</p>
                                                <div class="Hor-Com">
                                                    <div class="Com-De">
                                                        <p>2</p>
                                                        <p>Hora(s)</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingSix">
                                        <h5 class="mb-0" style="width: 100%; margin: 0;">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseWed" aria-expanded="false"
                                               aria-controls="collapseSix" style="display: flex; align-items: center; justify-content: space-between; font-family: 'Raleway'; font-size: 1.4rem; font-weight: 600; color: #00464E; appearance: none; text-decoration: none;">
                                                Miércoles
                                                <i class=" icon s-6 icon-chevron-down" style="color: #00464E;"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseWed" class="collapse" role="tabpanel" aria-labelledby="headingSix"
                                         data-parent="#accordion-2">
                                        <div class="card-block">
                                            <div class="escolar">
                                                <p>Escolar</p>
                                                <div class="Hor-Esc">
                                                    <div class="Esc-De">
                                                        <p>De:</p>
                                                        <p>07:00</p>
                                                    </div>
                                                    <div class="Esc-A">
                                                        <p>A:</p>
                                                        <p>12:00</p>
                                                    </div>
                                                </div>
                                                <div class="Hor-Esc">
                                                    <div class="Esc-De">
                                                        <p>De:</p>
                                                        <p>19:00</p>
                                                    </div>
                                                    <div class="Esc-A">
                                                        <p>A:</p>
                                                        <p>22:00</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="laboral">
                                                <p>Laboral</p>
                                                <div class="Hor-Lab">
                                                    <div class="Lab-De">
                                                        <p>De:</p>
                                                        <p>13:00</p>
                                                    </div>
                                                    <div class="Lab-A">
                                                        <p>A:</p>
                                                        <p>18:00</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comida">
                                                <p>Comida</p>
                                                <div class="Hor-Com">
                                                    <div class="Com-De">
                                                        <p>1</p>
                                                        <p>Hora(s)</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingSeven">
                                        <h5 class="mb-0" style="width: 100%; margin: 0;">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseThu" aria-expanded="false"
                                               aria-controls="collapseSeven" style="display: flex; align-items: center; justify-content: space-between; font-family: 'Raleway'; font-size: 1.4rem; font-weight: 600; color: #00464E; appearance: none; text-decoration: none;">
                                                Jueves
                                                <i class=" icon s-6 icon-chevron-down" style="color: #00464E;"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseThu" class="collapse" role="tabpanel" aria-labelledby="headingSeven"
                                         data-parent="#accordion-2">
                                        <div class="card-block">
                                            <div class="escolar">
                                                <p>Escolar</p>
                                                <div class="Hor-Esc">
                                                    <div class="Esc-De">
                                                        <p>De:</p>
                                                        <p>07:00</p>
                                                    </div>
                                                    <div class="Esc-A">
                                                        <p>A:</p>
                                                        <p>12:00</p>
                                                    </div>
                                                </div>
                                                <div class="Hor-Esc">
                                                    <div class="Esc-De">
                                                        <p>De:</p>
                                                        <p>19:00</p>
                                                    </div>
                                                    <div class="Esc-A">
                                                        <p>A:</p>
                                                        <p>22:00</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="laboral">
                                                <p>Laboral</p>
                                                <div class="Hor-Lab">
                                                    <div class="Lab-De">
                                                        <p>De:</p>
                                                        <p>13:00</p>
                                                    </div>
                                                    <div class="Lab-A">
                                                        <p>A:</p>
                                                        <p>18:00</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comida">
                                                <p>Comida</p>
                                                <div class="Hor-Com">
                                                    <div class="Com-De">
                                                        <p>1</p>
                                                        <p>Hora(s)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab" id="headingEight">
                                        <h5 class="mb-0" style="width: 100%; margin: 0;">
                                            <a class="collapsed" data-toggle="collapse" href="#collapseFri" aria-expanded="false"
                                               aria-controls="collapseEight" style="display: flex; align-items: center; justify-content: space-between; font-family: 'Raleway'; font-size: 1.4rem; font-weight: 600; color: #00464E; appearance: none; text-decoration: none;">
                                                Viernes
                                                <i class=" icon s-6 icon-chevron-down" style="color: #00464E;"></i>
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="collapseFri" class="collapse" role="tabpanel" aria-labelledby="headingEight"
                                         data-parent="#accordion-2">
                                        <div class="card-block">
                                            <div class="escolar">
                                                <p>Escolar</p>
                                                <div class="Hor-Esc">
                                                    <div class="Esc-De">
                                                        <p>De:</p>
                                                        <p>07:00</p>
                                                    </div>
                                                    <div class="Esc-A">
                                                        <p>A:</p>
                                                        <p>12:00</p>
                                                    </div>
                                                </div>
                                                <div class="Hor-Esc">
                                                    <div class="Esc-De">
                                                        <p>De:</p>
                                                        <p>19:00</p>
                                                    </div>
                                                    <div class="Esc-A">
                                                        <p>A:</p>
                                                        <p>22:00</p>
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="laboral">
                                                <p>Laboral</p>
                                                <div class="Hor-Lab">
                                                    <div class="Lab-De">
                                                        <p>De:</p>
                                                        <p>13:00</p>
                                                    </div>
                                                    <div class="Lab-A">
                                                        <p>A:</p>
                                                        <p>18:00</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comida">
                                                <p>Comida</p>
                                                <div class="Hor-Com">
                                                    <div class="Com-De">
                                                        <p>1</p>
                                                        <p>Hora(s)</p>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </div>


        </div>

    </div>

    <div class="list-coments">

        <div class="header-user-help">
            <span data-toggle="modal" data-target="#modal-admin-help-horarios" style="cursor: pointer;">
                Da click para ver el tutorial
                <i class="icon s-6 icon-help-circle-outline" style="color: #00464E;"></i>
            </span>

        </div>
        <div class="card" style="border-radius: 10px; width: 100%; display: flex; margin-bottom: 10%;">
            <div class="card-header" style="border-radius: 10px 0px 0px 0px; color: #00464E; font-family: 'Raleway'; font-size: 2rem; font-weight: 600;">
                Comentarios
            </div>
            <div class="card-body" style="border-radius: 10px;">
                <blockquote class="blockquote mb-0"
                            style="color: #00464E;
                                                    font-family: 'Raleway';
                                                    font-size: 1.2rem;
                                                    font-weight: 500;">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam consectetur hic impedit id officiis eligendi possimus! Sapiente nihil tenetur adipisci voluptatibus velit omnis ad deleniti, at laudantium qui alias esse.</p>
                    <footer class="blockquote-footer"
                            style="color: #00464E;
                                                        font-family: 'Raleway';
                                                        font-size: 1.2rem;
                                                        font-weight: 600;">
                        @this.Session["NombreEmpleado"].ToString() <cite title="Source Title">Cargo</cite>
                    </footer>
                </blockquote>
            </div>
        </div>

        <div class="card" style="border-radius: 10px; width: 100%; display: flex; margin-bottom: 10%;">
            <div class="card-header" style="border-radius: 10px 0px 0px 0px; color: #00464E; font-family: 'Raleway'; font-size: 2rem; font-weight: 600;">
                Total de Horas Laborales por Semana
            </div>
            <div class="card-body" style="border-radius: 10px;">
                <div class="total-horas-lab">
                    <p>Total Horas Laborales</p>
                    <div class="box-tot-lab">
                        <p>32 horas</p>
                        <p>30 mins</p>
                    </div>
                </div>
                <div class="total-horas-com">
                    <p>Total Horas Comida</p>
                    <div class="box-tot-com">
                        <p>2 horas</p>
                        <p>30 mins</p>
                    </div>
                </div>
                <div class="total-horas-sem">
                    <p>Total Horas Laborales por Semana</p>
                    <div class="box-tot-sem">
                        <p>30 horas</p>
                        <p>0 mins</p>
                    </div>
                </div>
                <p class="msg-int">**Revisa que cubra el mínimo de horas requeridas por semana, para aprobar la solicitud.</p>
            </div>
        </div>

    </div>

</div>
<!-- CONTENT -->

