﻿@{ 
    if (ViewBag.Status == null) { ViewBag.Status = String.Empty; }
    String Status = ViewBag.Status;
}
<!-- STYLESHEETS -->
<link href="~/Content/shared/filtrosolicitudes.css" rel="stylesheet" />
<div class="container-search-bar">
    <div class="box-search-bar">
        <div class="search-bar">
            <div class="input-group">
                <input type="text" style="height: 100%;" class="search-input form-control inp-search-bar" placeholder="Buscar por No. de Empleado" aria-label="Search.." id="filtroEmpleado" name="filtroEmpleado" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-icon" onclick="filtroSolicitudesEmp();">
                        <i class="icon icon-magnify" style="color: #00464e;"></i>
                    </button>
                </span>
            </div>
        </div>
        <div class="search-bar" style=" display: flex; width: 40%; border: 1px solid #00464E; border-radius: 5px; padding: 5px; height: 100%; text-align: center;">
            <div class="input-group">
                <input type="text" style="height: 100%;" class="search-input form-control inp-search-bar" placeholder="Buscar por Año" aria-label="Search.." id="filtroAnio" name="filtroAnio" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-icon" onclick="filtroSolicitudesAnio();">
                        <i class="icon icon-magnify" style="color: #00464e;"></i>
                    </button>
                </span>
            </div>
        </div>
    </div>
    <input id="StatusFiltroSol" name="StatusFiltroSol" type="hidden" value="@Status" />
</div>