﻿@{
    ViewBag.Title = "_fileSolicitudPermiso";
}

<!-- STYLESHEETS -->
<link href="~/Content/permisos/filesolicitudpermiso.css" rel="stylesheet" />
<!-- CONTENT -->
<div class="cont-view">
    <div class="request-admin">
        <div class="info-rqst">

            <p class="tittle-rqst">Datos de Solicitud</p>

            <div class="card-rqst">
                <div class="header-card-rqst">
                    <img src="~/assets/images/user-help/user.png" alt="imagen de usuario"  />
                    <div class="info-empleado">
                        <p>Nombre: César Pérez Rodríguez</p>
                        <p>No. Empleado: 308759</p>
                        <p>Puesto: Jefe de Tesorería</p>
                        <p>Superior: Angélica Reyes González</p>
                    </div>
                </div>

                <p>Solicitud 04932094</p>
                <div class="cont-card-rqst">
                    <div class="tipo">
                        <p>Tipo de Solicitud</p>
                        <p>Fecha Inicial</p>
                        <p>Fecha Final</p>
                        <p>Comprobante</p>
                    </div>

                    <div class="pet-usuario">
                        <p>Permiso de Paternidad</p>
                        <p>19 Dic 2019</p>
                        <p>21 Dic 2019</p>
                        <p>No Aplica</p>
                    </div>

                </div>

            </div>

        </div>

        <div class="list-coments">

            <div class="card" style="border-radius: 10px; width: 100%; display: flex;">
                <div class="card-header" style="border-radius: 10px 0px 0px 0px; color: #00464E; font-family: 'Raleway'; font-size: 2rem; font-weight: 600;">
                    Comentarios
                </div>
                <div class="card-body" style="border-radius: 10px;">
                    <blockquote class="blockquote mb-0"
                                style="color: #00464E;
                                                    font-family: 'Raleway';
                                                    font-size: 1.2rem;
                                                    font-weight: 500;">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam consectetur hic impedit id officiis eligendi possimus! Sapiente nihil tenetur adipisci voluptatibus velit omnis ad deleniti, at laudantium qui alias esse.</p>
                        <footer class="blockquote-footer"
                                style="color: #00464E;
                                                        font-family: 'Raleway';
                                                        font-size: 1.2rem;
                                                        font-weight: 600;">
                            @this.Session["NombreEmpleado"].ToString() <cite title="Source Title">Cargo</cite>
                        </footer>
                    </blockquote>
                    
                </div>
            </div>

        </div>
    </div>

</div>
<!-- CONTENT -->

@Html.Partial("_modalHistPermisos");