﻿@{ 
    String rootPath = Server.MapPath("~/EmpFiles/Fotografias");
    String noemp = Session["NoEmp"].ToString();
}
<!DOCTYPE html>
<html lang="es-us">

<head>
    <title>CRZ - menu admin</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.ico" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <style type="text/css">
        [fuse-cloak],
        .fuse-cloak {
            display: none !important;
        }

        [aside],
        .aside {
            background-color: #183963;
        }

        aside {
            font-family: 'Raleway';
            font-weight: 900;
            color: white;
        }

            aside .icon {
                color: white;
                font-size: 1.5vw;
            }

        .name-user {
            font-family: 'Raleway';
            font-size: 1.7vw;
            color: #183963;
            margin: 0;
            margin-left: 3px;
        }
    </style>

    <!-- Icons.css -->
    <link type="text/css" rel="stylesheet" href="~/assets/icons/fuse-icon-font/style.css">
    <!-- Animate.css -->
    <link type="text/css" rel="stylesheet" href="~/assets/modulos/animate.css/animate.min.css">
    <!-- PNotify -->
    <link type="text/css" rel="stylesheet" href="~/assets/modulos/pnotify/dist/PNotifyBrightTheme.css">
    <!-- Nvd3 - D3 Charts -->
    <link type="text/css" rel="stylesheet" href="~/assets/modulos/nvd3/build/nv.d3.min.css" />
    <!-- Perfect Scrollbar -->
    <link type="text/css" rel="stylesheet" href="~/assets/modulos/perfect-scrollbar/css/perfect-scrollbar.css" />
    <!-- Fuse Html -->
    <link type="text/css" rel="stylesheet" href="~/assets/fuse-html/fuse-html.min.css" />
    <!-- Main CSS -->
    <link type="text/css" rel="stylesheet" href="~/assets/css/main.css">
    <!-- / STYLESHEETS -->
    <!-- JAVASCRIPT -->
    <!-- jQuery -->
    <script type="text/javascript" src="~/assets/modulos/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <!-- Mobile Detect -->
    <script type="text/javascript" src="~/assets/modulos/mobile-detect/mobile-detect.min.js"></script>
    <!-- Perfect Scrollbar -->
    <script type="text/javascript" src="~/assets/modulos/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- Popper.js -->
    <script type="text/javascript" src="~/assets/modulos/popper.js/dist/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="~/assets/modulos/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Nvd3 - D3 Charts -->
    <script type="text/javascript" src="~/assets/modulos/d3/d3.min.js"></script>
    <script type="text/javascript" src="~/assets/modulos/nvd3/build/nv.d3.min.js"></script>
    <!-- Data tables -->
    <script type="text/javascript" src="~/assets/modulos/datatables.net/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/assets/modulos/datatables-responsive/js/dataTables.responsive.js"></script>
    <!-- PNotify -->
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotify.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyStyleMaterial.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyButtons.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyCallbacks.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyMobile.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyHistory.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyDesktop.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyConfirm.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyReference.js"></script>
    <!-- Fuse Html -->
    <script type="text/javascript" src="~/assets/fuse-html/fuse-html.min.js"></script>
    <!-- Main JS -->
    <script type="text/javascript" src="~/assets/js/main.js"></script>
    <!-- / JAVASCRIPT -->
</head>

<body class="layout layout-vertical layout-left-navigation layout-below-toolbar layout-below-footer">
    <main>
        <div id="wrapper">
            <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left" style="background-color: #00897B;">
                <div class="aside-content text-auto" style="background-color: #183963;">

                    <div class="aside-toolbar" style="background-color: #183963;">
                        <div class="logo">
                            <img src="~/images/logo-aaacesa-mini.jpg" class="logo-icon" style="border-radius: 5px" />
                            @*<span class="logo-icon" style="font-family: Tianne; background-color: #C4C4C4; border-radius: 90px">CRZ</span>*@
                            <span class="logo-text" style="font-family: Tianne;">AAACESA</span>
                        </div>

                        <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                            <i class="icon icon-backburger"></i>
                        </button>

                    </div>

                    @*MENU ADMIN*@
                    @*1 = Admin, 2 = Manager, 3 = Estudiante, 4 = Empleado*@

                    @if (Convert.ToInt32(Session["TypeRol"]) == 1)
                    {
                        @Html.Partial("_menuAdmin")

                    }
                    else if (Convert.ToInt32(Session["TypeRol"]) == 2)
                    {
                        @Html.Partial("_menuManager")
                    }
                    else if (Convert.ToInt32(Session["TypeRol"]) == 3)
                    {
                        @Html.Partial("_menuEstudiante")
                    }
                    else if (Convert.ToInt32(Session["TypeRol"]) == 4)
                    {
                        @Html.Partial("_menuEmpleado")
                    }

                </div>
            </aside>

            <div class="content-wrapper" style="background-color: white">
                <nav id="toolbar">

                    <div class="row no-gutters align-items-center flex-nowrap" style="background-color: #ECECEE;">

                        <div class="col" style="background-color: #ECECEE;">

                            <div class="row no-gutters align-items-center flex-nowrap" style="background-color: #ECECEE;">

                                <button type="button" class="toggle-aside-button btn btn-icon d-block d-lg-none" data-fuse-bar-toggle="aside">
                                    <i class="icon icon-menu"></i>
                                </button>

                                <div class="toolbar-separator d-block d-lg-none"></div>

                                <div class="toolbar-separator"></div>

                                <div style=" display: flex; justify-content: flex-start; align-items: center; height:4rem;">
                                    <p class="name-user">¡Hola @Session["NombreEmpleado"]!</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-auto">

                            <div class="row no-gutters align-items-center justify-content-end">

                                <div class="user-menu-button dropdown">

                                    <div class="dropdown-toggle ripple row align-items-center no-gutters px-2 px-sm-4" role="button" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="avatar-wrapper">
                                            <img src="~/assets/images/user-help/user.png" style="width: 3vw; border-radius: 100%;" />
                                            @*@Html.Raw(OwnHelpers.EncontrarFotoEmpleado2(rootPath, noemp))*@
                                            @*<img style="width: 3vw; border-radius: 100%;" src="@OwnHelpers.EncontrarFotoEmpleado(rootPath,noemp)" />*@
                                            @*@OwnHelpers.EncontrarFotografiaEmpleado(rootPath, noemp)*@

                                        </div>
                                        @if (Convert.ToInt32(Session["TypeRol"]) == 1)
                                        {
                                            <span class="username mx-3 d-none d-md-block" style="font-family: 'Raleway'; font-size: 2vw;">Admin</span>

                                        }
                                        else if (Convert.ToInt32(Session["TypeRol"]) == 2)
                                        {
                                            <span class="username mx-3 d-none d-md-block" style="font-family: 'Raleway'; font-size: 2vw;">Manager</span>
                                        }
                                        else if (Convert.ToInt32(Session["TypeRol"]) == 3)
                                        {
                                            <span class="username mx-3 d-none d-md-block" style="font-family: 'Raleway'; font-size: 2vw;">Empleado Est.</span>
                                        }
                                        else if (Convert.ToInt32(Session["TypeRol"]) == 4)
                                        {
                                            <span class="username mx-3 d-none d-md-block" style="font-family: 'Raleway'; font-size: 2vw;">Empleado</span>
                                        }

                                        @*<span class="username mx-3 d-none d-md-block" style="font-family: 'Raleway'; font-size: 2vw;">Admin</span>*@
                                    </div>

                                    <div class="dropdown-menu" aria-labelledby="dropdownUserMenu">

                                        @if (Convert.ToInt32(Session["TypeRolMenuSup"]) == 3)
                                        {
                                            <a class="dropdown-item" href="@Url.Action("MenuSupEstudiante","Permisos")">
                                                <div class="row no-gutters align-items-center flex-nowrap">
                                                    <i class="icon s-6 icon-account" style="color: #183963;"></i>
                                                    <span style="font-size: 1.5rem; font-weight: 600; color: #183963;" class="px-3">Mi Cuenta</span>
                                                </div>
                                            </a>
                                        }

                                        @if (Convert.ToInt32(Session["TypeRolMenuSup"]) == 4 || Convert.ToInt32(Session["TypeRolMenuSup"]) == 1 || Convert.ToInt32(Session["TypeRolMenuSup"]) == 2)
                                        {
                                            <a class="dropdown-item" href="@Url.Action("MenuSupEmpleado","Permisos")">
                                                <div class="row no-gutters align-items-center flex-nowrap">
                                                    <i class="icon s-6 icon-account" style="color: #183963;"></i>
                                                    <span style="font-size: 1.5rem; font-weight: 600; color: #183963;" class="px-3">Mi Cuenta</span>
                                                </div>
                                            </a>
                                        }


                                        @if (Convert.ToInt32(Session["TypeRolMenuSup"]) == 2 || Convert.ToInt32(Session["TypeRolMenuSup"]) == 1)
                                        {
                                            <a class="dropdown-item" href="@Url.Action("MenuSupManager","Permisos")">
                                                <div class="row no-gutters align-items-center flex-nowrap">
                                                    <i class="icon s-6 icon-people" style="color: #183963;"></i>
                                                    <span style="font-size: 1.5rem; font-weight: 600; color: #183963;" class="px-3">Manager</span>
                                                </div>
                                            </a>
                                        }

                                        @if (Convert.ToInt32(Session["TypeRolMenuSup"]) == 1)
                                        {
                                            <a class="dropdown-item" href="@Url.Action("MenuSupAdmin","Permisos")">
                                                <div class="row no-gutters align-items-center flex-nowrap">
                                                    <i class="icon s-6 icon-file-account" style="color: #183963;"></i>
                                                    <span style="font-size: 1.5rem; font-weight: 600; color: #183963;" class="px-3">Admin</span>
                                                </div>
                                            </a>
                                        }

                                        <a class="dropdown-item" href="@Url.Action("SignOut","Home")">
                                            <div class="row no-gutters align-items-center flex-nowrap">
                                                <i class="icon s-6 icon-file-account" style="color: #183963;"></i>
                                                <span style="font-size: 1.5rem; font-weight: 600; color: #183963;" class="px-3">Salir</span>
                                            </div>
                                        </a>

                                    </div>
                                </div>

                                <div class="toolbar-separator"></div>

                                @*<div class="user-menu-button dropdown">


            <div class="dropdown-toggle ripple row align-items-center no-gutters px-2 px-sm-4" role="button" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="icon s-7 icon-bell"></i>
            </div>

            <div class="dropdown-menu" aria-labelledby="dropdownUserMenu">
                <a class="dropdown-item" href="#">
                    <p>hola mundo 1</p>
                </a>
                <a class="dropdown-item" href="#">
                    <p>hola mundo 2</p>
                </a>
            </div>
        </div>*@

                                <div class="language-button dropdown">
                                    @{ Html.RenderAction("MensajesHeader", "VistasParciales"); }
                                </div>

                            </div>
                        </div>
                    </div>
                </nav>

                <div class="content custom-scrollbar">

                    @*@if (Convert.ToBoolean(Session["CalendarioActivo"]) == true)
                    {
                        <div id="calendar" class="page-layout simple full-width">
                            @RenderBody()
                        </div>

                        <link type="text/css" rel="stylesheet" href="~/assets/modulos/fullcalendar/dist/fullcalendar.min.css" />
                        <link type="text/css" rel="stylesheet" href="~/assets/modulos/fullcalendar/dist/fullcalendar.print.min.css" media="print" />

                        <script type="text/javascript" src="~/assets/modulos/moment/min/moment.min.js"></script>
                        <script type="text/javascript" src="~/assets/modulos/fullcalendar/dist/fullcalendar.min.js"></script>
                        <script type="text/javascript" src="~/assets/js/apps/calendar/calendar.js"></script>

                    }
                    else
                    {
                        <div class="doc forms-doc page-layout simple full-width">
                            <!-- CONTENT -->
                            @RenderBody()
                            <!-- CONTENT -->
                        </div>
                    }*@

                    <div class="doc forms-doc page-layout simple full-width">
            <!-- CONTENT -->
            <div id="loader-general" style="position: absolute; top: 50%; left: 50%; display: none;">
                <img src="~/images/ajax-loader.gif" style="width: 100px"/>
            </div>
                       
            @RenderBody()
            <!-- CONTENT -->
        </div>

                </div>
            </div>
        </div>
    </main>
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Site.js" asp-append-version="true"></script>
</body>
</html>