﻿@using Aplics.Servicios.Modelos.Nominix;
@model List<ResumenSolicitud>
@{ 
    String Perfil = ViewBag.Perfil;
    if (ViewBag.Status == null) { ViewBag.Status = String.Empty; }
    String Status = ViewBag.Status;
}

<!-- STYLESHEETS -->
<link href="~/Content/shared/listaresumensolicitud.css?version=2.4" rel="stylesheet" />
<scroll-container class="view-notification">
    @if (Model == null)
    {
    <div>
        <p class="text-no-view">No tienes solicitudes pendientes.</p>
    </div>
    }
    else
    {
        foreach (ResumenSolicitud rs in Model)
        {
            <scroll-page class="request" onclick='SolicitudDetalle(@rs.Id);' style="cursor: pointer;">
                <div class="data-rqst">
                    <p>Solicitud @rs.Id</p>
                    <p>Solicitud de @rs.TipoSolicitud</p>
                </div>

                <div class="date-rqst">
                    <p>Fecha de Solicitud</p>
                    <p>@rs.Fecha.ToString("dd MMM yyyy")</p>
                </div>
                <input type="hidden" id="id" name="id" value="@rs.Id" />
                <input type="hidden" id="filtroPerfil" name="filtroPerfil" value="@Perfil" />
                <input type="hidden" id="Status" name="Status" value="@Status" />
            </scroll-page>
            <hr>
        }
    }

</scroll-container>