﻿<ul class="nav flex-column crz-sidenav" id="sidenav" data-children=".nav-item" style="background-color: #183963;">

    <li class="nav-item">
        <a class="nav-link ripple " href="@Url.Action("MiPerfil","Empleado")" data-url="user-interface-elements-forms.html">
            <i class="icon s-4 icon-account"></i>
            <span>MI PERFIL</span> @*sin vista*@
        </a>
    </li>

    <li class="nav-item" role="tab">

        <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-permisos" href="#" aria-expanded="false" aria-controls="collapse-dashboards">
            <i class="icon s-4 icon-clipboard-text"></i>
            <span>VACACIONES Y PERMISOS</span>
        </a>

        <ul id="collapse-permisos" class='collapse ' role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

            <li class="nav-item">
                <a class="nav-link ripple " href="@Url.Action("ListaPermisos","Permisos")" data-url="user-interface-elements-forms.html">
                    <i class="icon s-4 icon-clipboard-account"></i>
                    <span>MIS SOLICITUDES</span> @*lista permisos*@
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="@Url.Action("HistoricoDescansos","Permisos")" data-url="user-interface-elements-forms.html">
                    <i class="icon s-4 icon-clipboard-account"></i>
                    <span>HISTÓRICO</span> @*historico descansos*@
                </a>
            </li>

        </ul>
    </li>

    <li class="nav-item" role="tab">

        <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-solicitudes" href="#" aria-expanded="false" aria-controls="collapse-dashboards">
            <i class="icon s-4 icon-clock"></i>
            <span>CONTROL DE HORARIOS</span>
        </a>
        <ul id="collapse-solicitudes" class='collapse ' role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

            <li class="nav-item">
                <a class="nav-link ripple " href="@Url.Action("ControHorarios","Horarios")" data-url="user-interface-elements-forms.html">
                    <i class="icon s-4 icon-calendar-clock"></i>
                    <span>SOLICITUD</span> @*controlhorarios*@
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="@Url.Action("HorariosStatus","Horarios")" data-url="user-interface-elements-forms.html">
                    <i class="icon s-4 icon-calendar-clock"></i>
                    <span>HORARIO ACTUAL</span> @*horarios*@
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="@Url.Action("BusqSolicitudesHorariosEst","Horarios")" data-url="user-interface-elements-forms.html" style="font-size: 1rem;">
                    <i class="icon s-4  icon-bell-outline"></i>
                    <span>NOTIFICACIONES DE HORARIOS</span> @*horarios*@
                </a>
            </li>

        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link ripple " href="@Url.Action("Index","Documentos")" data-url="user-interface-elements-forms.html">
            <i class="icon s-4 icon-file-find"></i>
            <span>DOCUMENTOS</span> @*sin vista*@
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link ripple " href="@Url.Action("CalendarioEmp","Permisos")" data-url="user-interface-elements-forms.html">
            <i class="icon s-4 icon-calendar-range"></i>
            <span>CALENDARIO</span> @*sin vista*@
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link ripple " href="@Url.Action("BusqSolicitudesPermisosEmp","Permisos")" data-url="user-interface-elements-forms.html">
            <i class="icon s-4 icon-bell"></i>
            <span>NOTIFICACIONES</span> @*notificaciones permisos controller*@
        </a>
    </li>

</ul>
