﻿@using Aplics.Servicios.Modelos.Nominix;
@using Aplics.Servicios.Modelos.Generales;
@using Aplics.Servicios.Modelos.Horarios;
@model EmpleadoEstudiante
@{
    ViewBag.Title = "_MenuHorarios";
    List<CatalogoGeneral> catalogoUniversidades = ViewBag.CatalogoUniversidades;
    VMHorarioLista HorarioEmpleado = ViewBag.Horarios;
}
    <!-- STYLESHEETS -->
    <link href="~/Content/horarios/menuhorarios.css?V=1.1" rel="stylesheet" />


<nav class="toolbar-hor">
                      
    <div onclick="$('#btnEditaSolicitud2').click();" class="button-nav-box">
        @using (Html.BeginForm("EditaSolicitud", "Horarios", FormMethod.Post, new { @id = "formEditaSolicitud2", @class = "form-nav" }))
        {
            <button style="cursor: pointer;" id="btnEditaSolicitud2" type="submit" form="formEditaSolicitud2" class="crz-nav-title active">SOLICITUD</button>
            <input type="hidden" id="id" Name="id" value="@Model.Id" />
        }
    </div>
    <div onclick="$('#btnEditaConstancia2').click();" style="cursor: pointer;">
        @using (Html.BeginForm("VisorConstanciasPDF", "Horarios", FormMethod.Post, new { @class = "form-nav", @id = "formEditaConstacia2" }))
        {
            <button style="cursor: pointer;" type="submit" id="btnEditaConstancia2" form="formEditaConstacia2" class="crz-nav-title">CONSTANCIA</button>
            <input type="hidden" value="@Model.U_EMP" id="claveEmpleado" name="claveEmpleado" />
            <input type="hidden" value="@Model.Id" id="Id" name="Id" />
        }
    </div>
    <div onclick="$('#btnEditaHorarios2').click();" style="cursor: pointer;">
        @using (Html.BeginForm("Horarios", "Horarios", FormMethod.Get, new { @id = "formEditaHorarios2", @class = "form-nav" }))
        {
            <button style="cursor: pointer;" type="submit" id="btnEditaHorarios2" form="formEditaHorarios2" class="crz-nav-title">HORARIOS</button>
            <input type="hidden" id="Id" Name="Id" value="@Model.Id" />
        }
    </div>
                     
</nav>
