﻿<ul class="nav flex-column crz-sidenav" id="sidenav" data-children=".nav-item" style="background-color: #183963;">

    <li class="nav-item" role="tab">

        <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-permisos" href="#" aria-expanded="false" aria-controls="collapse-dashboards">

            <i class="icon s-4 icon-clipboard-alert"></i>

            <span>SOLICITUDES PENDIENTES</span>
        </a>
        <ul id="collapse-permisos" class='collapse ' role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

            <li class="nav-item">
                <a class="nav-link ripple " href="@Url.Action("AdminSolicitudesPermisos","Permisos")" data-url="user-interface-elements-forms.html">
                    <i class="icon s-4 icon-clipboard-account"></i>
                    <span>PERMISOS</span> @*adminsolpermisos permisos controller*@
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="@Url.Action("HorariosAdminStatus","Horarios")" data-url="user-interface-elements-forms.html">
                    <i class="icon s-4 icon-clipboard-text"></i>
                    <span>HORARIOS</span> @*horarios*@
                </a>
            </li>

        </ul>
    </li>
    <li class="nav-item" role="tab">

        <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" data-target="#collapse-solicitudes" href="#" aria-expanded="false" aria-controls="collapse-dashboards">

            <i class="icon s-4 icon-file-find"></i>

            <span>BUSCAR SOLICITUDES</span>
        </a>
        <ul id="collapse-solicitudes" class='collapse ' role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

            <li class="nav-item">
                <a class="nav-link ripple " href="@Url.Action("BusqSolicitudesPermisos","Permisos")" data-url="user-interface-elements-forms.html">
                    <i class="icon s-4 icon-clipboard-account"></i>
                    <span>PERMISOS</span> @*buscsolpermisos permisos controller*@
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="@Url.Action("BusqSolicitudesHorarios","Horarios")" data-url="user-interface-elements-forms.html">
                    <i class="icon s-4 icon-clipboard-text"></i>
                    <span>HORARIOS</span> @*buscsolhorarios horarios controller*@
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link ripple " href="@Url.Action("BusqHistoricoPermisos","Permisos")" data-url="user-interface-elements-forms.html">
                    <i class="icon s-4 icon-clipboard-account"></i>
                    <span>HISTÓRICO PERMISOS</span> @*buscsolpermisos permisos controller*@
                </a>
            </li>

        </ul>
    </li>

    <li class="nav-item">
        <a class="nav-link ripple " href="@Url.Action("Index","Documentos")" data-url="user-interface-elements-forms.html">

            <i class="icon s-4 icon-folder-multiple"></i>

            <span>DOCUMENTOS RH</span>
        </a>
    </li>

    <li class="nav-item">
        <a class="nav-link ripple " href="@Url.Action("CalendarioEmp","Permisos")" data-url="user-interface-elements-forms.html">

            <i class="icon s-4 icon-calendar-multiple"></i>

            <span>CALENDARIO RH</span> @*sin vista*@
        </a>
    </li>

</ul>
