﻿@{
    ViewBag.Title = "ModalAdminHelpHorarios";
}

<!-- STYLESHEETS -->
<link href="~/Content/horarios/modaladmhelphor.css?V=1.2" rel="stylesheet" />

<!-- SCRIPT COLLAPSE -->
<script>
    $(document).ready(function () {
        $("#toggle-btn").click(function () {
            $("#toggle-example").collapse('toggle'); // toggle collapse
        });
    });
</script>

<div id="modal-admin-help-horarios" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="modal-admin-hor-helpTitle" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin: 30px 20vw; max-width: 60vw;">
        <div class="modal-content" style="width: 60vw;">
            <div class="modal-header">
                <h5 class="modal-title" style="font-family: 'Raleway'; font-size: 2rem; font-weight: 700; color: #00464E;" id="modal-admin-hor-helpTitle">Tutorial Administrador de Horarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="font-family: 'Raleway'; font-size: 1.5rem; font-weight: 700; color: #00464E; display: flex; flex-direction: column;">
                <p style="font-size: 2rem;">Da click en el tema de tu interés, para visualizar la ayuda:</p>
                <a class="collapsed tittle-help" id="toggle-btn-1" data-toggle="collapse" data-target="#collapse-secciones-help">
                    Mostrar/Ocultar Secciones
                </a>
                <div class="collapse in sh-help" id="collapse-secciones-help" role="tabpanel">
                    <p>Puedes desplegar y ocultar las secciones para visualizar la información, haciendo click en el nombre de la sección:</p>
                    <img class="img-admin-help" src="../assets/images/user-help/show-hide-sections.png" alt="imagen mostrar ocultar secciones">
                </div>

                <a class="collapsed tittle-help" id="toggle-btn-2" data-toggle="collapse"  data-target="#collapse-periodos-help">
                    Ver Histórico de Períodos
                </a>
                <div class="collapse in sh-help" id="collapse-periodos-help" role="tabpanel">
                    <p>Si haces click en la foto o en el nombre del aspirante, se desplegará el histórico de periodos, para que puedas revisar las horas asignadas en periodos anteriores:</p>
                    <img class="img-admin-help" src="../assets/images/user-help/historico-periodos.png" alt="imagen mostrar ocultar secciones">
                </div>

                <a class="collapsed tittle-help" id="toggle-btn-3" data-toggle="collapse"  data-target="#collapse-constancia-help">
                    Ver Constancia
                </a>
                <div class="collapse in sh-help" id="collapse-constancia-help" role="tabpanel">
                    <p>Si haces click en la imagen de la constancia, se abrirá en una pestaña nueva:</p>
                    <img class="img-admin-help" src="../assets/images/user-help/constancia-ejemplo.png" alt="imagen mostrar ocultar secciones">
                </div>

                <a class="collapsed tittle-help" id="toggle-btn-4" data-toggle="collapse"  data-target="#collapse-horLab-help">
                    ¿Cómo ingresar el horario laboral?
                </a>
                <div class="collapse in sh-help" id="collapse-horLab-help" role="tabpanel">
                    <p>Ingresa el horario laboral en formato de 24 horas.</p>
                    <p>Al ingresar el horario laboral, se calcurá el total de horas laboradas por día, para que puedas decidir cuanto tiempo de comida asignarás:</p>
                    <img class="img-admin-help" src="../assets/images/user-help/calculo-horas-laboradas.png" alt="imagen mostrar ocultar secciones">
                </div>

                <a class="collapsed tittle-help" id="toggle-btn-5" data-toggle="collapse"  data-target="#collapse-horTot-help">
                    ¿Cómo sé si el aspirante cubre las horas requeridas para aprobar la solicitud?
                </a>
                <div class="collapse in sh-help" id="collapse-horTot-help" role="tabpanel">
                    <p>Una vez que hayas asignado todos los horarios, se calcularán las horas laboradas por semana, para que puedas decidir si apruebas o rechazas la solicitud:</p>
                    <img class="img-admin-help" src="../assets/images/user-help/calculo-total-horas-sem.png" alt="imagen mostrar ocultar secciones">
                </div>

                <a class="collapsed tittle-help" id="toggle-btn-6" data-toggle="collapse"  data-target="#collapse-comments-help">
                    Comentarios
                </a>
                <div class="collapse in sh-help" id="collapse-comments-help" role="tabpanel">
                    <p>Puedes agregar comentarios al aspirante:</p>
                    <img class="img-admin-help" src="../assets/images/user-help/comentarios-help.png" alt="imagen mostrar ocultar secciones">
                </div>

                <a class="collapsed tittle-help" id="toggle-btn-7" data-toggle="collapse" data-target="#collapse-approve-help">
                    Aprobar/Rechazar una Solicitud
                </a>
                <div class="collapse in sh-help" id="collapse-approve-help" role="tabpanel">
                    <p>Si has completado TODOS los pasos, da click en Aprobar o Rechazar la Solicitud:</p>
                    <img class="img-admin-help" src="../assets/images/user-help/botones-apr-rchz.png" alt="imagen mostrar ocultar secciones">
                </div>

                <a class="collapsed tittle-help" id="toggle-btn-8" data-toggle="collapse"  data-target="#collapse-confirm-help">
                    Confirmación
                </a>
                <div class="collapse in sh-help" id="collapse-confirm-help" role="tabpanel">
                    <p>Visualizarás una pantalla para confirmar que apruebas o rechazas la solicitud. Da click en cancelar, para seguir editando. Da click en Enviar si la solicitud está lista:</p>
                    <img class="img-admin-help" src="../assets/images/user-help/confirmar-sol-hor.png" alt="imagen mostrar ocultar secciones">
                </div>
            </div>
            <div class="modal-footer box-buttons-modal-help" data-dismiss="modal">
                <span style="display: flex; align-items: center;">
                    Regresar
                    <i class="i-back s-10 icon-arrow-left-drop-circle-outline" style="color: #00464E;"></i>
                </span>
            </div>
        </div>
    </div>
</div>
