﻿@using Aplics.Servicios.Modelos.Nominix;
@model NotificacionSolicitud
<div id="modal-confirm-aprob" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="modal-approve-permLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <div style="display: flex; flex-direction: column; justify-content: space-evenly;">
                    <p style="display: flex; justify-content: center; align-items: center; font-family: 'Raleway'; font-size: 3rem; font-weight: 600; color: #183963;">No. Solicitud: @Model.Id</p>
                    <span style="display: flex; justify-content: center; align-items: center; color: #183963; font-size: 10rem; justify-content: center;"><i class="icon s-20 icon-alert-circle-outline" style="color: #C6FF00;"></i></span>
                    <p style="display: flex; justify-content: center; align-items: center; font-family: 'Raleway'; font-size: 3rem; font-weight: 600; color: #183963;">@Model.Mensaje</p>
                </div>
            </div>
            <div class="modal-footer" style="display: flex; width: 100%; justify-content: flex-end; color: #183963; font-family: 'Raleway'; font-size: 2rem; font-weight: 600;">
                <button data-dismiss="modal" class="btn float-right" style=" text-transform: capitalize; background-color: #ECECEE; border-color: #ECECEE; height: 3vw; width: 14vw; border-radius: 5px; color: #183963; font-family: 'Raleway'; font-weight: 600; font-size: 1.5vw; margin-right: 1%;">Cancelar</button>
                <button id="aprob-sol" class="btn float-right" style=" text-transform: capitalize; background-color: #183963; border-color: #183963; height: 3vw; width: 14vw; border-radius: 5px; color: #FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size: 1.5vw;" onclick="aprobarSolPermiso();">Enviar</button>
            </div>
         </div>
    </div>
</div>
<!-- CONTENT -->
