﻿@using Aplics.Servicios.Modelos.Solicitudes
@{
    ViewBag.Title = "_solicitudPermiso";
    List<Aplics.Servicios.Modelos.Solicitudes.DatosSolicitud> item = new List<Aplics.Servicios.Modelos.Solicitudes.DatosSolicitud>();
    List<Aplics.Servicios.Modelos.Horarios.EmpleadoEstudiante> item2 = ViewBag.HistorialSeleccionado;
    if (ViewBag.HistorialSeleccionado == null)
    {
        item2 = null;
    }

}

<!-- STYLESHEETS -->
<link href="~/Content/permisos/modalhistpermisos.css?V=1.1" rel="stylesheet" />

<!-- SCRIPTS -->
<script src="~/Scripts/ControldeHorarios/Empleado.js" asp-append-version="true"></script>
<script src="~/Scripts/ControldeHorarios/Horario.js" asp-append-version="true"></script>
<script src="~/Scripts/moment/moment.js" asp-append-version="true"></script>



<!-- CONTENT -->
<div id="modal-hist-horarios" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-hist-permisosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin: 30px 10vw; max-width: 80vw;">
        <div class="modal-content" style="width: 80vw;">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-hist-permisosLabel">Histórico de Horarios Empleado: @ViewBag.EmpleadoSeleccionado</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="table_hist-horarios" class="table" style="cursor: pointer;" data-page-length='4'>
                    <thead style="background-color: #CADEF6; color: #183963; font-family: 'Raleway';font-weight: bold;">
                        <tr>

                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Id</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Fecha de Solicitud</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Fecha Inicial</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Fecha Final</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Aprobado</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center; color: #183963; font-family: 'Raleway';font-weight: 400;">
                        @if (item2 != null)
                        {
                            foreach (var sol in item2)
                            {
                                <tr onclick="SolicitudDetalleHistorico(@sol.Id); " data-toggle="collapse" data-parent="#collapse-hist-horarios" href="#collapse-hist-horarios1" aria-expanded="false" aria-controls="collapse-hist-horarios1">
                                    <td class="name">@sol.Id</td>
                                    <td class="owner d-none d-sm-table-cell">@sol.FechaSolicitud</td>
                                    <td class="last-modified d-none d-lg-table-cell">@sol.U_FINI.ToString("dd MMM yyyy")</td>
                                    <td class="last-modified d-none d-lg-table-cell">@sol.U_FFIN.ToString("dd MMM yyyy")</td>
                                    @if (sol.U_Aprobado == true)
                                    {
                                        <td class="last-modified d-none d-lg-table-cell">Si</td>
                                    }
                                    else
                                    {
                                        <td class="last-modified d-none d-lg-table-cell">No</td>
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                    @*<tbody style="text-align: center; color: #183963; font-family: 'Raleway';font-weight: 400;">
                            @foreach (var sol in item)
                            {
                                <tr data-toggle="collapse" data-parent="#collapse-hist-horarios" href="#collapse-hist-horarios1" aria-expanded="false" aria-controls="collapse-hist-horarios1">
                                    <td class="name">@sol.Id</td>
                                    <td class="type d-none d-md-table-cell">@sol.TipoSolicitud</td>
                                    <td class="owner d-none d-sm-table-cell">@sol.FechaSolicitud</td>
                                    @{
                                        TimeSpan difFechas = (Convert.ToDateTime(@sol.FechaFinal) - Convert.ToDateTime(@sol.FechaInicial));
                                        int dias = difFechas.Days;

                                    }
                                    <td class="size d-none d-sm-table-cell">@dias días</td>
                                    <td class="last-modified d-none d-lg-table-cell">@sol.FechaInicial</td>
                                    <td class="last-modified d-none d-lg-table-cell">@sol.FechaFinal</td>
                                    <td class="last-modified d-none d-lg-table-cell">P</td>
                                    <td class="last-modified d-none d-lg-table-cell">AA</td>
                                </tr>
                            }
                        </tbody>*@
                </table>
                <div id="collapse-hist-horarios1" class="collapse" role="tabpanel" style="    width: 100%; justify-content: center; display: flex;"></div>
            </div>
            <div class="modal-footer box-buttons-modal-help" data-dismiss="modal">
                <span style="display: flex; align-items: center; cursor:pointer;">
                    Regresar
                    <i class="i-back s-10 icon-arrow-left-drop-circle-outline" style="color: #183963;"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- CONTENT -->

<script type="text/javascript">
    $('#table_hist-horarios').DataTable({
        responsive: true,
        dom: 'rt<"dataTables_footer"ip>',
        order: [[0, "desc"]],
        retrieve: true,
    });
</script>
