﻿@model String 


<!-- STYLESHEETS -->
<link href="~/Content/permisos/modaldetalleerror.css?V=1.2" rel="stylesheet" />


<!-- CONTENT -->
<div id="modalDetalleError" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="modalNewRequest" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-left: 13%; text-align: center;">
        <div class="modal-content" style="width: 75vw; display: flex;">
            <div class="modal-header" style="padding: 1%;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body data-request" style="padding: 1%;">
                <div class="error-detail">
                    @Model
                </div>
            </div>
            <div class="modal-footer">
                <button id="cancelar" data-dismiss="modal" class="btn float-right" style="        text-transform: capitalize;
        background-color: #ECECEE;
        border-color: #ECECEE;
        height: 3vw;
        width: 14vw;
        border-radius: 5px;
        color: #00897B;
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 1.5vw;
        margin-right: 1%;">Regresar</button>
            </div>
        </div>
    </div>
</div>


