﻿@using Aplics.Servicios.Modelos.Solicitudes
@{
    ViewBag.Title = "_solicitudPermiso";
    List<DatosSolicitud> item = new List<DatosSolicitud>();

    if (ViewBag.ListaSolicitudesDetalle != null)
    {
        item = ViewBag.ListaSolicitudesDetalle;
    }

    String empSeleccionado = "";
    if (ViewBag.EmpleadoSeleccionado != null)
    {
        empSeleccionado = ViewBag.EmpleadoSeleccionado;
    }

  }

<!-- STYLESHEETS -->
<link href="~/Content/permisos/modalhistpermisos.css" rel="stylesheet" />
<!-- CONTENT -->
<div id="modal-hist-permisos" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-hist-permisosLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin: 30px 10vw; max-width: 80vw;">
        <div class="modal-content" style="width: 80vw;">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-hist-permisosLabel">Histórico de Permisos Empleado: @empSeleccionado </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <table id="table_hist-permisos" class="table" style="cursor: pointer;" data-page-length='4'>
                    <thead style="background-color: #B2DFDB; color: #00464E; font-family: 'Raleway';font-weight: bold;">
                        <tr>

                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Id</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Concepto</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Fecha de Solicitud</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Días Solicitados</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Fecha Inicial</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Fecha Final</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Estatus Superior</span>
                                </div>
                            </th>
                            <th class="secondary-text">
                                <div class="table-header">
                                    <span class="column-title">Estatus RH</span>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center; color: #00464E; font-family: 'Raleway';font-weight: 400;">
                        @foreach (var sol in item)
                        {
                        <tr onclick="SolicitudDetalleHistorico(@sol.Id)" data-toggle="collapse" data-parent="#collapse-hist-permisos" href="#collapse-hist-permisos1" aria-expanded="false" aria-controls="collapse-hist-permisos1">
                            <td class="name">@sol.Id</td>
                            <td class="type d-none d-md-table-cell">@sol.TipoSolicitud</td>
                            <td class="owner d-none d-sm-table-cell">@sol.FechaSolicitud</td>
                            @*@{
                                TimeSpan difFechas = (Convert.ToDateTime(@sol.FechaFinal) - Convert.ToDateTime(@sol.FechaInicial));
                                int dias = difFechas.Days;

                               }*@
                            @*<td class="size d-none d-sm-table-cell">@dias días</td>*@
                            <td class="size d-none d-sm-table-cell">@sol.Dias</td>
                            <td class="last-modified d-none d-lg-table-cell">@sol.FechaInicial</td>
                            <td class="last-modified d-none d-lg-table-cell">@sol.FechaFinal</td>
                            <td class="last-modified d-none d-lg-table-cell">@sol.StatusSup</td>
                            <td class="last-modified d-none d-lg-table-cell">@sol.StatusRH</td>
                            @*<td class="last-modified d-none d-lg-table-cell">P</td>
                            <td class="last-modified d-none d-lg-table-cell">AA</td>*@
                        </tr>
                        }
                    </tbody>
                </table>
                <div id="collapse-hist-permisos1" class="collapse" role="tabpanel" style="width: 100%; justify-content: center; display: flex;"></div>
            </div>
            <div class="modal-footer box-buttons-modal-help" data-dismiss="modal">
                <span style="display: flex; align-items: center; cursor:pointer;">
                    Regresar
                    <i class="i-back s-10 icon-arrow-left-drop-circle-outline" style="color: #00464E;"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- CONTENT -->

<script type="text/javascript">
    $('#table_hist-permisos').DataTable({
        "lengthChange": true,
        responsive: true,
        dom: 'rt<"dataTables_footer"ip>',
        order: [[0, "desc"]],
        retrieve: true,
    });
</script>
