﻿
@{
    ViewBag.Title = "ModalAdminHelpPermiso";
}

<!-- STYLESHEETS -->
<link href="~/Content/permisos/modaladmhelpper.css?V=1.1" rel="stylesheet" />

<!-- SCRIPT COLLAPSE -->
<script>
    $(document).ready(function () {
        $("#toggle-btn").click(function () {
            $("#toggle-example").collapse('toggle'); // toggle collapse
        });
    });
</script>

<!-- CONTENT -->
<div id="modal-admin-perm-help" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="modal-admin-perm-helpTitle" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin: 30px 20vw; max-width: 60vw;">
        <div class="modal-content" style="width: 60vw;">
            <div class="modal-header">
                <h5 class="modal-title" style="font-family: 'Raleway'; font-size: 2rem; font-weight: 700; color: #00464E;" id="modal-admin-hor-helpTitle">Tutorial Administrador de Permisos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="font-family: 'Raleway'; font-size: 1.5rem; font-weight: 700; color: #00464E; display: flex; flex-direction: column;">
                <p style="font-size: 2rem;">Da click en el tema de tu interés, para visualizar la ayuda:</p>
                    <a class="collapsed tittle-help" id="toggle-btn-1" data-toggle="collapse" data-target="#collapse-secciones-help-p">
                        Solicitudes
                    </a>
                    <div class="collapse sh-help" id="collapse-secciones-help-p" role="tabpanel">
                        <p>Está es la información de una solicitud, el sistema verificará si cumple las políticas, antes de que la recibas:</p>
                        <img class="img-admin-help" src="../assets/images/user-help/ejemplo-solicitud-perm.png" alt="imagen mostrar ocultar secciones">
                    </div>

                    <p class="collapsed tittle-help" id="toggle-btn-1" data-toggle="collapse" data-target="#collapse-periodos-help">
                        Ver Histórico de Permisos
                    </p>
                    <div class="collapse sh-help" id="collapse-periodos-help">
                        <p>Si haces click en la foto o en el nombre del empleado, se desplegará el histórico de permisos, para que puedas visualizar cada permiso solicitado durante el año en curso:</p>
                        <img class="img-admin-help" src="../assets/images/user-help/historico-permisos-help.png" alt="imagen mostrar ocultar secciones">
                    </div>

                    <p class="collapsed tittle-help" id="toggle-btn-1" data-toggle="collapse" data-target="#collapse-comments-help">
                        Comentarios
                    </p>
                    <div class="collapse sh-help" id="collapse-comments-help">
                        <p>Puedes agregar comentarios al empleado:</p>
                        <img class="img-admin-help" src="../assets/images/user-help/comentarios-help.png" alt="imagen mostrar ocultar secciones">
                    </div>

                    <p class="collapsed tittle-help" id="toggle-btn-1" data-toggle="collapse" data-target="#collapse-approve-help">
                        Aprobar/Rechazar una Solicitud
                    </p>
                    <div class="collapse sh-help" id="collapse-approve-help">
                        <p>Revisa si la solicitud del empleado cumple con los requisitos de control y comprueba si la fecha está disponible, después da click en Aprobar o Rechazar la Solicitud:</p>
                        <img class="img-admin-help" src="../assets/images/user-help/botones-apr-rchz.png" alt="imagen mostrar ocultar secciones">
                    </div>

                    <p class="collapsed tittle-help" id="toggle-btn-1" data-toggle="collapse" data-target="#collapse-confirm-help">
                        Confirmación
                    </p>
                    <div class="collapse sh-help" id="collapse-confirm-help">
                        <p>Visualizarás una pantalla para confirmar que apruebas o rechazas la solicitud. Da click en cancelar, para seguir editando. Da click en Enviar si la solicitud está lista:</p>
                        <img class="img-admin-help" src="../assets/images/user-help/confirmar-sol-hor.png" alt="imagen mostrar ocultar secciones">
                    </div>
            </div>
            <div class="modal-footer box-buttons-modal-help" data-dismiss="modal">
                <span style="display: flex; align-items: center;">
                    Regresar
                    <i class="i-back s-10 icon-arrow-left-drop-circle-outline" style="color: #00464E;"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<!-- CONTENT -->