﻿@using Aplics.Servicios.Modelos.Nominix;
@model NotificacionSolicitud
<!-- STYLESHEETS -->
<link href="~/Content/permisos/modalconfirmaprob.css" rel="stylesheet" />

<!-- CONTENT -->

<div id="modal-confirm-recha" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="modal-reject-permLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="display: flex; flex-direction: column; justify-content: space-evenly;">
                <p style="display: flex; justify-content: center; align-items: center; font-family: 'Raleway'; font-size: 3rem; font-weight: 600; color: #183963;">No. Solicitud: @Model.Id</p>
                <span style="display: flex; justify-content: center; align-items: center; color: #183963; font-size: 10rem; justify-content: center;"><i class="icon s-20 icon-alert-circle-outline" style="color: #B71C1C;"></i></span>
                <p style="display: flex; justify-content: center; align-items: center; font-family: 'Raleway'; font-size: 3rem; font-weight: 600; color: #183963;">@Model.Mensaje</p>
                <div class="form-group col-md-6" style="padding-top: 1rem;">
                    <label style="color: #183963; font-size: 2rem; font-weight: 600; font-family:'Raleway';">Motivo de Rechazo:</label>
                    <input id="mot-rechazo" type="text" class="form-control" style="color:#183963; font-size: 2rem; font-family:'Raleway';">
                    <p id="error-rechazo" style="color:red; font-size: 1rem; font-family:'Raleway'; padding-top: 1rem;"></p>
                </div>
            </div>
            <div class="modal-footer box-buttons-modal">
                <button data-dismiss="modal" class="btn float-right" style=" text-transform: capitalize; background-color:#ECECEE; border-color: #ECECEE; height: 3vw; width: 14vw; border-radius: 5px; color:#183963; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw; margin-right: 1%;">Cancelar</button>
                <button id="rechazar-solicitud" onclick="rechazarSolPermiso();" class="btn float-right" style="        text-transform: capitalize;
        background-color: #183963;
        border-color: #183963;
        height: 3vw;
        width: 14vw;
        border-radius: 5px;
        color: #FFFFFF;
        font-family: 'Raleway';
        font-weight: 600;
        font-size: 1.5vw;">
                    Enviar
                </button>
            </div>
        </div>
    </div>
</div>
<!-- CONTENT -->
