﻿@model List<Aplics.Servicios.Modelos.Solicitudes.ItemSolicitiud>
@{
    ViewBag.Title = "ModalPermiso";
}

<!-- STYLESHEETS -->
<link href="~/Content/permisos/modalnuevasolicitud.css?V=1.5" rel="stylesheet" />

<!-- SCRIPTS -->

<script src="~/Scripts/moment/moment.js" asp-append-version="true"></script>
<script src="~/Scripts/Permisos/SolicitudesPermisos.js"  asp-append-version="true"></script>
<script language="javascript" type="text/javascript" src="~/Scripts/disableSubmits.js" asp-append-version="true"></script>


<!-- CONTENT -->
<div id="modalNewRequest" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="modalNewRequest" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width: 50vw;">
            <div class="modal-header" style="padding: 1%;">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body data-request" style="padding: 1%;">
                @using (Html.BeginForm("SolicitarElPermiso", "Permisos", FormMethod.Post, new { enctype = "multipart/form-data", @id = "form_permiso" }))
                {
                    <h2> Nueva Solicitud - Empleado @this.Session["NoEmp"] </h2>
                    <div class="form-group">
                        <label for="fechaIni">Fecha Inicial</label>
                        <input type="date" id="fechaIni" name="FechaIni" class="form-control" style="color:#183963;" placeholder="dd/mm/aaaa" value="@System.DateTime.Today.ToString("yyyy-MM-dd")" onchange="validaFecha();">
                        <p class="validateError" id="parrafo-mod-per"></p>
                    </div>
                    <div class="form-group">
                        <label for="fechaFin">Fecha Final</label>
                        <input type="date" id="fechaFin" name="fechaFin" class="form-control" style="color:#183963;" placeholder="dd/mm/aaaa" value="@System.DateTime.Today.ToString("yyyy-MM-dd")" onchange="validaFecha();">
                        <p class="validateError" id="parrafo-mod-per2"></p>
                    </div>
                    <div class="form-group" style="margin-bottom: 1rem;">
                        <label for="select2">Tipo de Solicitud:</label>
                        <select id="tipo" class="select-2" style="width:96%;" name="tipo" required onchange="validaHorasEnfermedad()"></select>
                        <div style="float:right;" id="tipoLoading">
                            <img src="~/images/loader_mini.gif" style="" />
                        </div>
                    </div>
                    
                    <fieldset id="radioButtonGroup" class="form-group hide-radio-button">
                        @*<legend style="color: #183963;">Marca la opción que ganaste:</legend>*@
                        <div class="form-check" style="color: #183963;">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="radioEmpty" name="optionsRadios" value="0" checked="" onclick="validaCheck();"/>
                                <span class="radio-icon" style="color: #183963;"></span>
                                <span>Marca la opción que ganaste:</span>
                            </label>
                        </div>
                        <div class="form-check" style="color: #183963;">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input" id="radioMd" name="optionsRadios" value="1" onclick="validaCheck();"/>
                                <span class="radio-icon" style="color: #183963;"></span>
                                <span>Medio día</span>
                            </label>
                        </div>
                        <div class="form-check" style="color: #183963;">
                            <label class="form-check-label">
                                <input type="radio" class="form-check-input text-rb" id="radioDc" name="optionsRadios" value="1" onclick="validaCheck();"/>
                                <span class="radio-icon" style="color: #183963;"></span>
                                <span>Día Completo</span>
                            </label>
                        </div>
                        <p id="radio-err" class="validateError"></p>
                    </fieldset>
                    <div style="margin-bottom: 1.5rem; width: 100%; display: flex;justify-content: flex-start; align-items: flex-start;">
                        <label for="file" class="subir" style="width: 20%;">
                            <i class="icon s-4 icon-upload" id="iconfileSub" style="color:#183963"></i> Subir archivo
                        </label>
                        <input id="file" onchange='cambiar()' type="file" style="display: none" name="postedFile" />
                        <div id="info" class="info-file"></div>
                        <span class="i-trash">
                            <i id="elim-archivo" class="icon s-9 icon-delete-forever" style="color:#183963;"></i>
                        </span>
                    </div>

                    <div class="modal-footer box-buttons-modal">
                        <button id="cancelar" data-dismiss="modal" class="btn float-right" style=" text-transform: capitalize; background-color:#CADEF6; border-color: #CADEF6; height: 3vw; width: 14vw; border-radius: 5px; color:#183963; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw; margin-right: 1%;">Cancelar</button>
                        <button id="solicitar" type="button" onclick="enviarSolicitud();" form="form_permiso" class="btn float-right" style=" text-transform: capitalize; background-color:#183963; border-color: #183963; height: 3vw; width: 14vw; border-radius: 5px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw;">Solicitar</button>
                    </div>
                    <input type="hidden" value="" name="medioDia" id="medioDia" />
                }
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var elimArchivo = document.getElementById("elim-archivo");
        elimArchivo.addEventListener("click", function () {
            var fileInput = document.getElementById("file");
            fileInput.value = "";
            var info = document.getElementById("info");
            info.innerHTML = "";
        })

        var cancelar = document.getElementById("cancelar");
        cancelar.addEventListener("click", function () {
            var fechaIni = document.getElementById("fechaIni");
            var fechaFin = document.getElementById("fechaFin");
            var Tipo = document.getElementById("tipo");
            var fileInput = document.getElementById("file");
            var info = document.getElementById("info");
            var parrafo = document.getElementById("parrafo-mod-per");
            fechaIni.value = @System.DateTime.Today.ToString("yyyy-MM-dd");
            fechaFin.value = @System.DateTime.Today.ToString("yyyy-MM-dd");
            tipo.value = "";
            fileInput.value = "";
            info.innerHTML = "";
            parrafo.innerHTML = "";
        })

    });
</script>
