﻿@model List<Aplics.Servicios.Modelos.Nominix.Notificaciones>

<div class="language-button dropdown">
    <div class="dropdown-toggle ripple row align-items-center justify-content-center no-gutters px-0 px-sm-4 fuse-ripple-ready" id="dropdownLanguageMenu" role="button" aria-expanded="false" aria-haspopup="true" data-toggle="dropdown">
        <div class="row no-gutters align-items-center">
            @*<img class="flag mr-2" src="../assets/images/flags/us.png">
                <span class="d-none d-md-block">EN</span>*@

            <div>
                <span class="icon s-5 icon-bell-ring-outline">@ViewBag.TotalNotificaciones</span>
            </div>

        </div>
    </div>
    <div class="dropdown-menu" aria-labelledby="dropdownLanguageMenu" style="width: 40vw;">
        @if (Model.Count == 0)
        {
            <span>No tienes notificaciones</span>
        }
        @{int numNotificaciones = Model.Count();
            int repetir = numNotificaciones > 10 ? 10 : numNotificaciones;
            if (repetir > 0)
            {
                for (int i = 0; i < repetir; i++)
                {
                    var item = Model[i];
                    string controlador = null;
                    string accion = null;
                    if (item.identificadorProceso == "HORARIOS")
                    {
                        if (item.rolDestino == 1)
                        {
                            controlador = "Horarios";
                            accion = "HorariosAdminStatusId";
                        }
                        else if (item.rolDestino == 3)
                        {
                            controlador = "Horarios";
                            accion = "BusqSolicitudesHorariosEstxId";
                        }
                        else
                        {
                            controlador = "ninguno";
                        }
                    }
                    else
                    {
                        if (item.rolDestino == 1 || item.rolDestino == 2)
                        {
                            controlador = "Permisos";
                            accion = "AdminSolicitudesPermisosId";
                        }
                        else if (item.rolDestino == 4 || item.rolDestino == 3)
                        {
                            controlador = "Permisos";
                            accion = "BusqSolicitudesPermisosEmpxId";
                        }
                        else
                        {
                            controlador = "ninguno";
                        }
                    }

                    if (controlador == "ninguno")
                    {
                        <a class="dropdown-item fuse-ripple-ready" href="#">
                            <div class="row no-gutters align-items-center flex-nowrap">
                                <span class="px-3">@item.notificacion</span>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a class="dropdown-item fuse-ripple-ready" href="#" onclick="ConsultarSolicitud('@Url.Action(accion, controlador)',@item.Id,@item.idProcesoNotificacion);">
                            <div class="row no-gutters align-items-center flex-nowrap">
                                <span class="px-3">@item.notificacion</span>
                            </div>
                        </a>
                    }

                }
            }
        }
    </div>
</div>

