﻿﻿@using Aplics.Servicios.Modelos.Nominix;
@model NotificacionSolicitud

<!-- STYLESHEETS -->
<link href="~/Content/horarios/notificacionenviosolicitud.css" rel="stylesheet" />


<!-- CONTENT -->
<div tabindex="-1" class="modal fade" id="modal-send-solicitud" role="dialog" aria-hidden="true" aria-labelledby="modal-send-solicitudLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-label="Close" type="button" data-dismiss="modal">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body data-request">
                <p class="no-rqst">No. Solicitud: @Model.Id</p>
                <span class="i-mail"><i class="i-mail icon-email-outline"></i></span>
                <p class="success-rqst">@Model.resultadoEnvio</p>
                <p class="success-rqst">@Model.Mensaje</p>
            </div>
            <div class="modal-footer box-buttons-modal-sn">

                @if (Model.Error)
                {
                    <span data-dismiss="modal">Regresar </span>
                    <i class="i-back s-10 icon-arrow-left-drop-circle-outline" data-dismiss="modal"></i>

                }
                else
                {

                    <a href="@Url.Action(@Model.accion , @Model.controlador, new { flagNotificaSolicitudPendiente = "1" } )">
                        Regresar
                        <i class="i-back s-10 icon-arrow-left-drop-circle-outline"></i>
                    </a>
                }

            </div>
        </div>
        <!-- CONTENT -->
    </div>
</div>
<!-- CONTENT -->
