﻿@using Aplics.Servicios.Modelos.Nominix;
@using Aplics.Servicios.Modelos.Solicitudes;
@model DatosSolicitud
@{
    ViewBag.Title = "_solicitudPermiso";
    Model.StatusRH = String.IsNullOrEmpty(Model.StatusRH) ? String.Empty : Model.StatusRH;
    Model.StatusSup = String.IsNullOrEmpty(Model.StatusSup) ? String.Empty : Model.StatusSup;
    String readOnly = Model.StatusRH.Equals("P") && Model.StatusSup.Equals("P") ? String.Empty : "readonly";

    NotificacionSolicitud notAprob = new NotificacionSolicitud();
    notAprob.Id = Model.Id;
    notAprob.NumEmpleado = Model.NumEmpleado;
    notAprob.Mensaje = "¡Estás por Aprobar la Solicitud!";

    NotificacionSolicitud notRec = new NotificacionSolicitud();
    notRec.Id= Model.Id;
    notRec.NumEmpleado= Model.NumEmpleado;
    notRec.Mensaje = "¡Estás por Rechazar la Solicitud!";

    String RolEmpleado = "4";
    String RolEstudiante = "3";
    String Rol = this.Session["TypeRol"].ToString();
}


<!-- STYLESHEETS -->
<link href="~/Content/shared/solicitudpermiso.css?V=2.2" rel="stylesheet" />

<!-- CONTENT -->
<div class="cont-view">
    
    <div class="request-admin">
        <div class="info-rqst">

            <p class="tittle-rqst">Datos de Solicitud</p>

            <div class="card-rqst">
                @if (!Rol.Equals(RolEmpleado) && !Rol.Equals(RolEstudiante))
                {
                    <div class="header-card-rqst" onclick="HistSolEmpleado('@Model.NumEmpleado');">
                        <img src="~/assets/images/user-help/user.png" alt="imagen de usuario" />
                        <div class="info-empleado">
                            <p>Nombre: @Model.NombreEmpleado</p>
                            <p>No. Empleado: @Model.NumEmpleado</p>
                            <p>Puesto: @Model.Puesto</p>
                            <p>Superior: @Model.Superior</p>
                        </div>
                    </div>
                }
                else
                {
                    <div class="header-card-rqst" >
                        <img src="~/assets/images/user-help/user.png" alt="imagen de usuario" />
                        <div class="info-empleado">
                            <p>Nombre: @Model.NombreEmpleado</p>
                            <p>No. Empleado: @Model.NumEmpleado</p>
                            <p>Puesto: @Model.Puesto</p>
                            <p>Superior: @Model.Superior</p>
                        </div>
                    </div>
                }
                <p>Solicitud @Model.Id</p>
                <div class="cont-card-rqst">
                    <div class="row-text">
                        <p class="tipo">Tipo de Solicitud</p>
                        <p class="pet-usuario">@Model.Descripcion</p>
                    </div>
                    <div class="row-text">
                        <p class="tipo">Fecha Inicial</p>
                        <p class="pet-usuario">@Model.FechaInicial.ToString("dd MMM yyyy")</p>
                    </div>
                    <div class="row-text">
                        <p class="tipo">Fecha Final</p>
                        <p class="pet-usuario">@Model.FechaFinal.ToString("dd MMM yyyy")</p>
                    </div>
                    <div class="row-text">
                        <p class="tipo">Comprobante</p>
                        @if (ViewBag.ComprobanteSolicitud != null)
                        {
                            <a href="@ViewBag.ComprobanteSolicitud" target="_blank" class="pet-usuario" style="font-weight: 600; text-decoration: none; border: 1px solid #00464E; border-radius: 10px; display: flex; height: 5vh; justify-content: center; align-items: center;">Ver Comprobante</a>
                        }
                    </div>
                </div>

            </div>

        </div>

        <div class="list-coments">
            @if (Model.StatusRH.Equals("P") && Model.StatusSup.Equals("P"))
            {
                <div class="header-user-help" style="cursor:pointer;">
                    <span data-toggle="modal" data-target="#modal-admin-perm-help">
                        Da click para ver el tutorial
                        <i class="icon s-6 icon-help-circle-outline" style="color: #00464E;"></i>
                    </span>

                </div>
            }
            @if (Model.StatusRH.Equals("A") && Model.StatusSup.Equals("A"))
            {
                <div class="status-box">
                    <span>
                        Solicitud Aprobada
                        <i class="icon s-6 icon-check-circle-outline" style="color: #00464E;"></i>
                    </span>
                </div>
            }
            @if (Model.StatusRH.Equals("R") && Model.StatusSup.Equals("R"))
            {
                <div class="status-box">
                    <span style="color: red;">
                        Solicitud Rechazada
                        <i class="icon s-6 icon-minus-circle-outline" style="color: red;"></i>
                    </span>
                </div>
            }
            <div class="card" style="border-radius: 10px; width: 100%; display: flex;">
                <div class="card-header" style="border-radius: 10px 0px 0px 0px; color: #00464E; font-family: 'Raleway'; font-size: 2rem; font-weight: 600;">
                    Comentarios
                </div>
                <div class="card-body" style="border-radius: 10px;">
                    @if (Model.StatusRH.Equals("P") && Model.StatusSup.Equals("P"))
                    {
                        <blockquote class="blockquote mb-0" style="color: #00464E; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 500;">
                            <div class="form-group">
                                <textarea class="form-control" id="ObservacionesSolicitud" rows="3" style="color: #00464E;" placeholder="Agregar Comentarios">@Model.Observaciones</textarea>
                            </div>
                            <footer class="blockquote-footer" style="color: #00464E; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 600;">
                                @this.Session["NombreEmpleado"].ToString() <cite title="Source Title">Cargo</cite>
                            </footer>
                        </blockquote>
                    }
                    else
                    {
                        <blockquote class="blockquote mb-0" style="color: #00464E; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 500;">
                            <p id="ObservacionesSolicitud" rows="3" style="color: #00464E;">@Model.Observaciones</p>
                            <footer class="blockquote-footer" style="color: #00464E; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 600;">
                                @this.Session["NombreEmpleado"].ToString() <cite title="Source Title">Cargo</cite>
                            </footer>
                        </blockquote>
                    }

                </div>
            </div>

        </div>
    </div>

    @if (Model.StatusRH.Equals("P") && Model.StatusSup.Equals("P"))
    {
        <div class="aprobation-box">
            <p>INDICACIONES</p>
            <div style="display:flex; width:100%; ">
                <div class="instructions-box">
                    <div class="approve">
                        <p>Si la solicitud del empleado cumple con los requisitos de control y comprobaste que es una fecha disponible, da click en el botón:</p>
                    </div>
                    <div class="reject">
                        <p>Si la solicitud del empleado no cumple con los requisitos de control o comprobaste que la fecha No está disponible, puedes rechazarla dando click en el botón:</p>
                    </div>
                </div>
                <div class="button-box">
                    <button id="btnAprobarSol" class="btn float-right" data-toggle="modal" data-target="#modal-confirm-aprob" style=" text-transform: capitalize;background-color:#43A047; border-color: #00897B; height: 3vw; width: 90%; margin-bottom: 3%; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size: 2vh;"> Aprobar </button>
                    <button id="btnRechazarSol" class="btn float-right" data-toggle="modal" data-target="#modal-confirm-recha" style=" text-transform: capitalize;background-color:#B71C1C; border-color: #00897B; height: 3vw; width: 90%; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size: 2vh;"> Rechazar </button>
                </div>
            </div>
        </div>
    }
    <input type="hidden" id="idSolApr" name="idSolApr" value="@Model.Id" />
    <input type="hidden" id="empleadoSolApr" name="empleadoSolApr" value="@Model.NumEmpleado" />
</div>
<!-- CONTENT -->
<div id="HistoricoEmpleadoPermisos">
    @Html.Partial("_modalHistPermisos")
</div>
@Html.Partial("_modalAdminHelpPermisos")
@Html.Partial("_modalConfirmAprob", notAprob)
@Html.Partial("_modalConfirmRecha", notRec)

@*<script src="~/Scripts/Permisos/SolicitudesPermisos.js"></script>*@
