﻿@using Aplics.Servicios.Modelos.Nominix;
@using Aplics.Servicios.Modelos.Horarios;
@model EmpleadoEstudiante
@{
    ViewBag.Title = "_solicitudHorario";
    String modo = String.Empty;
    String RolEstudiante = "3";
    String RolEmpleado = "4";
    String Rol = this.Session["TypeRol"].ToString();
    String disabled = String.Empty;
    if (Rol.Equals(RolEmpleado) || Rol.Equals(RolEstudiante) || Model.Status.Equals("A") || Model.Status.Equals("R"))
    {
        modo = "readonly";
        disabled = "disabled";
    }

    List<VMHorarioLista> horarioLista = ViewBag.HorariosEmpleado;
    String[] ADias = { "Lunes", "Martes", "Miércoles", "Jueves", "Viernes" };
    Byte tipoEscolar = 1;
    Byte tipoLaboral = 2;
    Byte tipoComida = 3;
    int indexH = 0;
    int indexM = 0;

    NotificacionSolicitud notAprob = new NotificacionSolicitud();
    notAprob.Id = Model.Id;
    notAprob.NumEmpleado = Model.U_EMP;
    notAprob.Mensaje = "¡Estás por Aprobar la Solicitud!";

    NotificacionSolicitud notRec = new NotificacionSolicitud();
    notRec.Id = Model.Id;
    notRec.NumEmpleado = Model.U_EMP;
    notRec.Mensaje = "¡Estás por Rechazar la Solicitud!";

    String[] AHorariosComida = { "00:00-00:00", "01:00-01:30", "01:00-02:00", "01:00-02:30", "01:00-03:00" };
    String[] AHorariosComidadesc = { "No tiene horario de comida", "media hora", "1 hora", "1 hora y media", "2 horas" };

    String horariosGeneral = Newtonsoft.Json.JsonConvert.SerializeObject(horarioLista);

    List<VMHorarioLista> Comidas = new List<VMHorarioLista>();
    if (horarioLista != null && horarioLista.Count > 0)
    {
        Comidas = horarioLista.Where(x => x.Tipo == 3).ToList();
    }
    else
    {
        horarioLista = new List<VMHorarioLista>();
    }
    VMHorarioLista comida = new VMHorarioLista();
    String selectComida = String.Empty;

}


<!-- STYLESHEETS -->
<link href="~/Content/horarios/solicitudhorario.css?V=2.2" rel="stylesheet" />

<!-- SCRIPTS -->
<script src="~/Scripts/ControldeHorarios/Empleado.js" asp-append-version="true"></script>
<script src="~/Scripts/ControldeHorarios/Horario.js" asp-append-version="true"></script>
<script src="~/Scripts/moment/moment.js" asp-append-version="true"></script>

<!-- CONTENT -->
<div class="cont-view" style="cursor: auto;">
    <div class="info-rqst">

        <p class="tittle-rqst">Datos de Solicitud</p>

        <div class="card-rqst">
            @if (!Rol.Equals(RolEmpleado) && !Rol.Equals(RolEstudiante))
            {
                <div class="header-card-rqst" data-toggle="modal" data-target="#modal-hist-horarios" style="cursor: pointer;">
                    <img src="~/assets/images/user-help/user.png" alt="imagen de usuario" />
                    <div class="info-empleado">
                        <p>Nombre: @Model.nombre</p>
                        <p>No. Empleado: @Model.U_EMP</p>
                    </div>
                </div>
            }
            else
            {
                <div class="header-card-rqst">
                    <img src="~/assets/images/user-help/user.png" alt="imagen de usuario" />
                    <div class="info-empleado">
                        <p>Nombre: @Model.nombre</p>
                        <p>No. Empleado: @Model.U_EMP</p>
                    </div>
                </div>
            }
            <p style="margin-top: 1rem;">Solicitud @Model.Id</p>

            <div id="accordion" role="tablist" style="width: 100%;">

                <div class="card card-datos" style="display: flex; width: 100%;">
                    <div class="card-header" role="tab" id="headingOne" style="background-color: #183963; color: white; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 600; text-align: center; height: 5vh; padding: 3px;">
                        <div class="mb-0">
                            <a data-toggle="collapse" href="#collapseData_@Model.Id" aria-expanded="false"
                               aria-controls="collapseData_@Model.Id" style="color: #FFFFFF; text-decoration: none; display: flex;">
                                <div class="tittle-accordion">
                                    <p>Datos</p>
                                    <i class="icon s-6 icon-account-card-details" style="color:#FFFFFF;"></i>
                                </div>
                                <div class="arrow">
                                    <i class=" icon s-6 icon-chevron-down" style="color: #FFFFFF;"></i>
                                </div>
                            </a>
                        </div>
                    </div>

                    <div id="collapseData_@Model.Id" class="collapse" role="tabpanel" aria-labelledby="headingOne"
                         data-parent="#accordion">
                        <div class="card-block">
                            <div class="form-row">
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #183963; font-size: 1rem;">No. de Empleado</label>
                                    <input disabled type="text" class="form-control" style="color:#183963; font-size: 1rem;" placeholder="@Model.U_EMP">
                                </div>
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #183963; font-size: 1rem;">Fecha Solicitud</label>
                                    <input disabled type="text" class="form-control" style="color:#183963; font-size: 1rem;" placeholder="@Model.FechaSolicitud.ToString("dd MMM yyyy")">
                                </div>
                            </div>
                            <div class="form-group" style="padding-top: 0rem;     margin-bottom: 2rem;">
                                <label style="color: #183963; font-size: 1rem;">Nombre completo</label>
                                <input disabled type="text" class="form-control" style="color:#183963; font-size: 1rem;" placeholder="@Model.nombre">
                            </div>
                            <div class="form-row">
                                <label style="color: #183963; font-size: 1rem;">Universidad</label>
                                <input disabled="" class="form-control" style="color:#183963; font-size: 1rem;" type="text" placeholder="@Model.Universidad">
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #183963;font-size: 1rem;">Periodo</label>
                                    <input disabled type="text" class="form-control" style="color:#183963; font-size: 1rem;" placeholder="@Model.U_PER">
                                </div>
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #183963;font-size: 1rem;">Duración</label>
                                    <input disabled type="text" class="form-control" style="color:#183963; font-size: 1rem;" placeholder="@Model.Duracion">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #183963; font-size: 1rem;">Fecha incio</label>
                                    <input disabled type="text" class="form-control" style="color:#183963; font-size: 1rem;" placeholder="@Model.U_FINI.ToString("dd MMM yyyy")">
                                </div>
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #183963; font-size: 1rem;">Fecha Final</label>
                                    <input disabled type="text" class="form-control" style="color:#183963; font-size: 1rem;" placeholder="@Model.U_FFIN.ToString("dd MMM yyyy")">
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #183963; font-size: 1rem;"> Año </label>
                                    <input disabled type="text" class="form-control" style="color:#183963; font-size: 1rem;" placeholder="@Model.U_ANIO">
                                </div>
                                <div class="form-group col-md-6" style="padding-top: 1rem;     margin-bottom: 2rem;">
                                    <label style="color: #183963; font-size: 1rem;">Motivo de Rechazo </label>
                                    <input disabled type="text" class="form-control" style="color:#183963; font-size: 1rem;" placeholder="@Model.motivoRechazo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card card-datos" style="display: flex; width: 100%;">
                    <div class="card-header" role="tab" id="headingTwo" style="background-color: #183963; color: white; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 600; text-align: center; height: 5vh; padding: 3px;">
                        <div class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapseDocto_@Model.Id" aria-expanded="false"
                               aria-controls="collapseDocto_@Model.Id" style="color: #FFFFFF; text-decoration: none; display: flex;">
                                <div class="tittle-accordion">
                                    <p>Constancia</p>
                                    <i class="icon s-6 icon-file-pdf" style="color:#FFFFFF;"></i>
                                </div>
                                <div class="arrow">
                                    <i class=" icon s-6 icon-chevron-down" style="color: #FFFFFF;"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="collapseDocto_@Model.Id" class="collapse" role="tabpanel" aria-labelledby="headingTwo"
                         data-parent="#accordion">
                        <div class="card-block" style="border-radius: 10px; display: flex; justify-content: center; border-radius: 10px; display: flex; justify-content: center; width: 100%; padding: 4%; margin: 0;">
                            @Html.Partial("~/Views/Shared/_Constancia.cshtml")
                        </div>
                    </div>
                </div>

                <div class="card card-datos" style="display: flex; width: 100%;">
                    <div class="card-header" role="tab" id="headingThree" style="background-color: #183963; color: white; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 600; text-align: center; height: 5vh; padding: 3px;">
                        <div class="mb-0">
                            <a class="collapsed" data-toggle="collapse" href="#collapseHorarios_@Model.Id" aria-expanded="true"
                               aria-controls="collapseHorarios_@Model.Id" style="color: #FFFFFF; text-decoration: none; display: flex;">
                                <div class="tittle-accordion">
                                    <p>Horarios</p>
                                    <i class="icon s-6  icon-clock" style="color:#FFFFFF;"></i>
                                </div>
                                <div class="arrow">
                                    <i class=" icon s-6 icon-chevron-down" style="color: #FFFFFF;"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div id="collapseHorarios_@Model.Id" class="collapse show" role="tabpanel" aria-labelledby="headingThree"
                         data-parent="#accordion">
                        <div class="cont-accordion" style="border-radius: 15px; font-size: 1.2vw; vertical-align: middle; margin-top: 10px; width: 100%;">
                            <div id="accordion-2" role="tablist" style="display: flex; flex-direction: column;">
                                @{
                                    float[,] matrixHorariosEscolares = new float[5, 2];
                                }
                                @for (int dia = 1; dia <= 5; dia++)
                                {
                                    <div class="card">
                                        <div class="card-header" role="tab" id="headingFour">
                                            <h5 class="mb-0" style="width: 100%; margin: 0;">
                                                <!-- Toogle Buttons -->
                                                <a class="collapsed" id="toggle-btn" data-toggle="collapse" data-target="#toggle-collapse-@ADias[dia - 1]_@Model.Id" aria-expanded="true"
                                                   style="display: flex; align-items: center; justify-content: space-between; font-family: 'Raleway'; font-size: 1.4rem; font-weight: 600; color: #183963; appearance: none; text-decoration: none;">
                                                    @ADias[dia - 1]
                                                    <i class=" icon s-6 icon-chevron-down" style="color: #183963;"></i>
                                                </a>
                                            </h5>
                                        </div>
                                        <!-- Toogle Collapse -->
                                        <div id="toggle-collapse-@ADias[dia - 1]_@Model.Id" class="collapse in" role="tabpanel">
                                            <div class="card-block">
                                                <div class="escolar">
                                                    <p>Escolar</p>
                                                    @foreach (VMHorarioLista hl in horarioLista)
                                                    {
                                                        foreach (Horario h in hl.Horarios)
                                                        {
                                                            if (h.dia == dia && hl.Tipo == tipoEscolar)
                                                            {
                                                                if (!h.HoraInicial.IsEmpty() &&
                                                                    h.HoraInicial.Trim().Length > 0 &&
                                                                    h.HoraInicial.IndexOf(':') > -1)
                                                                {
                                                                    string[] horaMinutoInicio = h.HoraInicial.Split(':');
                                                                    int horaInicio = int.Parse(horaMinutoInicio[0]);
                                                                    int minutosInicio = int.Parse(horaMinutoInicio[1]);
                                                                    float horaMinutoInicioFloat = horaInicio + (minutosInicio / 60);

                                                                    string[] horaMinutoFinal = h.HoraFinal.Split(':');
                                                                    int horaFinal = int.Parse(horaMinutoFinal[0]);
                                                                    int minutosFinal = int.Parse(horaMinutoFinal[1]);
                                                                    float horaMinutoFinalFloat = horaFinal + (minutosFinal / 60);


                                                                    matrixHorariosEscolares[dia > 0 && dia <= 5 ? dia - 1 : 0, 0] = horaMinutoInicioFloat;
                                                                    matrixHorariosEscolares[dia > 0 && dia <= 5 ? dia - 1 : 0, 1] = horaMinutoFinalFloat;
                                                                }
                                                                <div class="Hor-Esc">
                                                                    <div class="Esc-De">
                                                                        <p>De:</p>
                                                                        <p>@h.HoraInicial</p>
                                                                    </div>
                                                                    <div class="Esc-A">
                                                                        <p>A:</p>
                                                                        <p>@h.HoraFinal</p>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                </div>
                                                <div class="laboral">
                                                    <p>Laboral</p>

                                                    @foreach (VMHorarioLista hl in horarioLista)
                                                    {
                                                        indexM = 0;

                                                        foreach (Horario h in hl.Horarios)
                                                        {
                                                            if (h.dia == dia && hl.Tipo == tipoLaboral)
                                                            {
                                                                <div class="Hor-Lab">
                                                                    <div class=" de-hor-box input-group-prepend">
                                                                        <span class="input-group-text" style="font-family: 'Raleway'; font-size: 1.2rem; color: #183963;">De:</span>
                                                                        <input pattern="\d{1,2}:\d{2}([ap]m)?" onchange="cambiarHorario(this);" class="InputHorario form-control" @modo style="font-family: 'Raleway'; font-size: 1.2rem; color: #183963;" aria-label="Default" type="text" placeholder=" Ej: 14:00" id="HorarioTipo[@indexH].HoraInicial" value="@h.HoraInicial" valor-index="@indexH" valor-dia="@dia" valor-tipo="@hl.Tipo" valor-matriz="@indexM" @*valor-horesc1="@matrixHorariosEscolares[dia > 0 && dia <=5 ? dia - 1 : 0,0]" valor-horesc2="@matrixHorariosEscolares[dia > 0 && dia <=5 ? dia - 1 : 0,1]"*@>
                                                                    </div>
                                                                    <div class="a-hor-box input-group-prepend">
                                                                        <span class="input-group-text" style="font-family: 'Raleway'; font-size: 1.2rem; color: #183963;">A:</span>
                                                                        <input pattern="\d{1,2}:\d{2}([ap]m)?" onchange="cambiarHorario(this);" class="InputHorario form-control" @modo style="font-family: 'Raleway'; font-size: 1.2rem; color: #183963;" aria-label="Default" type="text" placeholder=" Ej: 19:00" id="HorarioTipo[@indexH].HoraFinal" value="@h.HoraFinal" valor-index="@indexH" valor-dia="@dia" valor-tipo="@hl.Tipo" valor-matriz="@indexM" @*valor-horesc1="@matrixHorariosEscolares[dia > 0 && dia <=5 ? dia - 1 : 0,0]" valor-horesc2="@matrixHorariosEscolares[dia > 0 && dia <=5 ? dia - 1 : 0,1]"*@>
                                                                    </div>
                                                                    @if ((!Rol.Equals(RolEmpleado) && !Rol.Equals(RolEstudiante)) && Model.Status == "P")
                                                                    {
                                                                        <div class="add-day-box addHorario" onclick="addDiaHorario(this)" data-index="@(indexH+1)" data-name="HorarioTipo" data-class="Hor-Lab" style="cursor: pointer;">

                                                                            <i class="icon s-8 icon-plus-circle float-right" style="float: right; color:#183963;"></i>
                                                                        </div>
                                                                        <div class="delete-day-box deleteHorario" onclick="deleteDiaHorario(this)" data-index="@indexH" data-name="HorarioTipo" style="cursor: pointer;display:none;">
                                                                            <i class="icon s-8 icon-minus-circle float-right" style="float: right; color:#183963;"></i>
                                                                        </div>
                                                                    }
                                                                    <input type="hidden" id="HorarioTipo[@indexH].TipoHorario" value="@tipoLaboral" />
                                                                    <input type="hidden" id="HorarioTipo[@indexH].dia" value="@dia" />
                                                                </div>
                                                                <div class="box-error-val">
                                                                    <p id="valMsg-@indexH-laboral" class="valMsg"></p>
                                                                </div>
                                                                indexH += 1;
                                                            }
                                                            indexM += 1;
                                                        }
                                                    }

                                                </div>
                                                <div class="horas-laboradas">
                                                    <p>Horas Laborales por Día</p>
                                                    <div class="box-time-lab">
                                                        <p id="HorasLaborables_@dia" valor-tiempo-hrs="0">0 Horas</p>
                                                        <p id="MinutosLaborables_@dia" valor-tiempo-min="0">0 Mins</p>
                                                    </div>
                                                </div>
                                                <div class="comida">
                                                    <p>Comida</p>
                                                    <div class="Hor-Com">
                                                        <select @disabled class="select-comida" id="select_comida_@dia" onchange="HorarioComida(this);" valor-tiempo-hrs="0" valor-tiempo-min="0" valor-index="@indexH" valor-dia="@dia" @*valor-tipo="@hl.Tipo"*@ valor-matriz="@indexM">
                                                            <option value="">Selecciona Tiempo de Comida</option>
                                                            @for (int icom = 0; icom < 5; icom++)
                                                            {
                                                                selectComida = String.Empty;
                                                                if (Comidas.Count > 0)
                                                                {
                                                                    comida = Comidas[0];
                                                                    if (comida.Horarios[dia - 1].HoraInicial + "-" + comida.Horarios[dia - 1].HoraFinal == AHorariosComida[icom])
                                                                    {
                                                                        selectComida = "selected";
                                                                    }
                                                                }
                                                                <option value="@AHorariosComida[icom]" @selectComida>@AHorariosComidadesc[icom]</option>
                                                            }
                                                        </select>
                                                    </div>
                                                    @foreach (VMHorarioLista hl in horarioLista)
                                                    {
                                                        foreach (Horario h in hl.Horarios)
                                                        {
                                                            if (h.dia == dia && hl.Tipo == tipoComida)
                                                            {
                                                                <input type="hidden" id="HorarioTipo[@indexH].HoraInicial" />
                                                                <input type="hidden" id="HorarioTipo[@indexH].HoraFinal" />
                                                                <input type="hidden" id="HorarioTipo[@indexH].TipoHorario" value="@tipoComida" />
                                                                <input type="hidden" id="HorarioTipo[@indexH].dia" value="@dia" />
                                                                indexH += 1;
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-coments">
        @if (!Rol.Equals(RolEstudiante) && Model.Status == "P")
        {
            <div class="header-user-help">
                <span data-toggle="modal" data-target="#modal-admin-help-horarios" style="cursor: pointer;">
                    Da click para ver el tutorial
                    <i class="icon s-6 icon-help-circle-outline" style="color: #183963;"></i>
                </span>
            </div>
        }
        @if (!Rol.Equals(RolEstudiante) && Model.Status == "R")
        {
            <div class="status-box">
                <span style="color: red;">
                    Solicitud Rechazada
                    <i class="icon s-6 icon-minus-circle-outline" style="color: red;"></i>
                </span>
            </div>
        }
        @if (!Rol.Equals(RolEstudiante) && Model.Status == "A")
        {
            <div class="status-box">
                <span>
                    Solicitud Aprobada
                    <i class="icon s-6 icon-check-circle-outline" style="color: #183963;"></i>
                </span>
            </div>
        }


        @if (Rol.Equals(RolEstudiante) && Model.Status == "R")
        {
            <div class="status-box">
                <span style="color: red;">
                    Solicitud Rechazada
                    <i class="icon s-6 icon-minus-circle-outline" style="color: red;"></i>
                </span>
            </div>
        }
        @if (Rol.Equals(RolEstudiante) && Model.Status == "A")
        {
            <div class="status-box">
                <span>
                    Solicitud Aprobada
                    <i class="icon s-6 icon-check-circle-outline" style="color: #183963;"></i>
                </span>
            </div>
        }

        <div class="card" style="border-radius: 10px; width: 100%; display: flex; margin-bottom: 10%;">
            <div class="card-header" style="border-radius: 10px 0px 0px 0px; color: #183963; font-family: 'Raleway'; font-size: 2rem; font-weight: 600;">
                Comentarios
            </div>
            <div class="card-body" style="border-radius: 10px;">
                @if (!Rol.Equals(RolEstudiante) && Model.Status == "P")
                {
                    <blockquote class="blockquote mb-0" style="color: #183963; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 500;">
                        <div class="form-group">
                            <textarea class="form-control" id="ObservacionesSolicitud" rows="3" style="color: #183963;" placeholder="Agregar Comentarios">@Model.Observaciones</textarea>
                        </div>
                        <footer class="blockquote-footer" style="color: #183963; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 600;">
                            @this.Session["NombreEmpleado"].ToString() <cite title="Source Title">Cargo</cite>
                        </footer>
                    </blockquote>
                }
                else
                {
                    <blockquote class="blockquote mb-0" style="color: #183963; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 500;">
                        <p id="ObservacionesSolicitud" rows="3" style="color: #183963;">@Model.Observaciones</p>
                        <footer class="blockquote-footer" style="color: #183963; font-family: 'Raleway'; font-size: 1.2rem; font-weight: 600;">
                            @this.Session["NombreEmpleado"].ToString() <cite title="Source Title">Cargo</cite>
                        </footer>
                    </blockquote>
                }
            </div>
        </div>

        <div class="card" style="border-radius: 10px; width: 100%; display: flex; margin-bottom: 10%;">
            <div class="card-header" style="border-radius: 10px 0px 0px 0px; color: #183963; font-family: 'Raleway'; font-size: 2rem; font-weight: 600;">
                Total de Horas Laborales por Semana
            </div>
            <div class="card-body" style="border-radius: 10px;">
                <div id="button-cal-gen" onclick="recalcularHoras();" style="display: flex; justify-content: center; border: 1px solid #183963; border-radius: 10px; margin-bottom: 5%;">
                    <span  style="display: flex; width: 90%; justify-content: space-between; align-items: center; font-family: 'Raleway'; font-size: 1.4rem; color: #183963; font-weight: 600;">
                        Calcular Horas:
                        <i class="icon s-6 icon-calculator float-right" style="float: right; color:#183963;"></i>
                    </span>
                </div>
                <div class="total-horas-lab">
                    <p>Total Horas Laborales</p>
                    <div class="box-tot-lab">
                        <p id="totalhoraslab">0 Horas</p>
                        <p id="totalminutoslab">0 Mins</p>
                    </div>
                </div>
                <div class="total-horas-com">
                    <p>Total Horas Comida</p>
                    <div class="box-tot-com">
                        <p id="totalhorascomsemana">0 Horas</p>
                        <p id="totalminutoscomsemana">0 Mins</p>
                    </div>
                </div>
                <div class="total-horas-sem">
                    <p>Total Horas Laborales por Semana</p>
                    <div class="box-tot-sem">
                        <p id="totalhoraslabsemana">0 Horas</p>
                        <p id="totalminutoslabsemana">0 Mins</p>
                    </div>
                </div>
                @if (!Rol.Equals(RolEstudiante) && Model.Status == "P")
                {
                    <p class="msg-int">**Revisa que cubra el mínimo de horas requeridas por semana, para aprobar la solicitud.</p>
                }
            </div>
        </div>

        @if (!Rol.Equals(RolEstudiante) && Model.Status == "P")
        {
            <div class="buttons-box">
                <button class="btn float-right" data-toggle="modal" data-target="#modal-confirm-aprob" style=" text-transform: capitalize;background-color:#43A047; border-color: #43A047; height: 3vw; width: 14vw; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw;" id="btnAprobarHorario"> Aprobar </button>
                <button class="btn float-right" data-toggle="modal" data-target="#modal-confirm-recha" style=" text-transform: capitalize;background-color:#B71C1C; border-color: #B71C1C; height: 3vw; width: 14vw; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw;" id="btnRechazarHorario"> Rechazar </button>
            </div>
        }
    </div>
    <input type="hidden" id="idSolApr" name="idSolApr" value="@Model.Id" />
    <input type="hidden" id="empleadoSolApr" name="empleadoSolApr" value="@Model.U_EMP" />
</div>
<!-- CONTENT -->
@Html.Partial("_modalAdminHelpHorarios")
@Html.Partial("_modalHistHorarios")
@Html.Partial("_modalConfirmAprob", notAprob)
@Html.Partial("_modalConfirmRecha", notRec)

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#toggle-btn").click(function () {
            $("#toggle-collapse").collapse('toggle'); // toggle collapse
        });
        $("#constancia-horario").addClass("constancia");
        lastIndexH =@indexH;
        horariosGenerales = @Html.Raw(horariosGeneral);
        recalcularHoras();
    });
</script>
