﻿@{
    if (ViewBag.Titulo == null) { ViewBag.Titulo = String.Empty; }
    String Titulo = ViewBag.Titulo;
}

<!-- STYLESHEETS -->
<link href="~/Content/shared/titulosolicitudes.css?version=1.4" rel="stylesheet" />

<div class="tittle">
    <div class="title-text">
        @Titulo
    </div>
    <div class="admin-header" >
        <header class="crz-header">Solicitudes</header>
        <header class="crz-header">Comentarios</header>
    </div>
</div>
