﻿@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "CustomError";
    String mensajeError = String.Empty;
    String detalleError = String.Empty;
    if (this.Session["LastError"] != null)
    {
        mensajeError = this.Session["LastError"].ToString();
        detalleError = this.Session["LastErrorDetail"].ToString();
    }
}
<!-- STYLESHEETS -->
<link href="~/Content/shared/error.css?V=1.2" rel="stylesheet" />



<div class="text-wrapper">
    <div class="circle">
        <div class="title" data-content="404">
            ¡Oops, Parece que sucedió algo!
        </div>

        <div class="subtitle" style="display: flex; flex-direction: column;">
                <p>Detalle del Error: </p>
                <p>@mensajeError</p>
                <div class="box-button-det">
                    <button class="expand-button" type="button" data-toggle="modal" data-target="#modalDetalleError" style="width: 20vw; height: 3vw; color: #00464e; font-family: 'Raleway'; font-size: 1.5rem; font-weight: 600; letter-spacing: 3px; border-radius: 10px;">
                        Ver detalle de Error
                    </button>
                </div>
        </div>

        <div class="buttons">
            <a href="@Url.Action("Index","Login")" class="button-error">Regresar a Inicio</a>
        </div>
    </div>
</div>

@Html.Partial("_modalDetalleError", detalleError)
