﻿@using Aplics.Servicios.Modelos.Nominix;
@using Aplics.Servicios.Modelos.Generales;
@using Aplics.Servicios.Modelos.Horarios;
@model EmpleadoEstudiante
@{
    ViewBag.Title = "ConfirmacionEmpleado";
    List<CatalogoGeneral> catalogoUniversidades = ViewBag.CatalogoUniversidades;
    VMHorarioLista HorarioEmpleado = ViewBag.Horarios;
    Boolean MostrarEnvio = false;
    NotificacionSolicitud notificacion = new NotificacionSolicitud();
    Boolean errorNotificacion = false;
    if (ViewBag.NotificacionHorario != null)
    {
        notificacion = ViewBag.NotificacionHorario;
        errorNotificacion = notificacion.Error;
        MostrarEnvio = true;
    }
    ViewBag.Consulta=true;
}
<!-- STYLESHEETS -->
<link href="~/Content/horarios/confirmacionempleado.css" rel="stylesheet" />

<!-- CONTENT -->
@Html.Partial("~/Views/Shared/_MenuHorarios.cshtml")
<div class="confirm-view">	  
    <div class="conf-1">
        <div class="datos-conf">																	  
            <div onclick="$('#btnEditaSolicitud').click();" class="card-header" style="border-top-right-radius:15px; border-top-left-radius: 15px; background-color: #183963; color: white; height: 10vh; padding: .5rem;">
                @using (Html.BeginForm("EditaSolicitud", "Horarios", FormMethod.Post, new { @id = "formEditaSolicitud", @class = "head-card-datos" }))
                {  
                    <button type="submit" id="btnEditaSolicitud" form="formEditaSolicitud"  style=" text-transform: capitalize;background-color:#183963; border-color: #183963; height: 100%; width: 100%; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw; letter-spacing: 10px;">
                    <i class="icon s-6 icon-account-card-details" style="color:#FFFFFF;"></i>
                    Tus Datos
                    </button>
                    <input type="hidden" id="id" Name="id" value="@Model.Id" />
                }																														
            </div>
            <div class="crz-form-wrapper">
                @Html.Partial("~/Views/Shared/_DatosSolicitudHorario.cshtml", Model)
            </div>
        </div>
        <div class="const-conf">					
            <div class="card-header" onclick="$('#btnEditaConstancia').click();" style="border-top-right-radius:15px; border-top-left-radius: 15px; background-color: #183963; color: white; height: 10vh; padding: .5rem;">
                @using (Html.BeginForm("VisorConstanciasPDF", "Horarios", FormMethod.Post, new { @class = "head-card-datos", @id = "formEditaConstacia" }))
                {
                <button type="submit" id="btnEditaConstancia" form="formEditaConstacia" style=" text-transform: capitalize;background-color:#183963; border-color: #183963; height: 100%; width: 100%; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw; letter-spacing: 10px;">
                    <i class="icon s-6 icon-file-pdf" style="color:#FFFFFF;"></i>
                    Tu Constancia
                </button>
                <input type="hidden" value="@Model.U_EMP" id="claveEmpleado" name="claveEmpleado" />
                <input type="hidden" value="@Model.Id" id="Id" name="Id" />
                }
            </div>
            <div class="vis-const-conf" id="VisorPDF">
                @Html.Partial("~/Views/Shared/_Constancia.cshtml")
            </div>
        </div>
    </div>
    <div class="conf-2">
            <div class="hor-conf">
                <div class="card" style="border-radius: 15px; margin-top: 1.5em;">
                    <div onclick="$('#btnEditaHorarios').click();" class="card-header" style="border-top-right-radius:15px; border-top-left-radius: 15px; background-color: #183963; color: white; height: 10vh; padding: .5rem;">
                        @using (Html.BeginForm("Horarios", "Horarios", FormMethod.Get, new { @id = "formEditaHorarios", @class = "head-card-datos" }))
                        {											   										  
                            <button type="submit" id="btnEditaHorarios" form="formEditaHorarios" style=" text-transform: capitalize;background-color:#183963; border-color: #183963; height: 100%; width: 100%; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw; letter-spacing: 10px;">
                                <i class="icon s-6  icon-school" style="color:#FFFFFF;"></i>
                                Tu Horario Escolar
                            </button>
                            <input type="hidden" id="Id" Name="Id" value="@Model.Id" />
                        }
                    </div>
                </div>
                <div class="vis-hor-conf">
                    @Html.Partial("~/Views/Shared/_DetalleHorarios.cshtml", HorarioEmpleado.Horarios)
                </div>
            </div>
            <div class="instr-conf">
                <div style="width: auto; height: 36em; padding-top: 4em;">
                    <h1 class="big-text-conf"> Si nececitas</h1>
                    <h1 class="big-text-conf"> editar algo, da click</h1>
                    <h1 class="big-text-conf"> en el nombre de la </h1>
                    <h1 class="big-text-conf"> seccion en el menú superior:</h1>
                    <img style="width: 100%; margin-bottom: 2rem;" alt="" src="../assets/images/user-help/confirmar-help.png">
                    <h1 class="big-text-conf">De lo contrario,</h1>
                    <h1 class="big-text-conf">da click en Enviar.</h1>
                </div>
            </div>
    </div>
    @using (Html.BeginForm("NotificarRH", "Horarios", FormMethod.Post, new { @id = "form1", @class = "box-button-conf", onsubmit = "$('#btnEnviarHorario').prop('disabled', true);" }))
    {
        <div style="display: flex; justify-content: flex-end;">
            @if (!MostrarEnvio || errorNotificacion)
            {
                <button id="btnEnviarHorario" class="btn" style=" text-transform: capitalize;background-color:#183963; border-color: #183963; height: 6vh; width: 14vw; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 900; font-size:1.5vw;" data-target="#modal-send-horario" data-toggle="modal">Enviar</button>
            }
            <input type="hidden" value="@Model.Id" id="Id" Name="Id" />
        </div>
    }

    @if (MostrarEnvio)
    {
        @Html.Partial("~/Views/Shared/_NotificacionEnvioSolicitud.cshtml", notificacion)
        <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                $("#modal-send-solicitud").modal("show");
            });
        </script>
    }
</div>




