﻿@model Aplics.Servicios.Modelos.Horarios.EmpleadoEstudiante
@{
    ViewBag.Title = "ControHorarios";
}

<!-- STYLESHEETS -->
<link href="~/Content/horarios/controhorarios.css?V=1.7" rel="stylesheet" />
<!-- CONTENT -->
@*@Html.Partial("~/Views/Shared/_MenuHorarios.cshtml")*@

<div class="hor-container">
    <div class="instructions">
        <i class="icon s-15  icon-account-card-details" style="color:#00464E"></i>
        <h2>
            Información Básica
        </h2>
        <h2>
            Rellena tus datos personales
        </h2>
        <div style="margin-top:2rem; margin-bottom: 2rem;">
            <img class="img-fluid" src="~/assets/images/user-help/user.png" />
        </div>
        <div class="instructions-p">
            <p style="margin-top: 2rem; margin-bottom: 2rem;">
                Recuerda cargar correctamente la vigencia, para evitar que se
                empalmen las fechas en caso de realizar veranos o cursos adicionales.
            </p>

            <p style="margin-top: 2rem; margin-bottom: 2rem;">
                Deberás indicar la fecha exacta de inicio y fecha exacta del fin de
                tu periodo escolar.
            </p>
        </div>
        <i class="icon s-17  icon-file-move" style="color:#00464E;"></i>
    </div>
    <div class="est-data">
        @Html.Partial("~/Views/Shared/_DatosSolicitudHorario.cshtml", Model)
    </div>
</div>
<!-- CONTENT -->
