﻿@{
    int Id = ViewBag.DocEntry;
    String claveEmpleado = this.Session["NoEmp"].ToString();
    String FileTransferControler = Url.Action("DocTransfer", "Horarios");
    String folderUpload = claveEmpleado;
    String functionUpload = "fnMuestraConstancia";
}

<!-- STYLESHEETS -->
<link href="~/Content/horarios/documento.css?V=1.5" rel="stylesheet" />

<!-- CONTENT -->
@*@Html.Partial("~/Views/Shared/_MenuHorarios.cshtml")*@
<div class="const-container">
    <div class="load-column">
        @*<div ID="PanelCarga" class="load-panel" ondragover="allowDrop(event);" ondrop="drop(event, this,'@FileTransferControler',@functionUpload);">>

        </div>*@
        <div ID="PanelCarga" class="load-panel" ondragover="allowDrop(event);" ondrop="drop(event, this,'@FileTransferControler',@functionUpload);">
            <h2 class="big-text">Sube</h2>
            <h2 class="big-text"> aqui</h2>
            <h2 class="big-text"> tu</h2>
            <h2 class="big-text"> constancia</h2>
            <p class="med-text"> **Solo admite formato pdf</p>
            <p class="med-text"> **Recuerda que la constancia debe incluir tu nombre completo.</p>
            @using (Html.BeginForm("UpLoadConstancia", "Horarios", FormMethod.Post, new { @class = "mt-8", @id = "formUpload", enctype = "multipart/form-data" }))
            {
                <div class="row" style="display: flex; justify-content: center;">
                    <input type="file" class="form-control" name="files" accept=".pdf" style="width: 90%; color: #183963;" />
                    <div style="display: flex; justify-content: flex-end; width: 90%;  margin-top: 1%;  margin-bottom: 2%;">
                        <button type="submit" class="btn" style="text-transform: capitalize;background-color:#183963; border-color: #183963;margin-top: 1rem; height: 4vw; width: 14vw; border-radius: 15px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 900; font-size:1.5vw;" onclick="$('#imgCopiar').show();">Cargar</button>
                    </div>
                </div>
                <input type="hidden" id="SolId" name="SolId" value="@Id" />
            }
            <img id="imgCopiar" runat="server" src="~/images/descargas.jpg" style=" visibility:hidden; display:none; height:60px;" />

            <div id="StatusBar"></div>
            <div id="status1"></div>
        </div>
        @using (Html.BeginForm("EditaSolicitud", "Horarios", FormMethod.Post, new { @id = "formEditaSolicitudh2", @class = "form-nav" }))
        {
            <button id="btnEditaSolicitudh2" type="submit" form="formEditaSolicitudh2" class="btn float-right" style="text-transform: capitalize;background-color:#CADEF6; border-color: #CADEF6 ;margin-top: 1rem; height: 4vw; width: 14vw; border-radius: 15px; color:#183963; font-family: 'Raleway'; font-weight: 900; font-size:1.5vw;">Regresar</button>
            <input type="hidden" id="id" Name="id" value="@Id" />
        }
        @*<button onclick="back();" class="btn float-right" style="text-transform: capitalize;background-color:#B2DFDB; border-color: #B2DFDB;margin-top: 1rem; height: 4vw; width: 14vw; border-radius: 15px; color:#00464E; font-family: 'Raleway'; font-weight: 900; font-size:1.5vw;">Regresar</button>*@
    </div>
    <div class="visual-column">
        <div class="visual-panel" id="VisorPDF">
            <div class="box-button-const">
                @if (TempData["Embed"] != null)
                {
                    using (Html.BeginForm("EliminarConstancia", "Horarios", FormMethod.Post, new { @class = "box-button-const", @id = "formEliminar" }))
                    {
                        <input type="hidden" value="@claveEmpleado" id="claveEmpleado" name="claveEmpleado" />
                        <input type="hidden" value="@Id" id="Id" name="Id" />
                        <button type="submit" id="btnEliminaConstancia" form="formEliminar" class="btn" style="margin-bottom: 20%; text-transform: capitalize;background-color:#B71C1C; border-color: #B71C1C; height: 6vh; width: 14vw; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw;">Eliminar</button>
                    }
                }
            </div>
            <div class="docto">
                <div id="valida-errores-const" ></div>
                @Html.Partial("~/Views/Shared/_Constancia.cshtml")  
            </div>
        </div>

        @using (Html.BeginForm("Horarios", "Horarios", FormMethod.Get, new { @id = "form1", @class = "box-button-const" }))
        {
            <button type="submit" form="form1" class="btn" style="text-transform: capitalize;background-color:#183963; border-color: #183963;margin-top: 1rem; height: 4vw; width: 14vw; border-radius: 15px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 900; font-size:1.5vw;" onclick="return ValidaArchivoConstancia();">Siguiente</button>
            <input type="hidden" value="@Id" id="Id" name="Id" />
        }
    </div>
</div>
<!-- CONTENT -->


@using (Html.BeginForm("VisorConstanciasPDF", "Horarios", FormMethod.Post, new { @class = "mt-8", @id = "formVisor" }))
{
    <input type="hidden" value="@claveEmpleado" id="claveEmpleado" name="claveEmpleado" />
    <input type="hidden" value="@Id" id="Id" name="Id" />
}
@*<script src="~/Scripts/FileTransfer.js?V=1.3"></script>*@
<script src="~/Scripts/ControldeHorarios/Empleado.js" asp-append-version="true"></script>
@*<script type="text/javascript" language="javascript">
        $(document).ready(function () {
            folderUpload = "@folderUpload";
            keyProcess = "@Id";
        });
</script>*@