﻿@using Aplics.Servicios.Modelos.Nominix;
@using Aplics.Servicios.Modelos.Horarios;

@model List<EmpleadoEstudiante>

@{
    if (ViewBag.Titulo == null) { ViewBag.Titulo = String.Empty; }
    String Titulo = ViewBag.Titulo;

    List<VMHorarioLista> HorariosEmpleado = ViewBag.HorariosEmpleado;
    String RolEmpleado = "4";
    String RolEstudiante = "3";
    String Rol = this.Session["TypeRol"].ToString();

    //String horariosGeneral = Newtonsoft.Json.JsonConvert.SerializeObject(HorariosEmpleado);
    String modelo = Newtonsoft.Json.JsonConvert.SerializeObject(Model);

    //Verificar si la semana es inglesa en la configuración:
    List<String> semana = new List<string>();
    semana.Add("Lunes");
    semana.Add("Martes");
    semana.Add("Miércoles");
    semana.Add("Jueves");
    semana.Add("Viernes");
    String semanaInglesa = Newtonsoft.Json.JsonConvert.SerializeObject(semana);

    //Verficar en configuración las horas hábiles del calendario
    List<String> horas = new List<string>();
    String horaEntera = String.Empty;

    for (int i = 6; i < 24; i++)
    {
        horaEntera = i.ToString().PadLeft(2, '0');
        horas.Add(horaEntera + ":00");
        horas.Add(horaEntera + ":30");
    }
    horas.Add("24:00");
    String horasHabiles = Newtonsoft.Json.JsonConvert.SerializeObject(horas);
}
<!-- SCRIPTS-->
<script src="~/Scripts/vue/vue-resource.min.js" asp-append-version="true"></script>
<script src="~/Scripts/vue/vue.js" asp-append-version="true"></script>
<script src="~/Scripts/ControldeHorarios/HorarioTeam.js" asp-append-version="true"></script>

<!-- STYLESHEETS -->
<link href="~/Content/horarios/horariosteam.css?V=1.1" rel="stylesheet" />

<!-- CONTENT -->
<div class="tittle">
    <div class="title-text">
        @Titulo
    </div>
</div>
<div id="horarios-team-view" class="main-cont">
    <div class="box-team">
        <div class="team-btn" @*style="border: 1px solid #183963; border-radius:10px; display: flex; width: 25%;"*@>
            <p>TEAM</p>
        </div>
        <div class="box-emp"  @*style="display:flex; width: 100vw; justify-content:space-evenly;"*@>

            <div v-for="(empleado, index) of empleadosCards" v-if="horariosTeam != null" class="emp-button" v-bind:style="colorEmp(index)">
                <img src="~/assets/images/user-help/user.png" />
                <div class="data-emp">
                    <p>{{empleado.nombre}}</p>
                    <p>{{empleado.U_EMP}}</p>
                    <p>{{empleado.Puesto}}</p>
                    <input checked type="checkbox" v-on:change="seleccionEmpleado(index, $event)">
                </div>
            </div>
        </div>
    </div>
    <div id="calendar-view" class="calendar-view" @*relativo*@>
        <div class="calendar-view-cont" @*absoluto*@>
            <table class="table-calendar">
                <thead class="t-head-calendar">
                    <tr class="t-head-calendar">
                        <th class="column-day"></th>
                        <th class="column-day" v-for=" dia in semana">{{dia}}</th>
                    </tr>
                </thead>
                <tbody class="t-body-calendar">
                    <tr class="t-body-calendar" v-for="hora in horas">
                        <td class="row-hour">{{hora}}</td>
                        <td class="row-hour" v-for=" dia in semana"></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <a v-for="(empleadoHorario, key, index) in empleadosSeleccionados"  class="barra" :data-tipo="empleadoHorario.tipoHorario" :id="'llave' + key + 'tipo' + empleadoHorario.tipoHorario" v-bind:style="barraHorario(empleadoHorario)" style="height: 15vh; width: 5vw; text-decoration: none;" tabindex="0" data-toggle="popover" data-trigger="focus" title="Horario" v-bind:data-content="descripcionPopUp(empleadoHorario, key)" data-html="true" data-placement="right">
            <i v-bind:class="iconoBarra(empleadoHorario)"></i>
            
        </a>
        
    </div>
</div>
<!-- CONTENT -->

<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        //horariosGenerales = horariosGeneral;
        console.log(@Html.Raw(modelo));
        //horariosGenerales = @*@Html.Raw(horariosGeneral)*@;
        setVueHorariosTeam(@Html.Raw(modelo), @Html.Raw(semanaInglesa), @Html.Raw(horasHabiles));
        
        //$('[data-toggle="popover"]').popover('.popover', function () {
        //    white - space: pre - wrap;
        //});
    });
</script>