﻿@using Aplics.Servicios.Modelos.Nominix;
@using Aplics.Servicios.Modelos.Horarios;
@model EmpleadoEstudiante
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ResumenSolicitud> ListaSolicitudes = ViewBag.ListaSolicitudes;
    String RolEmpleado = "3";
    String Rol = this.Session["TypeRol"].ToString();
}
<!-- STYLESHEETS -->
<link href="~/Content/horarios/statushorarios.css?V=1.1" rel="stylesheet" />

<div class="not-view-status">
    @if (Rol.Equals(RolEmpleado))
    {
        <scroll-container class="view-notification-status">
            <scroll-page class="background-list-status" id="DetalleSolicitudHorario">
                @if (Model != null)
                {
                    @Html.Partial("_solicitudHorario", Model)
                }
            </scroll-page>
        </scroll-container>

    }
</div>
