﻿@using Aplics.Servicios.Modelos.Horarios;
@{
    VMHorarioLista HorarioEmpleado = ViewBag.Horarios;
    List<Horario> horarios = HorarioEmpleado.Horarios;
}

<!-- STYLESHEETS -->
<link href="~/Content/horarios/horarios.css?version=1.7" rel="stylesheet" />
<script src="~/Scripts/jquery.validate.js" asp-append-version="true"></script>

<!-- CONTENT -->
@*@Html.Partial("~/Views/Shared/_MenuHorarios.cshtml")*@
<div class="view-hor">
    <div class="card">
        <div class="card-header" style="border-top-right-radius:15px; border-top-left-radius: 15px;background-color: #183963; color: white; height: 2.2em;">Ingresa tu horario escolar <i class="icon s-6 icon-school" style="color:#FFFFFF;"></i></div>
        <div class="content-card-hor">
            <div class="user-help-box">
                <div class="text-help">
                    <p>1. Ingresa tu horario escolar por día.</p>
                    <p>2. Es importante que indiques tu jornada escolar completa, </p>
                    <p style="text-indent: 20px;">la hora en la que inicias y la hora en la que finalizas tus</p>
                    <p style="text-indent: 20px;"> actividades en la Universidad. </p>
                    <p>3. Si tienes más de un horario el mismo  día (mañana-tarde):</p>
                    <p style="text-indent: 20px;"> a) Da click en el botón + para agregarlo</p>
                    <p style="text-indent: 20px;"> b) Da click en el botón - para eliminarlo</p>
                    <p>4. Utiliza el formato de 24 horas como en el ejemplo:</p>
                    <p>5. Si alguna de tus clases es en fin de semana, es en línea o debes hacer alguna aclaración:</p>
                    <p style="text-indent: 20px;"> a) Describe la situación en la caja de comentarios.</p>

                </div>
                <div class="img-user-help">
                    <img class="img-ejem" src="~/assets/images/user-help/formato-horario.png?version=1.2" alt="ejemplo formato de horario">
                </div>
            </div>
            @Html.Partial("~/Views/Shared/_DetalleHorarios.cshtml", horarios)
        </div>
    </div>
</div>
<!-- CONTENT -->
<script src="~/Scripts/ControldeHorarios/Empleado.js" asp-append-version="true"></script>