﻿@using Aplics.Servicios.Modelos.Nominix;
@using Aplics.Servicios.Modelos.Horarios;
@model EmpleadoEstudiante
@{
    ViewBag.Title = "_solicitudHorario";
    String Rol = this.Session["TypeRol"].ToString();

    List<VMHorarioLista> horarioLista = ViewBag.HorariosEmpleado;
    String[] ADias = { "L", "M", "M", "J", "V" };
    String[] ATipos = { "Horario Escolar", "Horario Laboral", "Horario Comida" };
    Byte tipoEscolar = 1;
    Byte tipoComida = 3;

    String iconoSolicitud = "icon-update";
    String statusSolicitud = "";
    if(Model.Status == "A")
    {
        statusSolicitud = "Aprobada";
        iconoSolicitud = "icon-check-circle-outline";
    }
    else if(Model.Status == "R")
    {
        statusSolicitud = "Rechazada";
        iconoSolicitud = "icon-minus-circle-outline";
    } else if(Model.Status == "P")
    {
        statusSolicitud = "Pendiente";
    } else if(Model.Status == "I")
    {
        statusSolicitud = "Por enviar";
    }

    List<VMHorarioLista> Comidas = new List<VMHorarioLista>();
    if (horarioLista != null && horarioLista.Count > 0)
    {
        Comidas = horarioLista.Where(x => x.Tipo == 3).ToList();
    }
    else
    {
        horarioLista = new List<VMHorarioLista>();
    }
    VMHorarioLista comida = new VMHorarioLista();
    String selectComida = String.Empty;
    byte curTipo = 0;
    Boolean cambioTipo = false;
    String tiempoComida = String.Empty;
}

<!-- STYLESHEETS -->
<link href="~/Content/permisos/mispermisos.css?V=1.2" rel="stylesheet" />

<!-- CONTENT -->
<div>
        <p class="tittle">Tu horario</p>

    <div  class="content-incidencia">
        <div class="card-rqst">
            <span>
                Solicitud @Model.Id @statusSolicitud .
                <br />
                <i class="icon s-6 @iconoSolicitud" style="color: #183963;"></i>
            </span>
        </div>
     
        <div class="cont-table-dev">
            <table id="table_id" class="table compact stripe hover row-border order-column" style="margin: 20px;">
            @foreach (var item in ViewBag.HorariosEmpleado)
            {
                if (item.Tipo >= tipoEscolar && item.Tipo <= tipoComida)
                {
                    if(curTipo!= item.Tipo)
                    {
                        <thead style="background-color: #CADEF6; color: #183963; font-family: 'Raleway';font-weight: bold; font-size: 1.6rem;">
                            <tr style=" background-color: #183963; color: #ffffff; font-size: 2rem; ">
                                <th colspan="6">@ATipos[item.Tipo-1]</th>
                            </tr>
                            <tr>
                                <th class="secondary-text">
                                    <div class="table-header">
                                        <p>Nombre</p>
                                        <span class="column-title"></span>
                                    </div>
                                </th>
                                @for(int dia= 0; dia < 5;dia++)
                                {
                                    <th class="secondary-text">
                                        <div class="table-header">
                                            <span class="column-title">@ADias[dia]</span>
                                        </div>
                                    </th>
                                }
                            </tr>
                        </thead>
                        curTipo = item.Tipo;
                        cambioTipo = true;

                    }
                    <tbody style="text-align: center; align-items:center; color:#183963; font-family: 'Raleway';font-weight: 500; background-color: #ECECEE;">
                        <tr>
                            <td class="name" style="vertical-align: top;">
                                @if (cambioTipo)
                                {
                                    <span>@Model.nombre</span>
                                    cambioTipo = false;
                                }
                            </td>
                            @for (int dia = 1; dia < 6; dia++)
                            {
                        <td class="type d-none d-md-table-cell" style="vertical-align: top;">
                            @foreach (var item2 in item.Horarios)
                            {
                                if (item.Tipo == tipoComida)
                                {
                                    if (dia == item2.dia)
                                    {
                                        if (item2.HoraInicial.ToString() == "00:00" && item2.HoraFinal.ToString() == "00:00")
                                        {
                                            tiempoComida = "No tiene horario de comida";
                                        }
                                        else if (item2.HoraInicial.ToString() == "01:00" && item2.HoraFinal.ToString() == "01:30")
                                        {
                                            tiempoComida = "30 min";
                                        }
                                        else if (item2.HoraInicial.ToString() == "01:00" && item2.HoraFinal.ToString() == "02:00")
                                        {
                                            tiempoComida = "1 hora";
                                        }
                                        else if (item2.HoraInicial.ToString() == "01:00" && item2.HoraFinal.ToString() == "02:30")
                                        {
                                            tiempoComida = "1 hora 30 min";
                                        }
                                        else if (item2.HoraInicial.ToString() == "01:00" && item2.HoraFinal.ToString() == "03:00")
                                        {
                                            tiempoComida = "2 horas";
                                        }
                                        <p>@tiempoComida</p>
                                    }
                                }
                                else
                                {
                                    if (dia == item2.dia)
                                    {
                                        <p>@String.Concat(item2.HoraInicial.ToString(), " - ", item2.HoraFinal.ToString())</p>
                                    }
                                }
                            }
                        </td>
                            }
                        </tr>
                    </tbody>
                }
            }
            </table>
        </div>
    </div>
</div>
<!-- CONTENT -->
