﻿
@{
    Layout = null;
}

<!DOCTYPE html>
@using Aplics.Servicios.Modelos.Horarios;
@model EmpleadoEstudiante
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Horario Estudiante</title>
    <!-- Icons.css -->
    <link type="text/css" rel="stylesheet" href="~/assets/icons/fuse-icon-font/style.css">
    <!-- Animate.css -->
    <link type="text/css" rel="stylesheet" href="~/assets/modulos/animate.css/animate.min.css">
    <!-- PNotify -->
    <link type="text/css" rel="stylesheet" href="~/assets/modulos/pnotify/dist/PNotifyBrightTheme.css">
    <!-- Nvd3 - D3 Charts -->
    <link type="text/css" rel="stylesheet" href="~/assets/modulos/nvd3/build/nv.d3.min.css" />
    <!-- Perfect Scrollbar -->
    <link type="text/css" rel="stylesheet" href="~/assets/modulos/perfect-scrollbar/css/perfect-scrollbar.css" />
    <!-- Fuse Html -->
    <link type="text/css" rel="stylesheet" href="~/assets/fuse-html/fuse-html.min.css" />
    <!-- Main CSS -->
    <link type="text/css" rel="stylesheet" href="~/assets/css/main.css">
    <!-- / STYLESHEETS -->
    <!-- JAVASCRIPT -->
    <!-- jQuery -->
    <script type="text/javascript" src="~/assets/modulos/jquery/dist/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <!-- Mobile Detect -->
    <script type="text/javascript" src="~/assets/modulos/mobile-detect/mobile-detect.min.js"></script>
    <!-- Perfect Scrollbar -->
    <script type="text/javascript" src="~/assets/modulos/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- Popper.js -->
    <script type="text/javascript" src="~/assets/modulos/popper.js/dist/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="~/assets/modulos/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Nvd3 - D3 Charts -->
    <script type="text/javascript" src="~/assets/modulos/d3/d3.min.js"></script>
    <script type="text/javascript" src="~/assets/modulos/nvd3/build/nv.d3.min.js"></script>
    <!-- Data tables -->
    <script type="text/javascript" src="~/assets/modulos/datatables.net/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="~/assets/modulos/datatables-responsive/js/dataTables.responsive.js"></script>
    <!-- PNotify -->
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotify.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyStyleMaterial.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyButtons.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyCallbacks.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyMobile.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyHistory.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyDesktop.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyConfirm.js"></script>
    <script type="text/javascript" src="~/assets/modulos/pnotify/dist/iife/PNotifyReference.js"></script>
    <!-- Fuse Html -->
    <script type="text/javascript" src="~/assets/fuse-html/fuse-html.min.js"></script>
    <!-- Main JS -->
    <script type="text/javascript" src="~/assets/js/main.js"></script>
    <!-- / JAVASCRIPT -->
</head>
<body>
    <scroll-container style="overflow-y: auto; scroll-behavior: smooth;">
        <scroll-page>
            @Html.Partial("_solicitudHorario", Model)
        </scroll-page>
    </scroll-container>
</body>
</html>
