﻿@using Aplics.Servicios.Modelos.Nominix;
@using Aplics.Servicios.Modelos.Horarios;
@model EmpleadoEstudiante
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    List<ResumenSolicitud> ListaSolicitudes = ViewBag.ListaSolicitudes;
    String RolEmpleado = "4";
    String RolEstudiante = "3";
    String Rol = this.Session["TypeRol"].ToString();
}
<!-- STYLESHEETS -->
<link href="~/Content/horarios/adminsolhorarios.css?version=2.1" rel="stylesheet" />

<script src="~/Scripts/ControldeHorarios/Empleado.js" asp-append-version="true"></script>


@Html.Partial("~/Views/Shared/_TituloSolicitudes.cshtml")

<div class="not-view">
    @if (!Rol.Equals(RolEmpleado) && !Rol.Equals(RolEstudiante))
    {
        @Html.Partial("~/Views/Shared/_FiltroSolicitudes.cshtml")
    }
    <div class="divListaResumenSol">

        <div class="notifications-list-hor">
            @Html.Partial("~/Views/Shared/_ListaResumenSolicitud.cshtml", ListaSolicitudes)
        </div>


        <scroll-container class="view-notification">
            <scroll-page class="background-list" id="DetalleSolicitudHorario">
                @if (Model != null && Model.Id > 0)
                {
                    @Html.Partial("_solicitudHorario", Model)
                }
                else
                {
                    <p class="text-no-view">Da clic en alguna notificación para vizualizarla aquí</p>
                }
            </scroll-page>
        </scroll-container>
    </div>
</div>
