﻿.tittle {
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Raleway' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 3.7vw;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #00897B;
}

.tittle-text {
    display: flex;
    height: 11vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

div a:hover {
    color: white;
}

.not-view {
    display: flex;
    flex-direction:column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ECECEE;
    margin: 0;
    padding: .5px;
}

.admin-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-right: 1px;
}

scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

    scroll-container::-webkit-scrollbar {
        display: none;
    }

scroll-page::-webkit-scrollbar {
    display: none;
}

.notifications-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 600px;
    margin-right: 1px;
}

.crz-header {
    background-color: #00464E;
    width: 100%;
    height: 10vh;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 2.7vw;
    color: #FFFFFF;
    vertical-align: middle;
    margin-left: 1px;
}

.background-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #ECECEE;
    border-radius: 10px;
    margin: 0;
}

.request {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
}

.data-rqst {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: flex-start;
    color: #00464E;
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: 1px;
}

.date-rqst {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: flex-end;
    color: #00464E;
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: 1px;
}

.notifications-list hr {
    width: 100%;
    height: 1;
    margin: 0;
    border-color: #00464E;
}

.view-notification {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-left: 1px;
    background-color: #ECECEE;
    border-radius: 10px;
}

.text-no-view {
    display: flex;
    color: #00464e;
    font-family: 'Raleway';
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 20px;
}




