﻿.cont-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 90%;
}

.request-admin {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
}


.info-rqst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2%;
}

.tittle-rqst {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px;
    color: #00464E;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 700;
}



.card-rqst {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    font-family: 'Raleway';
    font-size: 1.8rem;
    font-weight: 600;
    color: #00464E;
    background-color: #ffffff;
    border: 1px solid #00464E;
    border-radius: 10px;
    padding: 15px;
}

.header-card-rqst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

    .header-card-rqst img {
        width: 15%;
    }

.info-empleado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    color: #00464E;
    font-family: 'Raleway';
    font-size: 1.3rem;
    font-weight: 600;
    text-align: right;
}

.cont-card-rqst,
.cont-card-modif {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.tipo {
    width: 40%;
    color: #00464E;
    font-family: 'Raleway';
    font-size: 1.2rem;
    font-weight: 600;
}

.pet-usuario,
.mod-superior {
    width: 60%;
    color: #00464E;
    font-family: 'Raleway';
    font-size: 1.2rem;
    font-weight: 500;
    text-align: right;
}

.list-coments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding: 2%;
}

.header-coments {
    color: #00464E;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 95%;
    margin: 0;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}





