﻿div .tittle {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Raleway' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 3.7vw;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #183963;
}

.not-views {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFFFFF;
    margin: 0;
    padding: .5px;
}


.header-historico {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1%;
}

.year-view {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1%;
    justify-content: space-evenly;
    align-items: center;
}

.user-data {
    display: flex;
    flex-direction: column;
    width: 65%;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1%;
}

    .user-data p {
        display: flex;
        color: #00464E;
        font-family: 'Raleway';
        font-size: 1.5rem;
        font-weight: 600;
        letter-spacing: 1px;
    }

div.box-button {
    display: flex;
    width: 25%;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
}

div .card {
    display: flex;
    height: 35vh;
    width: 25vw;
    margin: 1%;
    flex-direction: column;
    align-items: center;
}

div .card-tittle {
    display: flex;
    height: 10vh;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    letter-spacing: 3px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.balances {
    display: flex;
    width: 90%;
    height: 25%;
    margin: 0;
    align-items: center;
    font-family: 'Raleway',;
    font-style: normal;
    font-weight: 500;
    font-size: small;
    letter-spacing: 2px;
    color: #00464E;
}

.user-help {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 1%;
}

.box-button-help,
.expand-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    color: #00464E;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 700;
    cursor: pointer;
}

.step-1,
.step-3 {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.step-2,
.step-4 {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.step-1 p {
    width: 50%;
}

.step-2 p,
.step-4 p,
.step-3 p {
    width: 60%;
    margin: 0;
}

.box-text-step3 {
    display: flex;
    width: 60%;
    align-items: flex-end;
}

.step-1 img {
    width: 27%;
    /* height: 259px; */
}

.step-2 img,
.step-4 img {
    width: 35%;
    /* height: 259px; */
}

.img-button-nr {
    width: 20%;
    height: 25px;
}

.img-new-rqst {
    width: 40%;
    /* height: 259px; */
}

.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    color: #00464E;
    font-size: 2.8rem;
}

.box-buttons-hist-perm {
    display: flex;
    width: 95%;
    padding: 2px;
    margin: 2%;
    justify-content: space-between;
    align-items: center;
}

.btn-permiso {
    text-transform: capitalize;
    background-color: #00B8D4;
    border-color: #00B8D4;
    height: 3vw;
    width: 8vw;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1vw;
}

.btn-vacaciones {
    text-transform: capitalize;
    background-color: #3949AB;
    border-color: #3949AB;
    height: 3vw;
    width: 8vw;
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 1vw;
}
