﻿div .tittle {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Raleway' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 3.7vw;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #FF4081;
}

div .content-incidencia {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    margin: 0;
    padding: .5px;
}

.cont-table-dev {
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

div .actions-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
}

div .filter-box {
    display: flex;
    height: 8vh;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    background-color: #ECECEE;
    border-radius: 10px;
}

.label-select {
    display: flex;
    margin: 0;
    width: 10vw;
    color: #00464E;
    font-family: 'Raleway';
    letter-spacing: 0.1em;
    text-align: center;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
}

.content-select {
    display: flex;
    appearance: none;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.select-1 {
    color: #00464E;
    font-family: 'Raleway';
    font-size: 18px;
    background-color: #ECECEE;
    border: none;
    border-bottom: .5px solid #00464E;
    appearance: none;
}

.content-search i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #00464E;
    font-family: 'Raleway';
    font-size: 18px;
    text-align: center;
}

.button-box {
    width: 15%;
}

div a:hover {
    color: white;
}
