﻿.tittle {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Raleway' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 3.7vw;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #183963;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.not-view {
    display: flex;
    width: 96vw;
    justify-content: center;
    align-items: flex-start;
    background-color: #FFFFFF;
}

.content-r {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 1%;
}

div.box-button {
    display: flex;
    width: 80vw;
    justify-content: flex-end;
    align-items: center;
    height: 12vh;
}

div .card {
    display: flex;
    height: 35vh;
    width: 28vw;
    margin: 1%;
    flex-direction: column;
    align-items: center;
}

div .card-tittle {
    display: flex;
    height: 10vh;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    letter-spacing: 3px;
    color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.balances {
    display: flex;
    width: 90%;
    height: 25%;
    margin: 0;
    align-items: center;
    font-family: 'Raleway',;
    font-style: normal;
    font-weight: 500;
    font-size: small;
    letter-spacing: 2px;
    color: #00464E;
}

div .card-content-ex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 60%;
}

div a:hover {
    color: white;
}

.btn-info.active {
    background-color: #B2DFDB;
}

.err-conf {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 80vh;
}

.user-conf {
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
    color: red;
}
