﻿div .tittle {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Raleway' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 3.7vw;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #183963;
}

.card-rqst {
    display: flex;
    margin: 2% 4% 1%;
    float: right;
    justify-content: space-evenly;
    text-align: center;
    font-family: 'Raleway';
    font-size: 1.6rem;
    font-weight: 600;
    color: #183963;
    background-color: #ECECEE;
    border: 2px solid #183963;
    border-radius: 10px;
    padding: 15px;
}

.tittle-rqst {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px;
    color: #183963;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 700;
}


.table-header {
    text-align: center;
}

div .content-incidencia {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    margin: 0;
    padding: .5px;
}

.cont-table-dev { 
    display: flex;
    width: 95%;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.table thead th {
    vertical-align: unset;
    text-align: center;
    font-weight: 700;
}

.secondary-text {
    width: 100px;
    height: 60px;
    justify-content: center;

}

div .actions-container {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2%;
}

div .filter-box {
    display: flex;
    height: 8vh;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    background-color: #ECECEE;
    border-radius: 10px;
}

.label-select {
    display: flex;
    margin: 0;
    width: 10vw;
    color: #183963;
    font-family: 'Raleway';
    letter-spacing: 0.1em;
    text-align: center;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
}

.content-select {
    display: flex;
    appearance: none;
    width: 40%;
    justify-content: space-around;
    align-items: center;
}

.select-1 {
    color: #183963;
    font-family: 'Raleway';
    font-size: 18px;
    background-color: #ECECEE;
    border: none;
    border-bottom: .5px solid #183963;
    appearance: none;
}

.content-search i {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #183963;
    font-family: 'Raleway';
    font-size: 18px;
    text-align: center;
}

.button-box {
    width: 15%;
}

div a:hover {
    color: white;
}
