﻿.list-coments-hist-permisos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 2%;
}

.header-coments {
    color: #183963;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 95%;
    margin: 10px;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.info-rqst-hist-permisos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 2%;
}

.card-rqst-hist-permiso {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    font-family: 'Raleway';
    font-size: 1.8rem;
    font-weight: 600;
    color: #183963;
    background-color: #ffffff;
    border: 1px solid #183963;
    border-radius: 10px;
    padding: 15px;
}
.cont-view-hist-rqst {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 90%;
}