﻿.box-buttons-modal {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: #183963;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
}
.data-request {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.no-rqst,
.success-rqst {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-size: 3rem;
    font-weight: 600;
    color: #183963;
}

.i-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #183963;
    font-size: 10rem;
    justify-content: center;
}