﻿.box-buttons-modal {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: #00464E;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
}

.data-request {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.no-rqst,
.success-rqst {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-size: 3rem;
    font-weight: 600;
    color: #00464E;
}

.i-text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00464E;
    font-size: 10rem;
    justify-content: center;
}
