﻿.tittle {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Raleway' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 3.7vw;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #183963;
}

div a:hover {
    color: white;
}

.not-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFFFFF;
    margin: 0;
    padding: .5px;
}
.data-request {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

    .data-request h2 {
        font-size: 2.6rem;
        color: #183963;
    }

    .data-request label {
        width: 100%;
        font-size: 1.6rem;
        color: #183963;
    }

.select-2 {
    width: 100%;
    color: #183963;
    font-family: 'Raleway';
    font-size: 18px;
    background-color: #FFFFFF;
    border: none;
    border-bottom: .5px solid #183963;
    appearance: none;
    margin-bottom: 3.2rem;
}

.subir {
    height: 5vh;
    padding: 5px 10px;
    background: #CADEF6;
    border: 0px solid #fff;
}

    .subir:hover {
        color: #fff;
        background: #183963;
    }

.info-file {
    background-color: #eceeee;
    width: 70%;
    height: 5vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .8%;
    color: #183963;
    font-family: 'Raleway';
    font-size: 1.5rem;
}

.box-buttons-modal {
    display: flex;
    width: 95%;
    justify-content: flex-end;
    color: #183963;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
}

.validateError {
    font-family: 'Roboto';
    font-size: 1.6rem;
    color: red;
}

.i-trash {
    display: flex;
    width: 10%;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.radio-button-group {
    display: flex;
    flex-direction: column;
}

.hide-radio-button {
    display: none;
}

.text-rb {
    font-family: 'Raleway';
    font-size: 1.6rem;
}