﻿
.data-request {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.error-detail {
    width: 95%;
    color: #183963;
    font-family: 'Raleway';
    font-size: 1.4rem;
    font-weight: 600;
    text-align: left;
    scroll-behavior: auto;
    overflow: auto;
}

