﻿
.tittle {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #3949ab;
}

.title-text {
    display: flex;
    height: 95%;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 3.7vw;
    letter-spacing: 2px;
    color: #FFFFFF;
}
.nav-perfil {
    display: flex;
    height: 10vh;
    width: 100%;
    background-color: #183963;
    color: #FFFFFF;
    justify-content: space-evenly;
    align-items: center;
}

.btn-nav-per {
    display: flex;
    width: 45%;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-size: 2.5rem;
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.content-per {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}


.content-col1,
.content-col2 {
    display: flex;
    width: 45%;
}