﻿@model IEnumerable<Aplics.Servicios.Modelos.Solicitudes>
@{
    Layout = null;
    ViewData["colors"] = " #3949AB";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title> CRZ - Mis Solicitudes </title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.js"></script>

    <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.ico" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <style type="text/css">
        [fuse-cloak],
        .fuse-cloak {
            display: none !important;
        }

        [aside],
        .aside {
            background-color: #00897B;
        }

        aside {
            font-family: 'Raleway';
            font-weight: 900;
            color: white;
        }

            aside .icon {
                color: white;
                font-size: 1.5vw;
            }

        .crz-nav {
            align-content: center;
            vertical-align: middle;
        }

        div .crz-nav-title {
            font-family: 'Raleway',;
            font-style: normal;
            font-weight: 400;
            font-size: 2.7vw;
            color: #FFFFFF;
            margin-top: 1vw;
            margin-left: 2vw;
        }

        div .tittle {
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0;
            font-family: 'Raleway' !important;
            font-style: normal;
            font-weight: 600;
            font-size: 3.7vw;
            letter-spacing: 2px;
            color: #FFFFFF;
            background-color: #00897B;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            height: fit-content;
            margin: 1%;
        }
        /* .content{
                display: flex;
                align-items: center;
                width: 100%;
                height: 100%;

            } */

        .content-r {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 100%;
            margin: 1%;
        }

        div.box-button {
            display: flex;
            width: 80vw;
            justify-content: center;
            align-items: center;
            height: 5vh;
        }

        div .card {
            display: flex;
            height: 35vh;
            width: 28vw;
            margin: 1%;
            flex-direction: column;
            align-items: center;
        }

        div .card-tittle {
            display: flex;
            height: 10vh;
            width: 100%;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            justify-content: center;
            align-items: center;
            font-size: 1em;
            letter-spacing: 3px;
            color: #FFFFFF;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }

        div .card-content {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            height: 100%;
        }

        .balances {
            display: flex;
            width: 90%;
            height: 25%;
            margin: 0;
            align-items: center;
            font-family: 'Raleway',;
            font-style: normal;
            font-weight: 500;
            font-size: small;
            letter-spacing: 2px;
            color: #00464E;
        }


        div .crz-nav-title.active {
            text-decoration: underline;
        }

        div a:hover {
            color: white;
        }

        .dropzone {
            border: none;
            padding: 2rem;
            background-color: transparent;
            height: 36em;
            width: auto;
            margin: 0.5rem;
        }

        form.dropzone {
            background: url('../assets/images/pdf.png') no-repeat center;
            background-size: 28vw 28vw;
        }

        .btn-info.active {
            background-color: #B2DFDB;
        }
    </style>
    <!-- Icons.css -->
    <link type="text/css" rel="stylesheet" href="../assets/js/dropzone-5.5.0/dist/dropzone.css">
    <!-- Icons.css -->
    <link type="text/css" rel="stylesheet" href="../assets/icons/fuse-icon-font/style.css">
    <!-- Animate.css -->
    <link type="text/css" rel="stylesheet" href="../assets/node_modules/animate.css/animate.min.css">
    <!-- PNotify -->
    <link type="text/css" rel="stylesheet" href="../assets/node_modules/pnotify/dist/PNotifyBrightTheme.css">
    <!-- Nvd3 - D3 Charts -->
    <link type="text/css" rel="stylesheet" href="../assets/node_modules/nvd3/build/nv.d3.min.css" />
    <!-- Perfect Scrollbar 40
    <link type="text/css" rel="stylesheet" href="../assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" />
    <!-- Fuse Html -->
    <link type="text/css" rel="stylesheet" href="../assets/fuse-html/fuse-html.min.css" />
    <!-- Main CSS -->
    <link type="text/css" rel="stylesheet" href="../assets/css/main.css">
    <!-- / STYLESHEETS -->
    <!-- JAVASCRIPT -->
    <!-- Dropzone -->
    <script type="text/javascript" src="../assets/js/dropzone-5.5.0/dist/dropzone.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="../assets/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Mobile Detect -->
    <script type="text/javascript" src="../assets/node_modules/mobile-detect/mobile-detect.min.js"></script>
    <!-- Perfect Scrollbar -->
    <script type="text/javascript" src="../assets/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- Popper.js -->
    <script type="text/javascript" src="../assets/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Nvd3 - D3 Charts -->
    <script type="text/javascript" src="../assets/node_modules/d3/d3.min.js"></script>
    <script type="text/javascript" src="../assets/node_modules/nvd3/build/nv.d3.min.js"></script>
    <!-- Data tables -->
    <script type="text/javascript" src="../assets/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../assets/node_modules/datatables-responsive/js/dataTables.responsive.js"></script>
    <!-- PNotify -->
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotify.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyStyleMaterial.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyButtons.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyCallbacks.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyMobile.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyHistory.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyDesktop.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyConfirm.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyReference.js"></script>
    <!-- Fuse Html -->
    <script type="text/javascript" src="../assets/fuse-html/fuse-html.min.js"></script>
    <!-- Main JS -->
    <script type="text/javascript" src="../assets/js/main.js"></script>
    <!-- / JAVASCRIPT -->
</head>

<body class="layout layout-vertical layout-left-navigation layout-below-toolbar layout-below-footer">
    <main>
        <div id="wrapper">
            <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left" style="background-color: #00897B;">
                <div class="aside-content text-auto" style="background-color: #00897B;">

                    <div class="aside-toolbar" style="background-color: rgb(40, 131, 122);">
                        <div class="logo">
                            <span class="logo-icon" style="font-family: Tianne; background-color: #C4C4C4; border-radius: 90px">CRZ</span>
                            <span class="logo-text" style="font-family: Tianne;">CHEVEZ RUIZ ZAMARRIPA</span>
                        </div>

                        <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                            <i class="icon icon-backburger"></i>
                        </button>

                    </div>

                    <ul class="nav flex-column crz-sidenav" id="sidenav" data-children=".nav-item" style="background-color: #00897B;">

                        <li class="nav-item" role="tab">

                            <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapse-dashboards">

                                <i class="icon s-4 icon-clipboard-text"></i>

                                <span>VACACIONES Y PERMISOS</span>
                            </a>
                            <ul id="collapse-dashboards" class='collapse ' role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

                                <li class="nav-item">
                                    <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                        <span> </span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                <i class="icon s-4  icon-clipboard-account"></i>

                                <span>MIS SOLICITUDES</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                <i class="icon s-4  icon-clipboard-account"></i>

                                <span>HISTÓRICO DE DESCANSOS</span>
                            </a>
                        </li>

                        <li class="nav-item" role="tab">

                            <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapse-dashboards">

                                <i class="icon s-4 icon-clock"></i>

                                <span> CONTROL DE HORARIOS</span>
                            </a>
                            <ul id="collapse-dashboards" class='collapse ' role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

                                <li class="nav-item">
                                    <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                        <span> </span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                <i class="icon s-4 icon-calendar-clock"></i>

                                <span>SOLICITUD DE HORARIO</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                <i class="icon s-4 icon-file-find"></i>

                                <span>DOCUMENTOS</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                <i class="icon s-4 icon-calendar-range"></i>

                                <span>CALENDARIO</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                <i class="icon s-4 icon-bell"></i>

                                <span>NOTIFICACIONES</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </aside>

            <div class="content-wrapper" style="background-color: white">
                <nav id="toolbar">

                    <div class="row no-gutters align-items-center flex-nowrap" style="background-color: #ECECEE;">

                        <div class="col" style="background-color: #ECECEE;">

                            <div class="row no-gutters align-items-center flex-nowrap" style="background-color: #ECECEE;">

                                <button type="button" class="toggle-aside-button btn btn-icon d-block d-lg-none" data-fuse-bar-toggle="aside">
                                    <i class="icon icon-menu"></i>
                                </button>

                                <div class="toolbar-separator d-block d-lg-none"></div>

                                <div class="toolbar-separator"></div>

                            </div>
                        </div>

                        <div class="col-auto">

                            <div class="row no-gutters align-items-center justify-content-end">

                                <div class="user-menu-button dropdown">

                                    <div class="dropdown-toggle ripple row align-items-center no-gutters px-2 px-sm-4" role="button" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="avatar-wrapper">
                                            <img class="avatar" src="../assets/images/avatars/profile.jpg">
                                        </div>
                                        <span class="username mx-3 d-none d-md-block" style="font-family: 'Raleway'; font-size: 2vw;">César p</span>
                                    </div>

                                    <div class="dropdown-menu" aria-labelledby="dropdownUserMenu">

                                        <a class="dropdown-item" href="#">
                                            <div class="row no-gutters align-items-center flex-nowrap">
                                                <i class="icon-account"></i>
                                                <span class="px-3"> </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="toolbar-separator"></div>

                                <div class="user-menu-button dropdown">


                                    <div class="dropdown-toggle ripple row align-items-center no-gutters px-2 px-sm-4" role="button" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon s-7 icon-bell"></i>

                                    </div>

                                    <div class="dropdown-menu" aria-labelledby="dropdownUserMenu">
                                        <a class="dropdown-item" href="#">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
                <div class="tittle">
                    Mis Solicitudes
                </div>
                <div class="content custom-scrollbar">

                    <div class="doc forms-doc page-layout simple full-width">
                        <!-- CONTENT -->
                        <div class="page-content">
                            <div class="content">
                                <div class="box-button">
                                    <button class="btn float-right" style=" text-transform: capitalize;background-color:#00897B; border-color: #00897B; height: 4vw; width: 14vw; border-radius: 10px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw;"> Nueva Solicitud </button>
                                </div>
                                <div class="row">
                                    <div class="col-md-3 form-horizontal">
                                        @using (Html.BeginForm("Index", "solicitudController", FormMethod.Get))
                                        {
                                            <br />
                                            <input type="text" class="form-control" name="fechaSol" placeholder="Fecha de SOlicitud" required autofocus>
                                            <br />
                                            <input type="password" class="form-control" name="fechaIn" placeholder="Fecha de Inicio" required>
                                            <br />
                                            <input type="password" class="form-control" name="fechaFin" placeholder="Fecha de termino" required>
                                            <br />
                                            <input type="password" class="form-control" name="NumEmp" placeholder="Numero de Empleado" required>
                                            <br />
                                            <input type="password" class="form-control" name="tipo" placeholder="Tipo de solicitud" required>
                                            <br />
                                            <button class="btn btn-primary" type="submit">
                                                Filtrar
                                            </button>

                                        }

                                    </div>
                                </div>
                                <table id="table_id" class="display">
                                    <thead>
                                        <tr>
                                            <th>NUMERO DE EMPLEADO</th>
                                            <th>TIPO DE SOLICITUD</th>
                                            <th>FECHA DE SOLICITUD</th>
                                            <th>FECHA INICIAL</th>
                                            <th>FECHA FINAL</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @if (Model != null)
                                        {

                                            foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@item.NumEmpleado</td>
                                                    <td>@item.TipoSolicitud</td>
                                                    <td>@item.FechaSolicitud</td>
                                                    <td>@item.FechaInicial</td>
                                                    <td>@item.FechaFinal</td>
                                                </tr>











                                            }
                                        }



                                    </tbody>
                                </table>

                                <



                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
<script>
    $(document).ready(function () {
        $('#table_id').DataTable();
    });

</script>
</html>