﻿@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="es-us">

<head>
    <title>CRZ - Modal Nueva Solicitud</title>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="../assets/favicon.ico" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700italic,700,900,900italic" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <!-- STYLESHEETS -->
    <style type="text/css">
        [fuse-cloak],
        .fuse-cloak {
            display: none !important;
        }

        [aside],
        .aside {
            background-color: #00897B;
        }

        aside {
            font-family: 'Raleway';
            font-weight: 900;
            color: white;
        }

            aside .icon {
                color: white;
                font-size: 1.5vw;
            }

        .crz-nav {
            align-content: center;
            vertical-align: middle;
        }

        div .crz-nav-title {
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 900;
            font-size: 2.7vw;
            color: #FFFFFF;
            margin-top: 1vw;
            margin-left: 10vw;
        }

        .modal-background {
            background-color: rgba(0,0,0,.8);
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 1;
            transition: all 1s;
        }

        .modal-new-request {
            background-color: #FFFFFF;
            padding: 10px 20px;
            margin: 10% auto;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 80vw;
        }

        .close-modal,
        .close-modal a {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            text-decoration: none;
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            color: #00464E;
        }

            .close-modal a:hover {
                text-decoration: none;
                color: #00464E;
            }

        .modal-background :target {
            opacity: 1;
            pointer-events: auto;
        }

        .box-buttons-modal {
            display: flex;
            width: 100%;
            margin: 0;
            justify-content: flex-end;
        }

        .data-request {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

            .data-request h2 {
                font-size: 2.6rem;
                color: #00464E;
            }

            .data-request label {
                width: 100%;
                font-size: 1.6rem;
                color: #00464E;
            }

        .select-2 {
            width: 100%;
            color: #00464E;
            font-family: 'Raleway';
            font-size: 18px;
            background-color: #FFFFFF;
            border: none;
            border-bottom: .5px solid #00464E;
            appearance: none;
            margin-bottom: 3.2rem;
        }

        div a:hover {
            color: white;
        }

        .crz-form-wrapper {
            background-color: #ECECEE;
            border-radius: 10px;
            padding-left: 1em;
            padding-top: 4em;
            padding-right: 1em;
            height: 30rem;
            width: 100%;
            text-align: center;
            font-family: 'Raleway',;
            font-style: normal;
            font-weight: 300;
            font-size: 2.7vw;
            color: #00464E;
            vertical-align: middle;
        }

        label {
            color: #00464E;
            font-family: 'Raleway',;
            font-style: normal;
            font-weight: 400;
        }

        h3 {
            color: #00464E;
            font-family: 'Raleway',;
            font-style: normal;
            font-weight: 300;
        }
    </style>

    <!-- Icons.css -->
    <link type="text/css" rel="stylesheet" href="../assets/icons/fuse-icon-font/style.css">
    <!-- Animate.css -->
    <link type="text/css" rel="stylesheet" href="../assets/node_modules/animate.css/animate.min.css">
    <!-- PNotify -->
    <link type="text/css" rel="stylesheet" href="../assets/node_modules/pnotify/dist/PNotifyBrightTheme.css">
    <!-- Nvd3 - D3 Charts -->
    <link type="text/css" rel="stylesheet" href="../assets/node_modules/nvd3/build/nv.d3.min.css" />
    <!-- Perfect Scrollbar -->
    <link type="text/css" rel="stylesheet" href="../assets/node_modules/perfect-scrollbar/css/perfect-scrollbar.css" />
    <!-- Fuse Html -->
    <link type="text/css" rel="stylesheet" href="../assets/fuse-html/fuse-html.min.css" />
    <!-- Main CSS -->
    <link type="text/css" rel="stylesheet" href="../assets/css/main.css">
    <!-- / STYLESHEETS -->
    <!-- JAVASCRIPT -->
    <!-- jQuery -->
    <script type="text/javascript" src="../assets/node_modules/jquery/dist/jquery.min.js"></script>
    <!-- Mobile Detect -->
    <script type="text/javascript" src="../assets/node_modules/mobile-detect/mobile-detect.min.js"></script>
    <!-- Perfect Scrollbar -->
    <script type="text/javascript" src="../assets/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <!-- Popper.js -->
    <script type="text/javascript" src="../assets/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <!-- Bootstrap -->
    <script type="text/javascript" src="../assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Nvd3 - D3 Charts -->
    <script type="text/javascript" src="../assets/node_modules/d3/d3.min.js"></script>
    <script type="text/javascript" src="../assets/node_modules/nvd3/build/nv.d3.min.js"></script>
    <!-- Data tables -->
    <script type="text/javascript" src="../assets/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="../assets/node_modules/datatables-responsive/js/dataTables.responsive.js"></script>
    <!-- PNotify -->
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotify.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyStyleMaterial.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyButtons.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyCallbacks.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyMobile.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyHistory.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyDesktop.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyConfirm.js"></script>
    <script type="text/javascript" src="../assets/node_modules/pnotify/dist/iife/PNotifyReference.js"></script>
    <!-- Fuse Html -->
    <script type="text/javascript" src="../assets/fuse-html/fuse-html.min.js"></script>
    <!-- Main JS -->
    <script type="text/javascript" src="../assets/js/main.js"></script>
    <!-- / JAVASCRIPT -->
</head>

<body class="layout layout-vertical layout-left-navigation layout-below-toolbar layout-below-footer">
    <main>
        <div id="wrapper">
            <aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left" style="background-color: #00897B;">
                <div class="aside-content text-auto" style="background-color: #00897B;">

                    <div class="aside-toolbar" style="background-color: #00897B;">
                        <div class="logo">
                            <span class="logo-icon" style="font-family: Tianne; background-color: #C4C4C4; border-radius: 90px">CRZ</span>
                            <span class="logo-text" style="font-family: Tianne;">CHEVEZ RUIZ ZAMARRIPA</span>
                        </div>

                        <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                            <i class="icon icon-backburger"></i>
                        </button>

                    </div>

                    <ul class="nav flex-column crz-sidenav" id="sidenav" data-children=".nav-item" style="background-color: #00897B;">

                        <li class="nav-item" role="tab">

                            <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapse-dashboards">

                                <i class="icon s-4 icon-clipboard-text"></i>

                                <span>VACACIONES Y PERMISOS</span>
                            </a>
                            <ul id="collapse-dashboards" class='collapse ' role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

                                <li class="nav-item">
                                    <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                        <span> </span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                <i class="icon s-4  icon-clipboard-account"></i>

                                <span>MIS SOLICITUDES</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                <i class="icon s-4  icon-clipboard-account"></i>

                                <span>HISTÓRICO DE DESCANSOS</span>
                            </a>
                        </li>

                        <li class="nav-item" role="tab">

                            <a class="nav-link ripple with-arrow collapsed" data-toggle="collapse" href="#" aria-expanded="false" aria-controls="collapse-dashboards">

                                <i class="icon s-4 icon-clock"></i>

                                <span> CONTROL DE HORARIOS</span>
                            </a>
                            <ul id="collapse-dashboards" class='collapse ' role="tabpanel" aria-labelledby="heading-dashboards" data-children=".nav-item">

                                <li class="nav-item">
                                    <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                        <span> </span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                <i class="icon s-4 icon-calendar-clock"></i>

                                <span>SOLICITUD DE HORARIO</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                <i class="icon s-4 icon-file-find"></i>

                                <span>DOCUMENTOS</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                <i class="icon s-4 icon-calendar-range"></i>

                                <span>CALENDARIO</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link ripple " href="#" data-url="user-interface-elements-forms.html">

                                <i class="icon s-4 icon-bell"></i>

                                <span>NOTIFICACIONES</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </aside>

            <div class="content-wrapper" style="background-color: white">
                <nav id="toolbar">

                    <div class="row no-gutters align-items-center flex-nowrap" style="background-color: #ECECEE;">

                        <div class="col" style="background-color: #ECECEE;">

                            <div class="row no-gutters align-items-center flex-nowrap" style="background-color: #ECECEE;">

                                <button type="button" class="toggle-aside-button btn btn-icon d-block d-lg-none" data-fuse-bar-toggle="aside">
                                    <i class="icon icon-menu"></i>
                                </button>

                                <div class="toolbar-separator d-block d-lg-none"></div>

                                <div class="toolbar-separator"></div>

                            </div>
                        </div>

                        <div class="col-auto">

                            <div class="row no-gutters align-items-center justify-content-end">

                                <div class="user-menu-button dropdown">

                                    <div class="dropdown-toggle ripple row align-items-center no-gutters px-2 px-sm-4" role="button" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <div class="avatar-wrapper">
                                            <img class="avatar" src="../assets/images/avatars/profile.jpg">
                                        </div>
                                        <span class="username mx-3 d-none d-md-block" style="font-family: 'Raleway'; font-size: 2vw;">César p</span>
                                    </div>

                                    <div class="dropdown-menu" aria-labelledby="dropdownUserMenu">

                                        <a class="dropdown-item" href="#">
                                            <div class="row no-gutters align-items-center flex-nowrap">
                                                <i class="icon-account"></i>
                                                <span class="px-3"> </span>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="toolbar-separator"></div>

                                <div class="user-menu-button dropdown">


                                    <div class="dropdown-toggle ripple row align-items-center no-gutters px-2 px-sm-4" role="button" id="dropdownUserMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon s-7 icon-bell"></i>

                                    </div>

                                    <div class="dropdown-menu" aria-labelledby="dropdownUserMenu">
                                        <a class="dropdown-item" href="#">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>

                <div class="content custom-scrollbar">

                    <div class="doc forms-doc page-layout simple full-width">
                        <!-- CONTENT -->
                        <div id="modalNewRequest" class="modal-background">
                            <div class="modal-new-request">
                                <div class="close-modal">
                                    <a href="">X</a>
                                </div>
                                <div class="data-request">
                                    @using (Html.BeginForm("NewSolicitud", "solicitudController", FormMethod.Post))
                                    {
                                        <h2>Nueva Solicitud - Empleado 308759</h2>
                                        <label for="select2">Tipo de Solicitud:</label>
                                        <select id="select2" class="select-2" id="inlineFormCustomSelect">
                                            <option selected>Seleccione</option>
                                            <option value="1">Concepto 1</option>
                                            <option value="2">Concepto 2</option>
                                            <option value="3">Concepto 3</option>
                                        </select>
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="dd-mm-aa">
                                            <label class="form-control-label" for="formGroupExampleInput">Fecha Inicial</label>
                                        </div>
                                        <div class="inputs-form form-group">
                                            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="dd-mm-aa">
                                            <label class="form-control-label" for="formGroupExampleInput">Fecha Final</label>
                                        </div>
                                        <div class="box-buttons-modal">
                                            <button class="btn float-right" style=" text-transform: capitalize; background-color:#ECECEE; border-color: #ECECEE; height: 3vw; width: 14vw; border-radius: 5px; color:#00897B; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw; margin-right: 1%;">Cancelar</button>
                                            <input type="submit" class="btn float-right" style=" text-transform: capitalize; background-color:#00897B; border-color: #00897B; height: 3vw; width: 14vw; border-radius: 5px; color:#FFFFFF; font-family: 'Raleway'; font-weight: 600; font-size:1.5vw;" value="Solicitar">
                                        </div>
                                    }



                                </div>
                            </div>
                        </div>
                        <!-- CONTENT -->
                    </div>

                </div>
            </div>
        </div>
    </main>
</body>
</html>