﻿.column-one {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-escolaridad {
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.cont-escolaridad {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ECECEE;
}

.datos-academ-tittle {
    border-radius: 5px;
    width: 100%;
    background-color: #5599EF;
    color: whitesmoke;
    font-family: 'Raleway';
    font-size: 2rem;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    cursor: pointer;
    font-weight: 600;
}

.form-escolaridad {
    width: 95%;
}

.text {
    color: #00464e;
    font-family: 'Raleway';
    font-size: 1rem;
}
.text2 {
    color: #00464e;
    font-family: 'Raleway';
    font-size: 1.4rem;
}

.radio-situacion {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #00464e;
}

.sit-acad {
    font-family: 'Raleway';
    font-size: 1.3rem;
    font-weight: 600;
}

.tittle-reduce {
    width: 80%;
}

.hide {
    display: none;
}

.showSave {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.p-message {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

.cont-p-message {
    display: flex;
    justify-content: center;
    align-items: center;
}