﻿.column-one {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-infogen,
.card-domicilio {
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.domicilio-tittle,
.infogen-tittle {
    border-radius: 5px;
    width: 100%;
    background-color: #5599EF;
    color: whitesmoke;
    font-family: 'Raleway';
    font-size: 2rem;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    cursor: pointer;
    font-weight: 600;
}

.cont-domicilio,
.cont-infogen {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ECECEE;
}

.form-domicilio,
.form-infogen {
    width: 95%;
}

.text {
    color: #00464e;
    font-family: 'Raleway';
    font-size: 1rem;
}

.tittle-reduce {
    width: 80%;
}

.hide {
    display: none;
}

.showSave {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.margin-msg {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
}

.cont-p-message {
    display: flex;
    justify-content: center;
    align-items: center;
}
