﻿.column-two
 {
    display:flex;
    flex-direction: column;
    width: 100%;
}

.card-equipo,
.card-data-emp {
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 10px;
}

.data-emp-tittle {
    border-radius: 5px;
    width: 100%;
    background-color: #CADEF6;
    color: #183963;
    font-family: 'Raleway';
    font-size: 2rem;
    justify-content: flex-end;
    align-items: center;
    display: flex;
    cursor: pointer;
    font-weight: 600;
}

.cont-data-emp,
.cont-equipo {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ECECEE;
}

.form-data-emp {
    width: 95%;
}

.cont-equipo-img {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.box-emp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    margin: 2%;
}
    .box-emp img {
        width: 50%;
    }

    .box-emp p {
        font-family: 'Raleway';
        font-size: 1.4rem;
        font-weight: 600;
        color: #00464e;
        margin: 2%;
    }

.text {
    color: #00464e;
    font-family: 'Raleway';
    font-size: 1rem;
}