﻿div .tittle {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Raleway' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 3.7vw;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #183963;
}

.doctos-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFFFFF;
    margin: 0;
    padding: .5px;
}


.crz-form-wrapper {
    background-color: #ECECEE;
    border-radius: 10px;
    padding-left: 1%;
    padding-top: 3%;
    padding-right: 1%;
    height: 30rem;
    width: 100%;
    text-align: center;
    font-family: 'Raleway',;
    font-style: normal;
    font-weight: 300;
    font-size: 2.7vw;
    color: #00464E;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    height: 98vh;
}
.visor-misdocs {
    display: flex;
    width: 100%;
    justify-content: center;
}

#constancia-horario {
    width: 90%;
    height: 100%;
}