﻿.text-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    justify-content: center;
    align-items: center;
    background-color: #dbdbdb ;
}

.circle {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 55%;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px 10px 50px 10px;
    background: #00464e;
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(-10deg);
    -ms-transform: skew(-10deg);
    -o-transform: skew(-10deg);
    transform: skew(-10deg);
}

.title {
    display: flex;
    color: whitesmoke;
    font-family: "Raleway";
    font-size: 3rem;
    font-weight: 600;
}

.subtitle {
    display: flex;
    width: 90%;
    height: 50%;
    color: whitesmoke;
    font-family: "Raleway";
    font-size: 1.5rem;
    font-weight: 500;
    justify-content: space-between;
}

.buttons {
    display: flex;
    
}
.box-button-det {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-error {
    display: flex;
    width: 10vw;
    height: 3vw;
    justify-content: center;
    align-items: center;
    background-color: #00464e;
    color: whitesmoke;
    font-family: "Raleway";
    font-size: 1.5rem;
    font-weight: 600;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    text-decoration: none;
}