﻿.search-bar {
    display: flex;
    justify-content: space-around;
    width: 40%;
    border: 1px solid #183963;
    border-radius: 5px;
    padding: 5px;
    height: 100%;
    text-align: center;
}

.inp-search-bar::placeholder {
    color: #183963;
}

    .box-search-bar {
        display: flex;
        width: 100%;
        height: 90%;
        justify-content: space-around;
        align-items: center;
        background-color: #ECECEE;
        border-bottom: 1px solid #183963;
        padding: 5px;
    }

.container-search-bar {
    display: flex;
    width: 100%;
    height: 9vh;
    justify-content: center;
    align-items: center;
}

.f-search{
    width: 100%;
    display: flex;
}
