﻿.bkg-log {
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgba(74, 133, 208, 0), rgba(74, 133, 208, 1));
    background-image: linear-gradient(to bottom right,rgba(74, 133, 208, 0), rgba(74, 133, 208, 1));
    background-image: -moz-linear-gradient(to bottom right,rgba(74, 133, 208, 0), rgba(74, 133, 208, 1));
    background-image: -webkit-linear-gradient(to bottom right,rgba(74, 133, 208, 0), rgba(74, 133, 208, 1));
    background-image: -o-linear-gradient(to bottom right,rgba(74, 133, 208, 0), rgba(74, 133, 208, 1));
    border-color: #32CD32;
}
.crz-img {
    -webkit-filter: brightness(75%);
    filter: brightness(100%);
}
.invalid-password {
    font-size: 1.4rem;
    color: red;
    margin-top: 1rem;
}


.box-redir-office {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: space-evenly;
    align-items: center;
}

.box-text-redir {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    height: 30%;
}

.text-redir {
    color: #00464e;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
}

.box-text-noaccount {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
}

.box-text-danger {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 30%;
    justify-content: space-evenly;
    align-items: center;
}

.box-sign-out {
    display: flex;
    width: 20vw;
    height: 5vh;
    justify-content: center;
    align-items: center;
    border: 1px solid #00464e;
    border-radius: 10px;
}

    .box-sign-out a {
        color: #00464e;
        font-family: 'Raleway';
        font-size: 2rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-decoration: none;
    }


.box-error-message {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: flex-start;
    align-items: center;
}

.box-text-error-message {
    display: flex;
    flex-direction: column;
    width: 95%;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    border-radius: 10px;
    text-align: left;
}

.box-txt {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 95%;
}

.text-error {
    color: #00464e;
    font-family: 'Raleway';
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: 2px;
}