﻿
.scroll-container {
    overflow-y: scroll;
    scroll-behavior: smooth;
    cursor: all-scroll;
}
.scroll-page {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.scroll-container::-webkit-scrollbar-thumb {
    display: flex;
    width: 12px;
    height: 0px;
    background-color: #F5F5F5
}

.notifications-list {
    margin: 5px;
    margin-right: 1px;
    border: 1px solid #183963;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 15px;
    height: 460px;
    overflow: scroll;
    cursor: all-scroll;
}

    .notifications-list::-webkit-scrollbar {
        display: flex;
        width: 12px;
        height: 0px;
        background-color: #F5F5F5;
    }

    .notifications-list::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .notifications-list::-webkit-scrollbar-thumb {
        height: 30%;
        border-radius: 10px;
        background-color: #183963;
    }


.res-solicitud {
    display: flex;
    width: 100%;
}


.request {
    display: flex;
    width: 95%;
    justify-content: space-between;
    margin-top: 1%;
    margin-bottom: 1%;
}

.data-rqst {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    align-items: flex-start;
    color: #183963;
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: 1px;
}

.date-rqst {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
    align-items: flex-end;
    color: #183963;
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-weight: 600;
    letter-spacing: 1px;
}


