﻿.cont-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    width: 90%;
}

.request-admin {
    display: flex;
    justify-content: center;
    /*align-items: baseline;*/
    width: 100%;
}

.info-rqst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 2%;
}

.tittle-rqst {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px;
    color: #00464E;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 700;
}

.card-rqst {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    font-family: 'Raleway';
    font-size: 1.8rem;
    font-weight: 600;
    color: #00464E;
    background-color: #ffffff;
    border: 1px solid #00464E;
    border-radius: 10px;
    padding: 3%;
}

.header-card-rqst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

    .header-card-rqst img {
        width: 15%;
    }

.info-empleado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    color: #00464E;
    font-family: 'Raleway';
    font-size: 1.3rem;
    font-weight: 600;
    text-align: right;
}

.cont-card-rqst,
.cont-card-modif {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.cont-card-rqst {
    flex-direction: column;
}

.row-text {
    display: flex;
    width: 100%;
    align-items: baseline;
}

.tipo {
    width: 40%;
    color: #00464E;
    font-family: 'Raleway';
    font-size: 1.2rem;
    font-weight: 600;
}

.pet-usuario,
.mod-superior {
    width: 60%;
    color: #00464E;
    font-family: 'Raleway';
    font-size: 1.2rem;
    font-weight: 500;
    text-align: right;
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.list-coments {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    padding: 2%;
}

.header-user-help {
    color: #00464E;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    margin: 5px;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.aprobation-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    border: 1px solid #00464E;
    border-radius: 10px;
    color: #00464E;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

.instructions-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}

.approve,
.reject {
    display: flex;
    width: 90%;
    color: #00464E;
    font-family: 'Raleway';
    font-size: 1.2rem;
    text-align: justify;
}

.button-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 35%;
}

.status-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: 1px solid #00464E;
    border-radius: 10px;
    background-color: whitesmoke;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}


