﻿.tittle {
    height: 22vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Raleway' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 3.7vw;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #3949ab;
}

.tittle-text {
    display: flex;
    height: 11vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.admin-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin-right: 1px;
}

.crz-header {
    background-color: #183963;
    width: 100%;
    height: 10vh;
    text-align: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 900;
    font-size: 2.7vw;
    color: #FFFFFF;
    vertical-align: middle;
    margin-left: 1px;
}