﻿@using Aplics.Servicios.Entidades.DAO.Nominix
@model Empleados
@{
    ViewBag.Title = "MiPerfil";
    if (ViewBag.Titulo == null) { ViewBag.Titulo = String.Empty; }
    String Titulo = ViewBag.Titulo;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- STYLESHEETS -->
<link href="~/Content/Empleado/miperfil.css?version=1.5" rel="stylesheet" />

<!-- SCRIPTS -->
<script src="~/Scripts/Empleado/miPerfil.js" asp-append-version="true"></script>
<!-- CONTENT -->
<div class="tittle">
    <div class="title-text">
        @Titulo
    </div>
</div>
<nav class="nav-perfil">

    <input type="text" readonly class="form-control-plaintext btn-nav-per" id="btn-dat-per" value="Datos Personales" onclick="navMiPerfil(this);">
    <input type="text" readonly class="form-control-plaintext btn-nav-per" id="btn-dat-acad" value="Datos Acádemicos" onclick="navMiPerfil(this);">

</nav>
<div class="content-per">
    <div id="content-data" class="content-col1">
        @Html.Partial("~/Views/Shared/_DatosPersonales.cshtml", Model)
    </div>
    <div class="content-col2">
        @Html.Partial("~/Views/Shared/_DatosEmpleado.cshtml", Model)
    </div>
</div>
