﻿<div style="-ms-text-size-adjust:100%;margin-top:0;margin-bottom:0;margin-right:0;margin-left:0;padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#000000;-webkit-text-size-adjust:none;">
    <span style="display:none !important;visibility:hidden;mso-hide:all;font-size:1px;color:#ffffff;line-height:1px;max-height:0px;max-width:0px;opacity:0;overflow:hidden"></span>
    <table width="100%" cellpadding="0" cellspacing="0" bgcolor="#30373f" style="background-color:#D9E5E7">
        <tr><td><br /></td></tr>
        <tr>
            <td>
                <table width="600" bgcolor="#ffffff" cellpadding="0" cellspacing="0" align="center">
                    <tr>
                        <td>
                            <!-- BEGIN HEADER -->
                            <center>
                                <table width="600" cellpadding="0" cellspacing="0" align="center">
                                    <tr>
                                        <td align="center">
                                            <p style="margin:0;padding:0; background-color: #407d86">
                                                <a>
                                                    <img src="LogoEmpresa.jpg" width="600" style="display:block" />
                                                </a>
                                            </p>
                                        </td>
                                    </tr>
                                </table>
                            </center>
                            <!-- END HEADER -->
                            <!--navigation-->
                            <table width="100%" cellpadding="0" cellspacing="0" align="center" bgcolor="#1c5aa1" style="background-color: #1c5aa1;">
                                <tr>
                                    <td width="20"></td>
                                    <td align="left" style="padding: 9px 4px">
                                        <a style="font-size: 15px; line-height: 1; text-decoration: none; color: #FFFFFF;"><strong>@asuntodetalle</strong></a>
                                    </td>

                                </tr>
                            </table>
                            <!--end navigation-->
                            <!-- Beginning of Date Location -->
                            <!-- End of Date Location -->
                            <!-- Beginning of Headline -->
                            <center>
                                <table width="600" cellpadding="0" cellspacing="0" align="center">
                                    <tr>
                                        <td height="14" width="30" style="font-size:0;height:12px"></td>
                                        <td height="14" style="font-size:0;height:12px"></td>
                                        <td height="14" width="30" style="font-size:0;height:12px"></td>
                                    </tr>

                                    <!-- <tr> -->
                                    <!--<td width="40"></td>-->
                                    <!--<td style="color: #474646; text-align:left">-->
                                    <!-- Main Headline -->
                                    <!--<h1 align="center" style="margin:0; font-size: 29px; line-height: 1.2; font-family: Arial, Helvetica, sans-serif; color:#F04F52; font-weight:bold;">Titulo 1</h1>-->
                                    <!-- Main Sub-Headline -->
                                    <!--<h2 align="center" style="margin:0; font-size: 29px; line-height: 1.2; font-family: Arial, Helvetica, sans-serif; color:#E8AE39; font-weight:bold;">Titulo 2</h2>-->
                                    <!--</td>-->
                                    <!--<td width="40"></td>-->
                                    <!--</tr>-->

                                    <tr>
                                        <td height="15" width="30" style="font-size:0;height:15px"></td>
                                        <td height="15" style="font-size:0;height:0px"></td>
                                        <td height="15" width="30" style="font-size:0;height:15px"></td>
                                    </tr>
                                </table>
                            </center>
                            <!-- End of Headline -->
                            <!-- Empty Space -->
                            <center>
                                <table width="520" cellpadding="0" cellspacing="0" align="center">
                                    <tr><td height="10" width="30" style="font-size:0;height:10px;"></td></tr>
                                </table>
                            </center>
                            <!-- End Empty Space -->
                            <!-- Beginning of Extra Content -->
                            <center>
                                <table width="600" cellpadding="0" cellspacing="0" align="center">
                                    <tr>
                                        <td width="40"></td>
                                        <td width="520" style="color: #474646; text-align:left" valign="top">
                                            @detalle
                                        </td>
                                        <td width="40"></td>
                                    </tr>
                                </table>
                            </center>
                            <!-- End of Extra Content -->
                            <!-- Empty Space -->
                            <center>
                                <table width="520" cellpadding="0" cellspacing="0" align="center">
                                    <tr><td height="15" width="30" style="font-size:0;height:15px;"></td></tr>
                                </table>
                            </center>
                            <!-- End Empty Space -->
                            <!--END EXTRA INFO-->
                            <!-- CTA button -->
                            <center>
                                <table border="0" cellspacing="0" cellpadding="0" width="230">
                                    <tr>
                                        <!--REPLACE BGCOLOR WITH A COLOR OF YOUR CHOICE ON THE 'bgcolor' ATTRIBUTE-->
                                        <td align="center" width="250" style="width: 230px; padding: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px;color: #FFFFFF" bgcolor="#192d66">
                                            @accion
                                        </td>
                                    </tr>
                                </table>
                            </center>
                            <!--end CTA-->

                            <br />




                            <!-- Empty Space -->
                            <center>
                                <table width="520" cellpadding="0" cellspacing="0" align="center">
                                    <tr><td height="10" style="font-size:0;height:10px;"></td></tr>
                                </table>
                            </center>
                            <!-- End Empty Space -->
                            <!-- BEGIN Social Media Block -->
                            <center>
                                <table width="600" cellpadding="0" cellspacing="0" align="center">
                                    <tr>
                                        <td width="20"></td>
                                        <td valign="top" width="560" style="text-align:left; padding-top:0; padding-bottom: 10px;">


                                            <!--begin social media-->
                                            <p style="margin:0;padding:0; line-height: 2; font-size: 16px;" align="center">

                                                Más formas de contacto: <br />



                                                <a style="text-decoration: none;">
                                                    <img src="http://download.1105media.com/newsletters/ECG/events/2018/socialfacebook.png" border="0" />
                                                </a>


                                                <a style="text-decoration: none;">
                                                    <img src="http://download.1105media.com/newsletters/ECG/events/2018/socialtwitter.png" border="0" />
                                                </a>


                                                <a style="text-decoration: none;">
                                                    <img src="http://download.1105media.com/newsletters/ECG/events/2018/sociallinkedin.png" border="0" />
                                                </a>


                                                <a href="http://1105info.com/portal/wts/ugmcmQeefz-bbbEbbfgf%5Ecfsn9DOa" target="_blank" style="text-decoration: none;">
                                                    <img src="http://download.1105media.com/newsletters/ECG/events/2018/socialinstagram.png" border="0" />
                                                </a>


                                            </p>

                                            <!--end Social Media Block-->


                                        </td>
                                        <td width="20"></td>
                                    </tr>
                                </table>
                            </center>
                            <!-- End social media -->
                            <center>
                                <table width="100%" cellpadding="0" cellspacing="0" align="center" bgcolor="#efefef" style="background-color: #efefef;">
                                    <tr>
                                        <td width="20"></td>
                                        <td align="justify" style="padding: 9px 4px">
                                            <a style="font-size: 10px; line-height: 1; text-decoration: none; color: #3d3d3d">
                                                AVISO DE CONFIDENCIALIDAD, ALCANCE DE CONTENIDO Y PRIVACIDAD
                                                La informacion contenida en este mensaje de correo electronico, incluyendo, en su caso, los archivos adjuntos, se encuentra protegida por la Ley y tiene el carácter de confidencial y restringida, y esta destinada unicamente para el uso de la o las personas a que esta dirigido, por lo que se notifica que esta estrictamente prohibida cualquier difusion, distribucion o copia del mismo. Si ha recibido este mensaje de correo electronico por error, debe destruirlo y notificar al remitente por esta misma via. Todas las precauciones razonables han sido tomadas para asegurar que ningun virus o malware esten presentes en este correo electronico. XXXXXX no acepta responsabilidad por cualquier perdida o daño derivado del uso de este correo o sus archivos adjuntos y usted es responsable por asegurar que sus propios procedimientos de escaneo de virus esten actualizados y cumplan con el propósito. Los Datos Personales y sensibles que deriven de subsecuentes comunicaciones seran tratados en el marco de la Ley de Proteccion de Datos Personales en Posesion de Particulares. Para conocer nuestro Aviso de Privacidad Integral favor de acudir a nuestra página www.xxxx.com.mx donde podra encontrar la forma y el proceso para ejercer los derechos que por Ley le asisten. Los acentos y caracteres especiales han sido intencionalmente removidos de este mensaje para facilitar su lectura en cualquier programa de correo electronico.
                                                © XXXXX Calle No. 9999  Col. Colonia Del. Delegación, CP. 00000, CDMX.
                                                Tel. 999999 9999. Todos los derechos reservados.
                                            </a>
                                        </td>
                                        <td width="20"></td>
                                    </tr>
                                </table>
                            </center>
                        </td>
                    </tr>
                </table>

            </td>

        </tr>
        <tr><td><br /><br /></td></tr>
    </table>
</div>