﻿.divCalendario {
    display: flex;
    font-family: -apple-system;
    font-size: 100%;
    color: #333;
    justify-content: center;
}

.table-wrapper {
    max-width: 700px;
    overflow: scroll;
}

.tablaCalendario {
    border: 1px solid #ddd;
    border-collapse: collapse;
    cursor: pointer;
    width: 100%;
}

.celdaCalendario {
    white-space: nowrap;
    border: 1px solid #ddd;
    padding: 5px;
}

.celdaHorario {
    white-space: nowrap;
    border: 1px solid #ddd;
    padding: 0px;
}

.celdaEncabezadoCalendario {
    background-color: #eee;
    position: sticky;
    top: -1px;
    z-index: 2;
    text-align:center;
}

.SelectorHoja {
    left: 0;
    z-index: 3;
}

.SelectorFila {
    background-color: #eee;
    position: sticky;
    left: -1px;
    z-index: 1;
}

.SelectorFilaHorario {
    border: 1px solid #ddd;
    background-color: #eee;
    padding-left: 10px;
}