﻿.not-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ECECEE;
    margin: 0;
    padding: .5px;
}


    scroll-container {
        overflow-y: scroll;
        scroll-behavior: smooth;
    }

        scroll-container::-webkit-scrollbar {
            display: none;
        }

    scroll-page::-webkit-scrollbar {
        display: none;
    }

.view-notification {
    /*display: flex;*/
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    margin-left: 1px;
    background-color: #ECECEE;
    border-radius: 10px;
}

.text-no-view {
    display: flex;
    color: #183963;
    font-family: 'Raleway';
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    margin: 20px;
}

.divListaResumenSol {
    width: 100%; 
    display:flex; 
    cursor: all-scroll;
}

.notifications-list-hor {
    margin: 5px;
    margin-right: 1px;
    border: 1px solid #183963;
    border-radius: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    padding: 15px;
    height: 865px;
    overflow: scroll;
    cursor: all-scroll;
}

    .notifications-list-hor::-webkit-scrollbar {
        display: flex;
        width: 12px;
        height: 0px;
        background-color: #F5F5F5;
    }

    .notifications-list-hor::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        border-radius: 10px;
        background-color: #F5F5F5;
    }

    .notifications-list-hor::-webkit-scrollbar-thumb {
        height: 30%;
        border-radius: 10px;
        background-color: #183963;
    }

