﻿.confirm-view {
    display: flex;
    flex-direction:column;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFFFFF;
    margin: 0;
    padding: 1%;
}
.conf-1 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.datos-conf {
    display: flex;
    flex-direction: column;
    width: 49%;
}
.head-card-datos {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}

.const-conf {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.vis-const-conf {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20%;
    justify-content: center;
    background-color: #ececee;
}

.conf-2 {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.hor-conf {
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100%;
}

.vis-hor-conf {
    display: flex;
    width: 100%;
    padding: 2%;
    justify-content: center;
    background-color: #ececee;
    border-radius: 0px 0px 10px 10px;
}

.instr-conf {
    display: flex;
    flex-direction: column;
    width: 49%;
    height: 100%;
    padding: 1%;
}

.big-text-conf {
    color: #183963;
    font-size: 3rem;
    font-family: 'Raleway';
    font-weight: 700;
}

.box-button-conf {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 1%;
}
