﻿.hor-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
    background-color: #FFFFFF;
    margin: 0;
    padding: .5px;
}
.instructions {
    display: flex;
    margin-left: 13rem;
    flex-direction: column;
    width: 40%;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 1%;
}

    .instructions h2 {
        margin-top: 2rem;
        margin-bottom: 2rem;
        font-family: 'Raleway';
        font-size: 3rem;
        font-weight: 700;
        color: #183963;
    }

.instructions-p {
    margin: 0px;
    width: 100%;
    /*height: 15%;*/
    text-align: justify;
    align-items: center;
    justify-content: center;
    font-family: 'Raleway';
    font-size: 1.5rem;
    font-weight: 700;
    color: #183963;
}

.u-img{
    width: 15%;
    height: 20%;
}

.est-data {
    display: flex;
    width: 60%;
    justify-content: center;
}

