﻿.form-elim-hor {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}
.crz-form-wrapper {
    background-color: #ECECEE;
    border-radius: 10px;
    padding-left: 1em;
    padding-right: 1em;
}
.select-univ {
    width: 100%;
    color: #183963;
    font-family: 'Raleway';
    font-size: 1.6rem;
    background-color: #ECECEE;
    border: none;
    border-bottom: .5px solid #183963;
    appearance: none;
    margin-bottom: 3.2rem;
    padding-top: 1.6rem;
}

.select-univ1 {
    width: 100%;
    color: #183963 !important;
    font-family: 'Raleway' !important;
    font-size: 1.3rem;
    background-color: #ECECEE;
    border: none;
    border-bottom: .5px solid #183963;
    appearance: none;
    margin-bottom: 3.2rem;
    padding-top: 1.6rem;
}

.validateErrorHor {
    font-family: 'Roboto';
    font-size: 1.2rem;
    color: red;
}