﻿.box-inputs{
    display: flex;
    flex-direction:column;
    width: 95%;
}
.day {
    display: flex;
    width: 100%;
    padding-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}

.day-box,
.de-hor-box,
.a-hor-box {
    display: flex;
    width: 30%;
    height: 6vh;
    justify-content: center;
    align-items: flex-end;
}

.add-day-box {
    display: flex;
    width: 10%;
    height: 5vh;
    justify-content: center;
    align-items: flex-end;
}

.select-2 {
    width: 100%;
    color: #183963;
    font-family: 'Raleway';
    font-size: 1.6rem;
    background-color: #ececee;
    border: none;
    border-bottom: .5px solid #183963;
    appearance: none;
}

.box-button-hor {
    display: flex;
    justify-content:space-around;
    width: 100%;
}

.box-but-reg {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.box-but-sig {
    display: flex;
    width: 50%;
    justify-content: flex-end;
}

.inp-a {
    display: flex;
    width: 100%;
    height: 5vh;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3px;
}

input::-webkit-input-placeholder {
    color: #183963;
   text-align: center;
}

.msg-err {
    width: 20%;
    margin-top: 1rem;
    text-align: center;
    font-family: 'Raleway';
    font-size: 1.2rem;
    color: red;
}

