﻿.const-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #FFFFFF;
    margin: 0;
    padding: .5px;
    /*scroll-behavior: auto;
    overflow: scroll;*/
}

.load-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1%;
    justify-content: flex-start;
    align-items: flex-start;
}

.load-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    /*height: 65vh;*/
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #183963;
    border-radius: 10px;
}

.big-text {
    color: #183963;
    font-size: 5rem;
    font-family: 'Raleway';
    font-weight: 700;
    line-height: 7rem;
}

.med-text {
    color: #183963;
    font-size: 1.5rem;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: bold;
    line-height: 3rem;
}

.visual-column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1%;
    justify-content: flex-start;
    align-items: flex-start;
}

.visual-panel {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 65vh;
    justify-content: flex-start;
    align-items: center;
}

.box-button-const {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-start;
    height: 10vh;
}
.docto {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #ececee;
    border-radius: 10px;
    padding: 2%;
}

#valida-errores-const {
    display: flex;
    width: 2200em;
    justify-content: center;
    align-items: center;
    color: red;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
}