﻿.cont-view {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
}

.info-rqst {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    padding: 2%;
}

.tittle-rqst {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 5px;
    color: #183963;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 700;
}

.card-rqst {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    width: 100%;
    font-family: 'Raleway';
    font-size: 1.8rem;
    font-weight: 600;
    color: #183963;
    background-color: #ffffff;
    border: 1px solid #183963;
    border-radius: 10px;
    padding: 15px;
}

.header-card-rqst {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

    .header-card-rqst img {
        width: 15%;
    }

.info-empleado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 80%;
    color: #183963;
    font-family: 'Raleway';
    font-size: 1.3rem;
    font-weight: 600;
}

.cont-card-rqst {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;
}

.card-datos {
    display: flex;
    flex-direction: column;
}

.select-university {
    width: 100%;
    color: #183963;
    font-family: 'Raleway';
    font-size: 1rem;
    background-color: #FFFFFF;
    border: none;
    border-bottom: .5px solid #183963;
    appearance: none;
}

.col-horarios {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
}

.escolar,
.laboral,
.comida,
.horas-laboradas,
.total-horas-lab,
.total-horas-com,
.total-horas-sem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    font-family: 'Raleway';
    font-size: 1.4rem;
    font-weight: 700;
    text-align: center;
}

.escolar,
.horas-laboradas,
.total-horas-sem {
    background-color: rgba(0, 137, 123, 0.5);
}



.laboral,
.comida,
.total-horas-lab,
.total-horas-com {
    background-color: rgba(196, 196, 196, 0.377);
}

.box-time-lab {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.box-tot-lab,
.box-tot-com,
.box-tot-sem {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: 500;
}

.msg-int {
    color: #3949AB;
    font-family: 'Raleway';
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
}

.buttons-box {
    display: flex;
    width: 95%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
}

.Hor-Lab,
.Hor-Esc,
.Hor-Com {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    font-family: 'Raleway';
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 3px;
}

.Esc-De,
.Esc-A,
.Lab-De,
.Lab-A,
.Com-De,
.Com-A {
    display: flex;
    width: 40%;
    justify-content: space-between;
}

    .Esc-De p,
    .Esc-A p,
    .Lab-De p,
    .Lab-A p,
    .Com-De p,
    .Com-A p {
        display: flex;
        width: 50%;
    }

.de-hor-box,
.a-hor-box {
    display: flex;
    width: 45%;
    height: 5vh;
    justify-content: center;
    align-items: center;
    font-family: 'Raleway';
    font-size: 1.2rem;
    font-weight: 700;
}

.add-day-box {
    display: flex;
    width: 10%;
    height: 5vh;
    justify-content: center;
    align-items: center;
}

.select-comida {
    width: 100%;
    color: #183963;
    font-family: 'Raleway';
    font-size: 1.2rem;
    background-color: #FFFFFF;
    border: none;
    border-bottom: .5px solid #183963;
    appearance: none;
}

.tittle-accordion {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 70%;
    letter-spacing: 3.5px;
}

.arrow {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    width: 25%;
}

.list-coments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    padding: 2%;
}

.header-user-help {
    color: #183963;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 95%;
    margin: 5px;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}

    .header-user-help p {
        margin: 0;
    }

.tittle-help {
    font-weight: 600;
    color: #183963;
}
