﻿.view-hor {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFFFFF;
    margin: 0;
    padding: .5px;
}

.card {
    width: 95%;
    margin: 1%;
    border-radius: 15px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    color: #FFFFFF;
}

.content-card-hor {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ececee;
}

.user-help-box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #183963;
    border-radius: 5px;
}

.text-help {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    width: 50%;
    color: #183963;
    font-family: 'Raleway';
    font-size: 1.4rem;
    font-weight: 700;
    text-align: justify;
    letter-spacing: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.img-user-help {
    display: flex;
    width: 40%;
    height: 15vh;
}

.img-ejem {
    display: flex;
    width: 100%;
    border: 1px solid rgba(0, 70, 78, 0.452);
    border-radius: 5px;
}
