﻿.main-cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: .5px;
}

.tittle {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'Raleway' !important;
    font-style: normal;
    font-weight: 600;
    font-size: 3.7vw;
    letter-spacing: 2px;
    color: #FFFFFF;
    background-color: #183963;
}

.title-text {
    display: flex;
    height: 10vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.box-team {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 2%;
}

.team-btn {
    display: flex;
    width: 15%;
    color: #183963;
    font-family: 'Raleway';
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid #183963;
    border-radius: 10px;
}

.box-emp {
    display: flex;
    width: 80%;
    justify-content: flex-start;
}

.emp-button {
    display: flex;
    width: 30%;
    justify-content: space-between;
    border: 1px solid #183963;
    border-radius: 10px;
    margin-right: 1%;
    align-items: center;
}

.selection {
    border: 3px solid #183963;
}

.emp-button img {
    display: flex;
    height: 50%;
    margin-left: 2%;
}

.data-emp {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 10vh;
    justify-content: center;
    align-items: flex-start;
    font-family: 'Raleway';
    font-size: 1.1rem;
    color: #183963;
    font-weight: 600;
}

.data-emp p {
    margin:0;
}

.calendar-view {
    display: flex;
    width: 810px;
    border: 1px solid #183963;
    border-radius: 10px;
    margin-top: 1%;
    position: relative;
    scroll-behavior: auto;
    overflow: hidden;
    height: 953px;
}

.calendar-view-cont {
    width: 810px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    scroll-behavior: auto;
    overflow: hidden;
}

.table-calendar {
    display: flex;
    flex-direction: column;
    width: 810px;
}

.t-head-calendar {
    display: flex;
    justify-content: space-between;
    width: 810px;
}

.column-day {
    width: 135px;
    height: 30px;
    text-align: center;
}

.t-body-calendar {
    width: 810px;
}

.row-hour {
    width: 135px;
    height: 30px;
    font-family: 'Raleway';
    font-size: 1.5rem;
    color: #183963;
    border: 1px solid #183963;
}

.icon-barra {
    color: #183963;
}