﻿.toolbar-hor {
    display: flex;
    width: 100%;
    height: 10vh;
    justify-content: space-evenly;
    align-items: center;
    background-color: #183963;
}

.button-nav-box {
    display: flex;
    width: 20%; 
}

.form-nav {
    width: 100%;
}


div .crz-nav-title {
    width: 100%;
    font-family: 'Raleway',;
    font-weight: 400;
    font-size: 2vw;
    color: #FFFFFF;
   background-color: #183963;
}

