﻿.sh-help {
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}

.img-admin-help {
    width: 50%;
}

.box-buttons-modal-help {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    color: #183963;
    font-family: 'Raleway';
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.tittle-help {
    font-weight: 600;
    color: #183963 !important;
    cursor:pointer;
}
