﻿.data-request {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.no-rqst,
.success-rqst {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Raleway';
    font-size: 3rem;
    font-weight: 600;
    color: #183963;
}

.i-mail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    color: #183963 !important;
    font-size: 10rem !important;
    justify-content: center;
}

.box-buttons-modal-sn {
    display: flex;
    width: 95%;
    justify-content: flex-end;
    font-family: 'Raleway';
    font-size: 3rem;
    font-weight: 600;
}

.box-buttons-modal-sn a {
    color: #183963;
    text-decoration: none;
    appearance: none;
}

.i-back {
    color: #183963 !important;
}
